<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  {% block extrameta %}{% endblock %}
  <title>{% block title %}Uncle Frank{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'dashboard/favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'dashboard/favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'dashboard/favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'dashboard/favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'dashboard/favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'dashboard/favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'dashboard/favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'dashboard/favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'dashboard/favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'dashboard/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dashboard/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'dashboard/favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'dashboard/favicon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'dashboard/favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'dashboard/global/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/css/bootstrap-extend.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/site.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/custom.css' %}">
  <!-- Plugins -->
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/animsition/animsition.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/asscrollable/asScrollable.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/switchery/switchery.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/intro-js/introjs.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/slidepanel/slidePanel.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/flag-icon-css/flag-icon.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/chartist-js/chartist.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/jvectormap/jquery-jvectormap.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/plugins/star-rating/css/star-rating.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/plugins/star-rating/themes/krajee-fa/theme.min.css' %}">
  <!-- Fonts -->
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/weather-icons/weather-icons.css' %}">
   <!-- Fonts -->
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/glyphicons/glyphicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/web-icons/web-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/font-awesome/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/brand-icons/brand-icons.min.css' %}">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  {% block extracss %}{% endblock %}
  <!--[if lt IE 9]>
    <script src="../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
  <!--[if lt IE 10]>
    <script src="../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->
  <!-- Scripts -->
  <script src="{% static 'dashboard/global/vendor/modernizr/modernizr.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/breakpoints/breakpoints.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jquery/jquery.js' %}"></script>
  <script>
  	Breakpoints();
  </script>
  <style>
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
</head>
<body class="dashboard">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  {% block top_menu %}
    {% include 'dashboard/dashboard_top_menu.html' %}
  {% endblock %}



  {% block side_menu %}
    {% include 'dashboard/dashboard_side_menu.html' %}
  {% endblock %}
  

<!-- Page -->
{% block content %}
  
{% endblock %}

  <!-- End Page -->
  <!-- Footer -->
  <!-- Core  -->

  <script src="{% static 'dashboard/global/vendor/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/animsition/animsition.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/asscroll/jquery-asScroll.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/asscrollable/jquery.asScrollable.all.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
  <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-86820633-1', 'auto');  ga('send', 'pageview');
  </script>
  
  <!-- Plugins -->
  <script src="{% static 'dashboard/global/vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/skycons/skycons.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-js/chartist.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/jquery.jvectormap.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
  <!-- Scripts -->
  <script src="{% static 'dashboard/global/js/core.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/site.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menubar.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/gridmenu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/sidebar.js' %}"></script>
  <script src="{% static 'dashboard/global/js/configs/config-colors.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/configs/config-tour.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/asscrollable.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/animsition.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/slidepanel.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/switchery.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/matchheight.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/jvectormap.js' %}"></script>
  <script src="{% static 'dashboard/assets/examples/js/dashboard/v1.js' %}"></script>
  <script src="{% static 'dashboard/plugins/star-rating/js/star-rating.min.js' %}"></script>
  <script src="{% static 'dashboard/plugins/star-rating/themes/krajee-fa/theme.min.js' %}"></script>
  {% block extrajs %}{% endblock %}
</body>
</html>