<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  {% block extrameta %}{% endblock %}
  <title>{% block title %}Uncle Frank{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'dashboard/favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'dashboard/favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'dashboard/favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'dashboard/favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'dashboard/favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'dashboard/favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'dashboard/favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'dashboard/favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'dashboard/favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'dashboard/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dashboard/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'dashboard/favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'dashboard/favicon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'dashboard/favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'dashboard/global/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/css/bootstrap-extend.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/site.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/dashboard.css' %}">
  <!-- Plugins -->
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/animsition/animsition.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/asscrollable/asScrollable.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/switchery/switchery.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/intro-js/introjs.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/slidepanel/slidePanel.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/flag-icon-css/flag-icon.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/chartist-js/chartist.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/jvectormap/jquery-jvectormap.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">
  <!-- Fonts -->
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/weather-icons/weather-icons.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/web-icons/web-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/font-awesome/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/brand-icons/brand-icons.min.css' %}">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  {% block extracss %}{% endblock %}
  <!--[if lt IE 9]>
    <script src="../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
  <!--[if lt IE 10]>
    <script src="../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->
  <!-- Scripts -->
  <script src="{% static 'dashboard/global/vendor/modernizr/modernizr.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/breakpoints/breakpoints.js' %}"></script>
  <script>
  	Breakpoints();
  </script>
</head>
<body class="dashboard">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon wb-more-horizontal" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <img class="navbar-brand-logo" src="{% static 'dashboard/assets/images/logo.png' %}" title="Uncle Frank">
        <!-- <span class="navbar-brand-text">Errand Boy</span> -->
      </div>
    </div>
    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <li class="hidden-xs" id="toggleFullscreen">
            <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
              <span class="sr-only">Toggle fullscreen</span>
            </a>
          </li>
        </ul>
        <!-- End Navbar Toolbar -->
        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right nav-user">
          <li class="dropdown">
            <a class="navbar-avatar dropdown-toggle has-avt-name" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="{% static 'dashboard/assets/images/portraits/5.jpg' %}" alt="img">
                <i></i>
              </span>
              <span class="usr-name">Hello, <span class="uname">{% if customer %} {{ customer.name }} {% endif %}</span> </span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
              </li>
              <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon wb-payment" aria-hidden="true"></i> Billing</a>
              </li>
              <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
              </li>
              <li class="divider" role="presentation"></li>
              <li role="presentation">
                <a href="/customer/accounts/logout/" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
              </li>
            </ul>
          </li>
          <li class="v-divider" role="presentation"><span>|</span></li>
          <li><a href="/customer/accounts/logout/">Logout</a></li>
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->
      <!-- Site Navbar Seach -->
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  <div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          <div class="select-services text-center">
              <h5>Select a service</h5>
              <ul class="select-service-list clearfix">
                <li><a href=""><img src="{% static 'dashboard/assets/images/icons/sm/1-active.png' %}" alt="Courier"></a></li>
                <li><a href=""><img src="{% static 'dashboard/assets/images/icons/sm/2-active.png' %}" alt="Passenger Pickup"></a></li>
              </ul>
          </div>
          <ul class="site-menu">
            <li class="site-menu-item active">
              <a href="index.html">
                <i class="site-menu-icon wb-grid-4" aria-hidden="true"></i>
                <span class="site-menu-title">Dashboard</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a href="my-bookings.html">
                <i class="site-menu-icon wb-list" aria-hidden="true"></i>
                <span class="site-menu-title">My Bookings</span>
              </a>
            </li>
            <li class="site-menu-category site-menu-cate-stk"></li>
            <li class="site-menu-item">
              <a href="book-a-service.html">
                <i class="site-menu-icon wb-edit" aria-hidden="true"></i>
                <span class="site-menu-title">Book A Service</span>
              </a>
            </li>
            <li class="site-menu-category site-menu-cate-stk"></li>
            <li class="site-menu-item">
              <a href="account-information.html">
                <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                <span class="site-menu-title">Account Information</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a href="your-location.html">
                <i class="site-menu-icon wb-bell" aria-hidden="true"></i>
                <span class="site-menu-title">Your Location</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a href="payment.html">
                <i class="site-menu-icon wb-file" aria-hidden="true"></i>
                <span class="site-menu-title">Payment</span>
              </a>
            </li>
            <li class="site-menu-category site-menu-cate-stk"></li>
            <li class="site-menu-item">
              <a href="about-uncle.html">
                <i class="site-menu-icon wb-lock" aria-hidden="true"></i>
                <span class="site-menu-title">About Uncle Frank</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a href="partnership.html">
                <i class="site-menu-icon wb-user-circle" aria-hidden="true"></i>
                <span class="site-menu-title">Partnership</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a href="support.html">
                <i class="site-menu-icon wb-mobile" aria-hidden="true"></i>
                <span class="site-menu-title">Support</span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
<!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Welcome to your Dashboard!</h1>
        </div>
      </div>
      <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-4">
          <div class="panel panel-uncle has-hplink text-center">
            <div class="panel-body">
              <img src="{% static 'dashboard/assets/images/icons/1.png' %}" alt="Book a Courier" title="Book a Courier">
              <h2 class="title">Book a Courier</h2>
            </div>
            <a class="hplink" href="#"></a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-uncle has-hplink text-center">
            <div class="panel-body">
              <img src="{% static 'dashboard/assets/images/icons/2.png' %}" alt="Request for Pickup" title="Request for Pickup">
              <h2 class="title">Request for Pickup</h2>
            </div>
            <a class="hplink" href=""></a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-uncle has-hplink text-center">
            <div class="panel-body">
              <img src="{% static 'dashboard/assets/images/icons/3.png' %}" alt="Send Feedback" title="Send Feedback">
              <h2 class="title">Send Feedback</h2>
            </div>
            <a class="hplink" href=""></a>
          </div>
        </div>
      </div>
      <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-xlg-6 col-md-6">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title uppercase clearfix">my active bookings  <a href="" class="btn btn-flat btn-secondary pull-right mt-n8">View all</a>
              </h3>
            </div>
            <div class="panel-body">
              <div class=" mt-n4">
                <span class="state state-courier">Courier</span>
                <span class="state state-pending">Pending</span>
                <span class="state-bk-id ml-30">UF68483 <small>(UF29384728343234)</small></span>
              </div>
              
              <div class="row">
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">collection</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-calendar-o"></i> 18 May 2016</li>
                      <li><i class="icon fa-clock-o"></i> Morning (09:00am-12:00pm)</li>
                      <li><i class="icon fa-map-marker"></i> 56 Bukit Panjang Green</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">DELIVERY</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-calendar-o"></i> 20 May 2016</li>
                      <li><i class="icon fa-clock-o"></i> 3 Hours Express</li>
                      <li><i class="icon fa-map-marker"></i> Blk 43 Sengkang Street 86, #13-43</li>
                  </ul>
                </div>
              </div>
              <hr class="panel-in-hr">

              <div class="">
                <span class="state state-pickup">Pickup</span>
                <span class="state state-accepted">Accepted</span>
                <span class="state-bk-id ml-30">UF68483 <small>(UF29384728343234)</small></span>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">Pickup</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-map-marker"></i> Blk 27 Serangoon North Street 89, #10-32 884234 Singapore</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">Dropoff</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-map-marker"></i> Blk 27 Serangoon North Street 89, #10-32 884234 Singapore</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xlg-6 col-md-6">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title uppercase clearfix">account overview  <a href="" class="btn btn-flat btn-secondary pull-right mt-n8">Edit</a>
              </h3>
            </div>
            <div class="panel-body">
              <form action="" class="form-horizontal">
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">NAME</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" value="Christine Lai">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" value="Blk 231 Boon Lay Street 10, #09-41">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">postal code</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" value="323122">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">contact number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" value="9709-8489">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">email address</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control input-lg" value="christine_lai@email.com">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <!-- Core  -->
  <script src="{% static 'dashboard/global/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/animsition/animsition.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/asscroll/jquery-asScroll.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/asscrollable/jquery.asScrollable.all.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
  
  <!-- Plugins -->
  <script src="{% static 'dashboard/global/vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/skycons/skycons.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-js/chartist.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/jquery.jvectormap.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
  <!-- Scripts -->
  <script src="{% static 'dashboard/global/js/core.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/site.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menubar.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/gridmenu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/sidebar.js' %}"></script>
  <script src="{% static 'dashboard/global/js/configs/config-colors.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/configs/config-tour.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/asscrollable.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/animsition.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/slidepanel.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/switchery.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/matchheight.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/jvectormap.js' %}"></script>
  <script src="{% static 'dashboard/assets/examples/js/dashboard/v1.js' %}"></script>
</body>
</html>