<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  {% block extrameta %}{% endblock %}
  <title>{% block title %}Uncle Frank Dashboard{% endblock %}</title>
  <link rel="apple-touch-icon" href="{% static 'dashboard/assets/images/apple-touch-icon.png' %}">
  <link rel="shortcut icon" href="{% static 'dashboard/assets/images/favicon.ico' %}">


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'dashboard/global/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/css/bootstrap-extend.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/site.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/custom.css' %}">
  <!-- Plugins -->
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/animsition/animsition.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/asscrollable/asScrollable.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/switchery/switchery.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/intro-js/introjs.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/slidepanel/slidePanel.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/flag-icon-css/flag-icon.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/chartist-js/chartist.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/jvectormap/jquery-jvectormap.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/email.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/glyphicons/glyphicons.min.css' %}">
  <!-- Fonts -->
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/weather-icons/weather-icons.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/web-icons/web-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/font-awesome/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/fonts/brand-icons/brand-icons.min.css' %}">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  <link rel="stylesheet" href="{% static 'dashboard/plugins/star-rating/css/star-rating.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/plugins/star-rating/themes/krajee-fa/theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
  {% block extracss %}{% endblock %}
  <!--[if lt IE 9]>
    <script src="../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
  <!--[if lt IE 10]>
    <script src="../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->
  <!-- Scripts -->
  <script src="{% static 'dashboard/global/vendor/modernizr/modernizr.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/breakpoints/breakpoints.js' %}"></script>
  <script>
  	Breakpoints();
  </script>
  <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-86820633-1', 'auto');  ga('send', 'pageview');
  </script>
  {% block extraheaders %}{% endblock %}
</head>
<body class="dashboard">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
{% block nav_top %}
  <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon wb-more-horizontal" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <a href="/sadmin/"><img class="navbar-brand-logo" src="{% static 'dashboard/assets/images/logo.png' %}"title="Remark"></a>
        <span class="navbar-brand-text"> Remark</span>
      </div>
      <!---->
    </div>
    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <li class="hidden-xs" id="toggleFullscreen">
          </li>


        </ul>
        <!-- End Navbar Toolbar -->
        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="dropdown">
            <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="{% static 'dashboard/global/portraits/5.jpg' %}" alt="...">
                <i></i>
              </span>
            </a>
            <ul class="dropdown-menu" role="menu">

              <!--<li class="divider" role="presentation"></li>-->
              <li role="presentation">
                <a href="/sadmin/logout/" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">

            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">

              <li class="list-group" role="presentation">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">A new order has been placed</h6>
                          <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Completed the task</h6>
                          <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Settings updated</h6>
                          <time class="media-meta" datetime="2015-06-11T14:05:00+08:00">2 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Event started</h6>
                          <time class="media-meta" datetime="2015-06-10T13:50:18+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Message received</h6>
                          <time class="media-meta" datetime="2015-06-10T12:34:48+08:00">3 days ago</time>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <!---->
            </ul>
          </li>
          <li class="dropdown">

            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
              <li class="dropdown-menu-header" role="presentation">
                <h5>MESSAGES</h5>
                <span class="label label-round label-info">New 3</span>
              </li>
              <li class="list-group" role="presentation">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <span class="avatar avatar-sm avatar-online">
                            <img src="{% static 'dashboard/global/portraits/2.jpg' %}" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Mary Adams</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-17T20:22:05+08:00">30 minutes ago</time>
                          </div>
                          <div class="media-detail">Anyways, i would like just do it</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <span class="avatar avatar-sm avatar-off">
                            <img src="{% static 'dashboard/global/portraits/3.jpg' %}" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Caleb Richards</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-17T12:30:30+08:00">12 hours ago</time>
                          </div>
                          <div class="media-detail">I checheck the document. But there seems</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <span class="avatar avatar-sm avatar-busy">
                            <img src="{% static 'dashboard/global/portraits/4.jpg' %}" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">June Lane</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-16T18:38:40+08:00">2 days ago</time>
                          </div>
                          <div class="media-detail">Lorem ipsum Id consectetur et minim</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                      <div class="media">
                        <div class="media-left padding-right-10">
                          <span class="avatar avatar-sm avatar-away">
                            <img src="{% static 'dashboard/global/portraits/5.jpg' %}" alt="..." />
                            <i></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">Edward Fletcher</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-15T20:34:48+08:00">3 days ago</time>
                          </div>
                          <div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li class="dropdown-menu-footer" role="presentation">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon wb-settings" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" role="menuitem">
                    See all messages
                  </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block nav_side %}
  <div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu">
            <li class="site-menu-category">General</li>
            {% if permissions.is_cms %}
            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">CMS</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/homepage_edit/">
                    <span class="site-menu-title">Home Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/rotating_banner/">
                    <span class="site-menu-title">Banner Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/aboutpage_edit/">
                    <span class="site-menu-title">About Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/services_edit/">
                    <span class="site-menu-title">Services Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/joinus_edit/">
                    <span class="site-menu-title">JoinUs Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/careers_edit/">
                    <span class="site-menu-title">Career Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/corporate_edit/">
                    <span class="site-menu-title">Corporate Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/contactus_edit/">
                    <span class="site-menu-title">Contact Us Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/tnc_edit/">
                    <span class="site-menu-title">Terms and Condition Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/faq_edit/">
                    <span class="site-menu-title">FAQ Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/privacy_edit/">
                    <span class="site-menu-title">Privacy Page Edit</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/customer_faq_form/">
                    <span class="site-menu-title">Customer FAQ Edit</span>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if permissions.is_settings %}
            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-cog" aria-hidden="true"></i>
                <span class="site-menu-title">Settings</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">

                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/vehicle_edit/">
                    <span class="site-menu-title">Vehicle Type Settings</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/package_edit/">
                    <span class="site-menu-title">Package Type Settings</span>
                  </a>
                </li>
                <!-- <li class="site-menu-item">
                  <a class="animsition-link" href="/address/setup/">
                    <span class="site-menu-title">Address setup</span>
                  </a>
                </li> -->
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/holiday_list/">
                    <span class="site-menu-title">Holiday List</span>
                  </a>
                </li>

                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/commission_setup/">
                    <span class="site-menu-title">Commission Setup</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/configurations/">
                    <span class="site-menu-title">Configurations</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/pickup_cancellation_reason/">
                    <span class="site-menu-title">Pickup Cancellation Reason</span>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if permissions.is_window_setup %}
            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-cog" aria-hidden="true"></i>
                <span class="site-menu-title">Window Setup</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/delivery_timing/">
                    <span class="site-menu-title">Delivery Windows</span>
                  </a>
                </li>

                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/express_pricing/">
                    <span class="site-menu-title">Express Windows</span>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if permissions.is_address_setup %}
            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-cog" aria-hidden="true"></i>
                <span class="site-menu-title">Address Setup</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/address/street_txt/">
                    <span class="site-menu-title">Street upload</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/address/postcode_txt/">
                    <span class="site-menu-title">Post code upload</span>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if permissions.is_courier %}
            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-truck" aria-hidden="true"></i>
                <span class="site-menu-title">Courier</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/delivery_order_list/">
                    <span class="site-menu-title">Courier Order List </span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/corporate_delivery_order_list/">
                    <span class="site-menu-title">Corporate Orders</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/archived_delivery_order_list/">
                    <span class="site-menu-title">Archives</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/assign_driver_for_corporate/">
                    <span class="site-menu-title">Assign Driver</span>
                  </a>
                </li>
                <li class="site-menu-item has-sub">
                  <a href="javascript:void(0)">
                    <span class="site-menu-title">Courier Pricing</span>
                    <span class="site-menu-arrow"></span>
                  </a>
                  <ul class="site-menu-sub">
                    <li class="site-menu-item">
                      <a class="animsition-link" href="/sadmin/pricing_form/">
                        <span class="site-menu-title">Package Pricing</span>
                      </a>
                    </li>
                    <li class="site-menu-item">
                      <a class="animsition-link" href="/sadmin/courier_surcharge/">
                        <span class="site-menu-title">Postal Code Surcharge</span>
                      </a>
                    </li>
                    <li class="site-menu-item">
                      <a class="animsition-link" href="/sadmin/courier_time_charge/">
                        <span class="site-menu-title">Time charges</span>
                      </a>
                    </li>
                    <li class="site-menu-item">
                      <a class="animsition-link" href="/sadmin/courier_gst/">
                        <span class="site-menu-title">GST setup</span>
                      </a>
                    </li>
                  </ul>
                </li>

              </ul>
            </li>
            {% endif %}
            {% if permissions.is_pickup %}
            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-car" aria-hidden="true"></i>
                <span class="site-menu-title">Pickup</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/pickup_order_list/">
                    <span class="site-menu-title">Pickup Order List </span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/archived_pickup_order_list/">
                    <span class="site-menu-title">Archives</span>
                  </a>
                </li>
                <li class="site-menu-item has-sub">
                  <a href="javascript:void(0)">
                    <span class="site-menu-title">Pickup Pricing</span>
                    <span class="site-menu-arrow"></span>
                  </a>
                  <ul class="site-menu-sub">
                    <li class="site-menu-item">
                      <a class="animsition-link" href="/sadmin/passenger_pickup_rates/">
                        <span class="site-menu-title">Pick Up Rates</span>
                      </a>
                    </li>
                    <li class="site-menu-item">
                      <a class="animsition-link" href="/sadmin/pickup_surcharge/">
                        <span class="site-menu-title">Postal Code Surcharge</span>
                      </a>
                    </li>
                    <li class="site-menu-item">
                      <a class="animsition-link" href="/sadmin/pickup_time_charge/">
                        <span class="site-menu-title">Time charges</span>
                      </a>
                    </li>
                    <li class="site-menu-item">
                      <a class="animsition-link" href="/sadmin/pickup_gst/">
                        <span class="site-menu-title">GST setup</span>
                      </a>
                    </li>

                  </ul>

                </li>

              </ul>
            </li>
            {% endif %}
            {% if permissions.is_driver_info %}
            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-info" aria-hidden="true"></i>
                <span class="site-menu-title">Driver Informations</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/all_driver_list/">
                    <i class="site-menu-icon fa fa-user" aria-hidden="true"></i>
                    <span class="site-menu-title">Driver List</span>
                  </a>
                </li>
              </ul>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/driver_locations/">
                    <i class="site-menu-icon fa fa-map-marker" aria-hidden="true"></i>
                    <span class="site-menu-title">Driver Locations</span>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if permissions.is_sales_report %}
            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                <span class="site-menu-title">Reports</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/courier_sales_report/">
                    <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                    <span class="site-menu-title">Courier Order Report</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/pickup_sales_report/">
                    <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                    <span class="site-menu-title">Passenger Pick Up Order Report</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/refund_reports/">
                    <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                    <span class="site-menu-title">Refund Requests</span>
                  </a>
                </li>
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/audite_trile/">
                    <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                    <span class="site-menu-title">Audit Trail</span>
                  </a>
                </li>
                <!--<li class="site-menu-item">-->
                  <!--<a class="animsition-link" href="#">-->
                    <!--<i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>-->
                    <!--<span class="site-menu-title">Refund Reports</span>-->
                  <!--</a>-->
                <!--</li>-->
              </ul>
            </li>
            {% endif %}
            {% if permissions.is_customer_list %}
            <li class="site-menu-item">
              <a class="animsition-link" href="/sadmin/customer_list/">
                <i class="site-menu-icon fa fa-user" aria-hidden="true"></i>
                <span class="site-menu-title">Customer List</span>
              </a>
            </li>
            {% endif %}
            {% if permissions.is_account %}
            <li class="site-menu-item has-sub">
              <a href="javascript:void(0)">
                <i class="site-menu-icon fa fa-cog" aria-hidden="true"></i>
                <span class="site-menu-title">Account</span>
                <span class="site-menu-arrow"></span>
              </a>
              <ul class="site-menu-sub">
                <li class="site-menu-item">
                  <a class="animsition-link" href="/sadmin/create_superadmin/">
                    <span class="site-menu-title">Create Superadmin Account</span>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            {% if permissions.is_add_coupon %}
            <li class="site-menu-item">
              <a class="animsition-link" href="/sadmin/coupon_add/">
                <i class="site-menu-icon fa fa-user" aria-hidden="true"></i>
                <span class="site-menu-title">Add Coupon</span>
              </a>
            </li>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!-- Page -->
{% block content %}
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Welcome to your Dashboard!</h1>
        </div>
      </div>
      <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-4">
          <div class="panel panel-uncle text-center">
            <div class="panel-body">
              <img src="{% static 'dashboard/assets/images/icons/1.png' %}" alt="Book a Courier" title="Book a Courier">
              <h2 class="title">Book a Courier</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-uncle text-center">
            <div class="panel-body">
              <img src="{% static 'dashboard/assets/images/icons/2.png' %}" alt="Request for Pickup" title="Request for Pickup">
              <h2 class="title">Request for Pickup</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-uncle text-center">
            <div class="panel-body">
              <img src="{% static 'dashboard/assets/images/icons/3.png' %}" alt="Send Feedback" title="Send Feedback">
              <h2 class="title">Send Feedback</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-xlg-6 col-md-6">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title uppercase clearfix">my active bookings  <a href="" class="btn btn-flat btn-secondary pull-right mt-n8">View all</a>
              </h3>
            </div>
            <div class="panel-body">
              <div class=" mt-n4">
                <span class="state state-courier">Courier</span>
                <span class="state state-pending">Pending</span>
                <span class="state-bk-id ml-30">UF68483 <small>(UF29384728343234)</small></span>
              </div>
              
              <div class="row">
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">collection</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-calendar-o"></i> 18 May 2016</li>
                      <li><i class="icon fa-clock-o"></i> Morning (09:00am-12:00pm)</li>
                      <li><i class="icon fa-map-marker"></i> 56 Bukit Panjang Green</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">DELIVERY</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-calendar-o"></i> 20 May 2016</li>
                      <li><i class="icon fa-clock-o"></i> 3 Hours Express</li>
                      <li><i class="icon fa-map-marker"></i> Blk 43 Sengkang Street 86, #13-43</li>
                  </ul>
                </div>
              </div>
              <hr class="panel-in-hr">

              <div class="">
                <span class="state state-pickup">Pickup</span>
                <span class="state state-accepted">Accepted</span>
                <span class="state-bk-id ml-30">UF68483 <small>(UF29384728343234)</small></span>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">Pickup</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-map-marker"></i> Blk 27 Serangoon North Street 89, #10-32 884234 Singapore</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">Dropoff</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-map-marker"></i> Blk 27 Serangoon North Street 89, #10-32 884234 Singapore</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xlg-6 col-md-6">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title uppercase clearfix">account overview  <a href="" class="btn btn-flat btn-secondary pull-right mt-n8">Edit</a>
              </h3>
            </div>
            <div class="panel-body">
              <form action="" class="form-horizontal">
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">NAME</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" value="Christine Lai">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" value="Blk 231 Boon Lay Street 10, #09-41">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">postal code</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" value="323122">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">contact number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" value="9709-8489">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">email address</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control input-lg" value="christine_lai@email.com">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- End Page -->
  <!-- Footer -->
  <!-- Core  -->
  <script src="{% static 'dashboard/global/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/animsition/animsition.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/asscroll/jquery-asScroll.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/asscrollable/jquery.asScrollable.all.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
  
  <!-- Plugins -->
  <script src="{% static 'dashboard/global/vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/skycons/skycons.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-js/chartist.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/jquery.jvectormap.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>

  <!-- Scripts -->
  <script src="{% static 'dashboard/global/js/core.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/site.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menubar.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/gridmenu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/sidebar.js' %}"></script>
  <script src="{% static 'dashboard/global/js/configs/config-colors.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/configs/config-tour.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/asscrollable.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/animsition.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/slidepanel.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/switchery.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/matchheight.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/jvectormap.js' %}"></script>
  <script src="{% static 'dashboard/assets/examples/js/dashboard/v1.js' %}"></script>
  <script src="{% static 'dashboard/assets/examples/js/forms/material.js' %}"></script>

  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
      Site.run();
    });
  })(document, window, jQuery);
  </script>
  {% block extrajs %}{% endblock %}
</body>
</html>