{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}

{% block extracss %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>

{% endblock %}

{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <div class="panel">
      <div class="panel-body">
        <form class="form-horizontal" method='POST' action='' enctype='multipart/form-data'>
	        <div class="form-group">
	        	<label>Postal Code</label>
	        	<input type="text" id="postal_code" placeholder="Postal Code" class="form-control">
	        	<br>
	        	<button class="btn btn-primary" id="getAddr">Get Address</button>
	        </div>
	       	<div class="form-group">
	        	<label>Street Name</label>
				<input type="text" id="street_name" placeholder="Street Name" class="form-control">
	        </div>
	        <div class="form-group">
	        	<label for="id_label_single">Building Name</label>
				<select class="js-example-basic-single form-control" id="id_label_single">
					<option value="">Select one...</option>
				</select>
	        </div>
	        <div class="form-group">
	        	<label>Floor</label>
				<input type="text" id="floor" placeholder="Floor" class="form-control">
	        </div>
	        <div class="form-group">
	        	<label>Unit</label>
				<input type="text" id="unit" placeholder="Unit" class="form-control">
	        </div>
	        <div class="form-group">
          		<button class="btn btn-primary" id="checkAddress">Check</button>
          	</div>
        </form>     	 
      </div>
      </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".js-example-basic-single").select2();

		$("#getAddr").click(function(e) {
			e.preventDefault();
			$.ajax({                    
			  url: '/address/check/',     
			  type: 'post',
			  data : {
			    type : 'getStreet',
			    post_code : $("#postal_code").val(),
			  },
			  dataType: 'json',                   
			  success: function(data)         
			  {
			  	jsonList = JSON.parse(data);
			    $("#street_name").val(jsonList[0].fields.street_name)
			    $("#id_label_single").find('option').remove().end()
			    $.each(jsonList, function(index, value) {
			    	console.log(value.fields.bldg_name);
			    	$("#id_label_single").append("<option value="+value.fields.bldg_name+">"+value.fields.bldg_name+"</option>");
			    });
			  } 
			});
		});

		$('#checkAddress').click(function(e) {
			e.preventDefault();
			$.ajax({                    
			  url: '/address/check/',     
			  type: 'post',
			  data : {
			    type : 'checkAddress',
			    post_code : $("#postal_code").val(),
			    street_name : $("#street_name").val(),
			    building_name: $("#id_label_single option:selected").text(),
			    floor: $("#floor").val(),
			    unit: $("#unit").val(),
			  },
			  dataType: 'json',                   
			  success: function(data)         
			  {
			  	alert(data.result);
			  } 
			});
		});
	});
</script>

{% endblock %}