{% extends "dashboard/super_layout.html" %}

{% block extracss %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

{% endblock %}

{% block content %}
<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body table-responsive">
        {% if addresses %}
          <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
              <thead>
                <tr>
                  <th>Postal Code</th>
                  <th>Building Number</th>
                  <th>Street Name</th>
                  <th>Building Name</th>
                  <th>Floor</th>
                  <th>Unit</th>
                  <th>Modify</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in addresses %}
                  <tr>
                    <td>{{ obj.post_code }}</td>
                    <td>{{ obj.bldg_no }}</td>
                    <td>{{ obj.street_name }}</td>
                    <td>{{ obj.bldg_name }}</td>
                    <td>{{ obj.floor }}</td>
                    <td>{{ obj.unit }}</td>
                    <td>
                      <a href="/address/update/{{ obj.id }}">Update</a>/
                      <a href="/address/delete/{{ obj.id }}">Delete</a>
                    </td>
                  </tr>
               {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>
    </div>
    <div class="panel">
      <div class="panel-body">
        <form method='POST' action='' enctype='multipart/form-data'>
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-primary" value="Update"/>
        </form>   
      </div>
    </div>  
    <div class="panel">
      <div class="panel-body">
        <form method='POST' action='/address/upladCSV/' enctype='multipart/form-data'>
          {% csrf_token %}
          <input type="file" name="file" accept=".csv">
          <br>
          <input type="submit" class="btn btn-primary" value="Upload CSV"/>
        </form> 
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#tableCourier').DataTable();
    } );
  </script>
{% endblock %}