{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
  .upload-thumbnails{
     cursor: pointer;
  }
</style>

 <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Account Information</h1>
        </div>
      </div>
      <div class="alertDiv"></div>
      <div class="row">
        <div class="col-xlg-12 col-md-12">
          <div class="panel panel-bordered panel-base">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <form id="custForm" action="/customer/details" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <!-- <div><img id="imagePreview" width="150" height="150" alt=".." src="{% static 'base/images/noimagefound.jpg' %}" class="img-circle"></div> -->
                    <div class="upload-thumbnails">
                    {% if customer_profile.picture %}
                      <img id="imagePreview" width="150" height="150" alt=".." src="{{customer_profile.picture.url}}" class="img-circle">
                      <input name="picture" type="file" id="image" onchange="loadFile(event)">
                    {% else %}
                     <img id="imagePreview" width="150" height="150" alt=".." src="{% static 'dashboard/assets/images/portraits/5.jpg' %}" class="img-circle"><input name="picture" type="file" id="image" onchange="loadFile(event)">
                    {% endif %}
                    <div style="float:right">
                      <input class="rating" value="{{ rating }}">
                    </div>
                    </div>
                    <div class="mef-holder">
                      <h4 class="mef-title clearfix">
                        PERSONAL INFORMATION 
                        <a id="mainLink" class="btn btn-flat btn-secondary pull-right mt-n8" onclick="enableFields(event)">
                        	<span class='txt'>edit my details</span>
                        </a>
                      </h4>
                      <div class="form-group input-brick">
                        <label for="" class="control-label col-sm-3">NAME</label>
                        <div class="col-sm-9">
                          <input id="name" type="text" class="form-control input-lg" disabled="disabled" value="{{customer_profile.name}}">
                        </div>
                      </div>
                      <div class="form-group input-brick">
                        <label for="" class="control-label col-sm-3">address</label>
                        <div class="col-sm-9">
                          <input id="address" type="text" class="form-control input-lg" disabled="disabled" value="{{customer_profile.address}}">
                        </div>
                      </div>
                      <div class="form-group input-brick">
                        <label for="" class="control-label col-sm-3">postal code</label>
                        <div class="col-sm-9">
                          <input id="pcode" type="text" class="form-control input-lg" disabled="disabled" value="{{customer_profile.postal_code}}">
                        </div>
                      </div>
                      <div class="form-group input-brick">
                        <label for="" class="control-label col-sm-3">contact number</label>
                        <div class="col-sm-9">
                          <input id="contact" type="text" class="form-control input-lg" disabled="disabled" value="{{customer_profile.contact_no}}">
                        </div>
                      </div>
                      <div class="form-group input-brick">
                        <label for="" class="control-label col-sm-3">email address</label>
                        <div class="col-sm-9">
                          <input id="email" type="email" class="form-control input-lg" disabled="disabled" value="{{user.email}}">
                        </div>
                      </div>
                      <div class="form-group input-brick">
                        <label for="" class="control-label col-sm-3">NRIC</label>
                        <div class="col-sm-9">
                          <input id="nric" type="text" class="form-control input-lg" disabled="disabled" value="{{customer_profile.nric}}">
                        </div>
                      </div>
                    </div>

                    <div class="mef-holder">
                      <h4 class="mef-title">
                        UPDATE PASSWORD 
                      </h4>
                      <div class="form-group input-brick">
                        <label for="" class="control-label col-sm-3">CURRENT PASSWORD</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control input-lg" disabled="disabled" value="0000000">
                        </div>
                      </div>
                      <div class="form-group input-brick">
                        <label for="" class="control-label col-sm-3">NEW PASSWORD</label>
                        <div class="col-sm-9">
                          <input id="newPass" type="password" class="form-control input-lg" value="" disabled="disabled">
                        </div>
                      </div>
                      <div class="form-group input-brick">
                        <label for="" class="control-label col-sm-3">RE-TYPE PASSWORD</label>
                        <div class="col-sm-9">
                          <input id="reTypePass" type="password" class="form-control input-lg" value="" disabled="disabled">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12 text-right">
                          <button id="passUpdateButton" class="btn btn-secondary mon-normal fs-12 uppercase" onclick="passwordUpdate(event)">UPDATE MY PASSWORD</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extrajs %}
    </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.rating').rating({
        displayOnly: true,
        theme: 'krajee-fa',
        filledStar: '<i class="fa fa-star"></i>',
        emptyStar: '<i class="fa fa-star-o"></i>'
    })
    });

    var loadFile = function(event) {
      var reader = new FileReader();
      reader.onload = function(){
        var output = document.getElementById('imagePreview');
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);



      fileUploder(event.target.files[0]);
    };

    function fileUploder(file){

      var pictureUpdateAlert = `<div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Your profile picture has been updated.
            </div>`      

      var data = new FormData();
      data.append('file', file);
        
        $.ajax({
          url: '/customer/uploadCustImage/',
          data: data,
          cache: false,
          contentType: false,
          processData: false,
          type: 'POST',
          success: function(data){
            $(".alertDiv").html(pictureUpdateAlert);
          }
        });
    }

    function enableFields(event) {

      var check = $('#mainLink .txt').text();

      var infoUpdateAlert = `<div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Customer information updated.
            </div>`

      if(check === "save changes") {
        
        event.preventDefault();

        var $form = $( this ),
        url = $form.attr( 'action' );

        var posting = $.post( "/customer/details/", 
        { name: $('#name').val(),
          nric: $('#nric').val(),
          email: $('#email').val(),
          contact: $('#contact').val(),
          pcode: $('#pcode').val(), 
          address: $('#address').val(),
          updatePass: "false"
        });

        /* Alerts the results */
       posting.done(function( data ) {
         // alert("Details updated");
         $(".alertDiv").html(infoUpdateAlert);
         $("#name").prop("disabled", true);
         $("#nric").prop("disabled", true);
         $("#email").prop("disabled", true);
         $("#contact").prop("disabled", true);
         $("#pcode").prop("disabled", true);
         $("#address").prop("disabled", true);
         $('#mainLink .txt').text("edit my details");
       });

      } else {
       $("#name").prop("disabled", false);
       $("#nric").prop("disabled", false);
       $("#email").prop("disabled", false);
       $("#contact").prop("disabled", false);
       $("#pcode").prop("disabled", false);
       $("#address").prop("disabled", false);
       $('#mainLink .txt').text("save changes");        
     }
   }

     function passwordUpdate(event) {

        event.preventDefault();
        var buttonText = $("#passUpdateButton").text();

        if(buttonText === "UPDATE MY PASSWORD") {
          $("#passUpdateButton").text("SAVE MY PASSWORD");
          $("#reTypePass").prop("disabled", false);
          $("#newPass").prop("disabled", false);
          } else {
              if(!$("#newPass").val() || !$("#reTypePass").val() || $("#newPass").val() != $("#reTypePass").val()){
                alert("One or more required field empty!!!!!!");
                return false;
              }
            else{
              $.post("/customer/details/",
              {
                newPass: $("#newPass").val(),
                updatePass: "true"
              },
              function(data, status){
                window.location.href = data.redirect;
              });
            }
        }
     }



 </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
{% block extracss %}

{% endblock %}