{% extends "base/form_layout.html" %}
{% load staticfiles %}

{% block extracss %}
    <link href="{% static 'base/css/formValidation.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if backgroundimage.images %}
    <div class="user-dashpage image-cover" style="background-image: url('{{ backgroundimage.images.url }}');">
    {% else %}
    <div class="user-dashpage image-cover" style="background-image: url('{% static 'base/images/bgDash/1.jpg' %}');">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="log-card">
                        <div class="text-center">
                            <a class="dashpage-brand" href="index.html">
                                <img src="{% static 'base/images/logo.png' %}" alt="Uncle Frank">
                            </a>
                        </div>
                        <div class="text-center">
                            <h1 class="ud-title montserret normal uppercase">create an account</h1>
                     <h4 class="ud-tagline">Fill in the form below or <a href="/customer/accounts/facebook/login/" class="fb-link">sign up with your Facebook account</a></h4>
                        </div>
                        <!-- The following commented lines are for facebook login button -->
                          {% if error %}
                          <div class="alert alert-danger">
                               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                   {{ error }}
                            </div> 
                          {% endif %}
                        <form id="registrationForm" class="form-horizontal mt-45" method="post" action="">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <!-- <input type="text" class="form-control huge" placeholder="Name or Company Name *"> -->
                                            <p class="text-danger">{{ form.name.errors.as_text }}</p>
                                            {{ form.name }}
                                        </div>
                                        <div class="col-sm-12 mt-15">
                                            <!-- <input type="email" class="form-control huge" placeholder="Email Address *"> -->
                                            <p class="text-danger">{{ form.email.errors.as_text }}</p>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <!-- <input type="text" class="form-control huge" placeholder="Mobile or Office Number (for verification) *"> -->
                                            <p class="text-danger">{{ form.contact_no.errors.as_text }}</p>
                                            {{ form.contact_no }}
                                        </div>
                                        <div class="col-sm-12 mt-15">
                                            <!-- <input type="password" class="form-control huge" placeholder="Passwrod*"> -->
                                            <p class="text-danger">{{ form.password.errors.as_text }}</p>
                                            {{ form.password }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <!-- <input type="password" class="form-control huge" placeholder="Re-enter your password *"> -->
                                            <p class="text-danger">{{ form.re_password.errors.as_text }}</p>
                                            {{ form.re_password }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label class="checkbox-base mb-20">
                                                <span>I Agree to the <a href='/page/tnc/'>Terms</a> of Service</span>
                                                <input name="agree" type="checkbox"/>
                                                <div class="checkbox-indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 mt-20">
                                        <div class="col-sm-12">
                                            <button type="submit" name="submitButton" class="btn btn-primary btn-block btn-afix huge fs-15 gotham semi unstroke uppercase btn-block">Create my Account</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mt-20">
                        <a href="/" class="fs-15 gotham semi white uppercase"><i class="fa fa-home"></i> Go to Home</a>
                    </div>
                </div>
            </div>
        </div>

         <div class="me-dash-footer">
            <div class="container">
                <div class="me-dash-fooer-in">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline me-dash-foo">
                                <li><a href="/page/tnc/">Terms and Conditions</a></li>
                                <li><a href="/page/faq/">FAQ</a></li>
                                <li><a href="/page/privacy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 sm-right">
                            <span class="copy-text">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/framework/bootstrap.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#registrationForm').formValidation({
                    framework: 'bootstrap',
                  icon: {
                      valid: 'glyphicon glyphicon-ok',
                      invalid: 'glyphicon glyphicon-remove',
                      validating: 'glyphicon glyphicon-refresh'
                  },
                  err: {
                      // You can set it to popover
                      // The message then will be shown in Bootstrap popover
                      container: 'tooltip'
                  },
                    fields: {
                        name: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Name is required'
                                }
                            }
                        },
                        email: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Email is required'
                                },
                                emailAddress: {
                                    message: 'The value is not a valid email address'
                                },
                                regexp: {
                                    regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                                    message: 'The value is not a valid email address'
                                }
                            }
                        },
                        contact_no: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Contact No is required'
                                },
                                regexp: {
                                    regexp: '(^\\+65)[0-9]{8}$|(^\\+880)[0-9]{10}$',
                                    message: 'The value is not a valid phone number'
                                }
                            }
                        },
                        re_password: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Re-password is required'
                                },
                                identical: {
                                    field: 'password',
                                    message: 'The Password and its Re-password are not the same'
                                }
                            }
                        },
                        password: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Password is required'
                                },
                                stringLength: {
                                    min: 6,
                                    message: 'The password must be atleast 6 letters'
                                }
                            }
                        },
                        agree: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Contact No is required'
                                }
                            }
                        },

                    }
                });
        });
    </script>
{% endblock %}