{% extends "base/form_layout.html" %}
{% load staticfiles %}

{% block content %}
    {% if background.images %}
    <div class="user-dashpage image-cover" style="background-image: url('{{ background.images.url }}');">
    {% else %}
    <div class="user-dashpage image-cover" style="background-image: url('{% static 'base/images/bgDash/1.jpg' %}');">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <div class="log-card">
                        <div class="text-center">
                            <a class="dashpage-brand" href="/">
                                <img src="{% static 'base/images/logo.png' %}" alt="Uncle Frank">
                            </a>
                        </div>
                        <div class="text-center">
                            <h1 class="ud-title montserret normal uppercase">verify your account</h1>
                        </div>
                        <div class="message"></div>
                        <form class="form-horizontal mt-45" method="post" action="" id="send">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input required="true" type="text" class="form-control huge" name="verification" placeholder="Enter mobile verification code *">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary btn-block btn-afix huge fs-15 gotham semi unstroke uppercase btn-block">Create my Account</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <span class="form-horizontal mt-45" id="resend">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="form-group">
                                        <!--<input type="hidden" value="{{verification}}" id="resendcode">-->
                                        <div class="col-sm-12 text-center mt-40">
                                            <span class="gotham book">Haven’t received your code?</span>
                                            <button class="btn btn-green btn-block btn-afix huge fs-15 gotham semi unstroke uppercase btn-block mt-10" id="resendbutton">RESEND THE CODE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="mt-20">
                        <a href="/" class="fs-15 gotham semi white uppercase"><i class="fa fa-home"></i> Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="me-dash-footer">
            <div class="container">
                <div class="me-dash-fooer-in">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline me-dash-foo">
                                <li><a href="/page/tnc/">Terms and Conditions</a></li>
                                <li><a href="/page/faq/">FAQ</a></li>
                                <li><a href="/page/privacy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 sm-right">
                            <span class="copy-text">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
        <script>
            $('#resendbutton').on('click' , function(e){
                $.ajax({
                        url:'/customer/resendcode/',
                        type:'GET',
                        success:function(){
                            $('.message').html(`<div class="alert alert-success">
                               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                Verification code has been re-sent to phone.
                            </div>`);
                        },
                        error:function(){
                            console.log("failed");
                        }
                        });
                        });
        </script>
{% endblock %}