{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}
{% block content %}

<!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}         
        </div> 
      {% endfor %}
    {% endif %}
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Service</h1>
        </div>
        <!--<div class="col-lg-8 col-lg-offset-2">-->
            <!--<ul class="nav nav-dash-list">-->
              <!--<li class="active">-->
                <!--<a href="/service/courier_booking_one/">-->
                  <!--<img src="{% static 'dashboard/assets/images/icons/sm/1.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/1-active.png' %}" alt="Courier Service">-->
                  <!--<span class="nd-title">Courier Service</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="/service/passengerPickup/">-->
                  <!--<img src="{% static 'dashboard/assets/images/icons/sm/2.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/2-active.png' %}" alt="Passenger Pickup"> -->
                  <!--<span class="nd-title">Passenger Pickup</span>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="col-md-12">
          <div class="white-stroke">&nbsp;</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xlg-12 col-md-12">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title fs-24 uppercase clearfix">Step 3. <span class="pt-span">Choose your collection and delivery dates for all your packages.</span>
              </h3>
            </div>
            <div class="panel-body">
              <form method="post" action="" class="form-horizontal" id="date" id="time">
              {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                      <div data-match-height="well-box-a" class="well well-enq mb-40">
                        <h4 class="well-title">COLLECTION DATE &amp; TIME</h4>
                  <!--       <p class="fs-15 color-gray-light mb-20 mt-n7"> </p> -->
                        <div class="form-group input-brick mb-0">
                          <div class="col-sm-6">
                              <h5 class="fs-15 brand-primary uppercase">COLLECTION DATE</h5>
                              <div class="field-has-icon">
                                <input value="{{ cellectionDate }}" name='cellection_date' type="text" class="form-control input-lg" data-plugin="bs-date" id="collection_date" required>
                                <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <h5 class="fs-15 brand-primary uppercase mt-xs-15">COLLECTION TIME</h5>
                              <div class="field-has-icon">
                                <select name='cellection-time' required class="form-control input-lg select-styled" id="collection_time" disabled>

                                </select>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="cole-info">
                        <h4 class="mt-10 mb-0 uppercase">COLLECTION INFORMATION</h4>
                        <hr class="mt-17 mb-23">
                        <div class="row">
                          <div class="col-md-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">COLLECTION ADDRESS</h5>
                            <p class="fs-15">{{collectionBuilding}} {{ collectionAddress }}</p>
                          </div>
                          <div class="col-md-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">Name</h5>
                            <p class="fs-15"><span class="mon-normal">{{ collectionName }}</span><br> {{ collectionContactNumber }}</p>
                          </div>
                          <div class="col-sm-12">
                            <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                            <p class="fs-15">{% if collectionRemarks %}{{ collectionRemarks }}{% else %}No Remarks{% endif %}</p>
                          </div>
                          <div class="col-md-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">COLLECTION Unit Number</h5>
                            <p class="fs-15">{{ collectionUnitNumber }}</p>
                          </div>
                          <div class="col-md-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">collection postal code</h5>
                            <p class="fs-15">{{ collectionPostalCode }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div data-match-height="well-box-a" class="well well-enq mb-40">
                        <h4 class="well-title">DELIVERY DATE &amp; TIME</h4>
                         <!--<p class="fs-15 color-gray-light mb-20 mt-n7"></p> -->
                        <div class="form-group input-brick mb-0">
                          <div class="col-sm-6">
                              <h5 class="fs-15 brand-primary uppercase">DELIVERY DATE</h5>
                              <div class="field-has-icon">
                                <input value="{{ deliveryDate }}" name='delivery_date' type="text" class="form-control input-lg" data-plugin="bs-date" id="delivery_date" required>
                                <img src="{% static 'dashboard/assets/images/calendar.png' %}" alt="Date">
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <h5 class="fs-15 brand-primary uppercase mt-xs-15">DELIVERY TIME</h5>
                              <div class="field-has-icon">
                                <select name='delivery-time' class="form-control input-lg select-styled" id="delivery_time" disabled>
                                  <!--{% if express %}-->
                                  <!--{% for obj in express %}-->
                                  <!--<option value="{{ obj.window_name }}">{{ obj.window_name }} ({{ obj.start_time|date:'g:i A' }}-{{ obj.end_time|date:'g:i A' }})</option>-->
                                  <!--{% endfor %}-->
                                  <!--{% endif %}-->
                                </select>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="cole-info">
                        <h4 class="mt-10 mb-0 uppercase">DELIVERY INFORMATION</h4>
                        <hr class="mt-17 mb-23">
                        <div class="row">
                          <div class="col-md-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">DELIVERY ADDRESS</h5>
                            <p class="fs-15">{{deliveryBuilding}} {{ deliveryAddress }}</p>
                          </div>
                          <div class="col-md-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">Name</h5>
                            <p class="fs-15"><span class="mon-normal">{{ deliveryName }}</span><br> {{ deliveryContactNumber }}</p>
                          </div>
                          <div class="col-sm-12">
                            <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                            <p class="fs-15">{% if deliveryRemarks %}{{ deliveryRemarks }}{% else %}No Remarks{% endif %}</p>
                          </div>
                          <div class="col-md-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">delivery unit number</h5>
                            <p class="fs-15">{{ deliveryUnitNumber }}</p>
                          </div>
                          <div class="col-md-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">delivery postal code</h5>
                            <p class="fs-15">{{ deliveryPostalCode }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-sm-12 text-right btn-step-group btn-step-group-promo">
                      <input value="" name='promo_code' type="text" class="form-control mb-15 promo-input" id="promo_code" placeholder="Promo Code" >
                      <div class="clearfix"></div>
                      <a href="/service/courier_booking_two/" class="btn btn-gray gotham semi fs-15 btn-step btn-lg uppercase">go back</a>
                      <button class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase" id="next">Next step</button>
                    </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->

<div class="modal fade modal-cab-details" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="modal-header text-center">
            <h3 class="title fs-24 uppercase color-primary">Invalid!</h3>

          </div>
          <div>
          <div class="modal-body text-center">
            <p>Please select a valid collection time.</p>
          </div>
          <div class="modal-footer text-right">
            <button type="submit" class="btn btn-secondary gotham normal uppercase fs-15 btn-afix" data-dismiss="modal">OK</button>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

  {% block extrajs %}

  <script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
  <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>

  <script>
      var date = '';
      var newDate = '';

      var dateToday = new Date();
      dateToday = dateToday.setHours(00,00,00,000);
      var d = new Date();
      var maxdate = d.setDate(d.getDate() + 4);


    $(document).ready(function() {

//      $('#collection_date').on('change', function(){
//          console.log($('#collection_date').val());
//            alert($('#collection_date').val());
//      });



      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });

      $(function() {
          $(document).on("input keyup change", ".has-need label + .form-control", function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });


      });

      $('#collection_date').datetimepicker({
          format: 'DD MMM YYYY',
          minDate: dateToday,
          maxDate: maxdate,
      });

      $('#delivery_date').datetimepicker({
          format: 'DD MMM YYYY',
          minDate: dateToday,
          maxDate: maxdate,
      });

        $(function() {
          $('#collection_date').datetimepicker()
            .on('dp.change', function(e) {
                newDate = new Date($('#collection_date').val());
                console.log(newDate);
                console.log(dateToday + ' ' + maxdate);

                if(date == $('#collection_date').val()) {
                    return true;
                } else {
                    $.ajax({
                          url:'/service/enable_collection_time/',
                          type:'post',
                          data: {from_date:$('#collection_date').val(), to_date:$('#delivery_date').val()},
                          dataType: 'html',
                          success:function(data){
//                              console.log(data);
                              if(data == 'failed'){
                                  $('#collection_time').empty();
                                  $('#collection_time').prop('disabled', true);
                                  $('#delivery_date').empty();
                                  $('#delivery_time').empty();
                                  $('#delivery_time').prop('disabled', true);
                              }
                              else{
                                 $('#collection_time').html(data);
                                 $('#collection_time').prop('disabled', false);
                                  $('#collection_date').empty();
                                  $('#delivery_time').empty();
                                  $('#delivery_time').prop('disabled', true);
                              }
                          },
                          error:function(){
                              console.log('Error in submission.');
                          }
                    });
                }
            });

        });
        $(function() {
          $('#collection_time').on('change', function(e) {
              if(date == $('#delivery_date').val()) {
                    return true;
                } else {
                    if($('#delivery_time').val().length === 0){
                        return false;
                    }
                    else{
                        $.ajax({
                              url:'/service/enable_delivery_time/',
                              type:'post',
                              data: {from_date:$('#collection_date').val(), to_date:$('#delivery_date').val(), from_time:$('#collection_time').val()},
                              dataType: 'html',
                              success:function(data){
    //                              console.log(data);
                                  if(data == 'failed'){
                                      $('#delivery_time').html('<option value="failed">'+'No time slot for today'+'</option>');
                                      $('#delivery_time').prop('disabled', true);
                                  }
                                  else{
                                     $('#delivery_time').html(data);
                                     $('#delivery_time').prop('disabled', false);
                                  }
                              },
                              error:function(){
                                  console.log('Error in submission.');
                                  $('#delivery_time').empty();
                                  $('#delivery_time').prop('disabled', true);
                              }
                        });
                    }
                }
            });
        });


        $(function() {
          $('#delivery_date').datetimepicker()
            .on('dp.change', function(e) {
                newDate = new Date($('#delivery_date').val());
                console.log(newDate);
                console.log(dateToday + ' ' + maxdate);

                if(date == $('#delivery_date').val()) {
                    return true;
                } else {
                    $.ajax({
                          url:'/service/enable_delivery_time/',
                          type:'post',
                          data: {from_date:$('#collection_date').val(), to_date:$('#delivery_date').val(), from_time:$('#collection_time').val()},
                          dataType: 'html',
                          success:function(data){
//                              console.log(data);
                              if(data == 'failed'){
                                  $('#delivery_time').empty();
                                  $('#delivery_time').prop('disabled', true);
                              }
                              else{
                                 $('#delivery_time').html(data);
                                 $('#delivery_time').prop('disabled', false);
                              }
                          },
                          error:function(){
                              console.log('Error in submission.');
                              $('#delivery_time').empty();
                              $('#delivery_time').prop('disabled', true);
                          }
                    });
                }
            });
        });
        });

  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
    $('#next').on('click', function(e){
            e.preventDefault();
            var value = $('#collection_time').val();
            if(!value){
                alert('Need a collection time');
            }
            else {
                $.ajax({
                  url:'/service/verify_date/',
                  type:'post',
                  data: {from_date:$('#collection_date').val(), to_date:$('#delivery_date').val()},
                  dataType: 'json',
                  success: function(data){
                      console.log(data['message']);
                      if(data['message'] == 'False'){
//                          console.log('success');
                          alert('Delivery date must be later than collection date.');
//                          $('#errorModal').show();
                      }
                      else {
                          console.log('success');
                          $('form').submit();
                      }
                  },
                  error:function(){
                      console.log('Error in submission.');
                  }
            });
            }
       });
</script>
  
  {% endblock %}
  {% block extracss %}
 <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
