{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Service</h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <ul class="nav nav-dash-list">
              <li class="active">
                <a href="">
                  <img src="assets/images/icons/sm/1.png" data-active-img="assets/images/icons/sm/1-active.png" alt="Courier Service">
                  <span class="nd-title">Courier Service</span>
                  
                </a>
                <button onclick="fs();" >sfasfd</button>
              </li>
              <li>
                <a href="/service/passengerPickup/">
                  <img src="assets/images/icons/sm/2.png" data-active-img="assets/images/icons/sm/2-active.png" alt="Passenger Pickup"> 
                  <span class="nd-title">Passenger Pickup</span>
                </a>
              </li>
            </ul>
        </div>
        <div class="col-md-12">
          <ul class="nav nav-steps nav-justified">
            <li role="presentation" class="active"><a href="courier-service-step-1.html"><span class="badge">1</span> collection details</a></li>
            <li role="presentation" class="active"><a href="courier-service-step-2.html"><span class="badge">2</span> package details</a></li>
            <li role="presentation"><a href="javascript:void(0);"><span class="badge">3</span> collection schedule</a></li>
            <li role="presentation"><a href="javascript:void(0);"><span class="badge">4</span> service summary</a></li>
            <li role="presentation"><a href="javascript:void(0);"><span class="badge">5</span> payment method</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xlg-12 col-md-12">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title fs-24 uppercase clearfix">Step 2. <span class="pt-span">Select package size, weight, and quantity.</span>
              </h3>
            </div>
            <div class="panel-body">
              <form action="" class="form-horizontal">
                <div class="row">
                    <div class="col-md-5 col-xlg-5">
                        <h4 class="uppercase fs-21 mt-0 mb-30 vmid-title"><span>Package Guide</span></h4>
                        <div class="table-responsive">
                          <table class="table mon-lighter fs-13 table-label">
                            <tbody>
                              <tr>
                                <td>XS / Document</td>
                                <td>22x22x22cm</td>
                                <td>2Kg</td>
                              </tr>
                              <tr>
                                <td>Small</td>
                                <td>30x30x30cm</td>
                                <td>5Kg</td>
                              </tr>
                              <tr>
                                <td>Medium</td>
                                <td>37x37x37cm</td>
                                <td>10Kg</td>
                              </tr>
                              <tr>
                                <td>Large</td>
                                <td>47x47x47cm</td>
                                <td>20kg</td>
                              </tr>
                              <tr>
                                <td>X Large</td>
                                <td>52x52x52cm</td>
                                <td>30Kg</td>
                              </tr>
                              <tr>
                                <td>XX Large</td>
                                <td>59x59x59cm</td>
                                <td>40Kg</td>
                              </tr>
                              <tr>
                                <td>XXX Large</td>
                                <td>63x63x63cm</td>
                                <td>50Kg</td>
                              </tr>
                              <tr>
                                <td>Custom Parcel</td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Food, flowers, hampers</td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Bulky items/moving service</td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Custom package</td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <div class="col-md-7 col-xlg-7">
                      <div class="row">
                        <div class="col-md-12">
                          <h4 class="uppercase fs-21 mt-0 mb-15 clearfix vmid-title"><span>Package Guide</span> <button type="button" class="btn btn-secondary mon-normal uppercase pull-right fs-15 btn-lg add-package">+ Add a Package</button></h4>
                        </div>
                      </div>
                      <div class="row package-bar">
                      {% for item in items %}
                        <div class="col-md-6 package-item">
                          <div class="package-card">
                              <h4 class="pc-title">PACKAGE <span class='pk-count'>1</span></h4>
                              <div class="form-group input-brick">
                                <div class="col-sm-12">
                                  <div class="has-need has-select">
                                    <label for="">Package Size <span>*</span></label>
                                    <select class="form-control input-lg select-styled package-size">
                                      <option value="Package Size" selected="selected">Package Size</option>
                                      <option value="XS Document">XS Document</option>
                                      <option value="Medium">Medium</option>
                                      <option value="Custom">Custom</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group input-brick">
                                <div class="col-sm-6">
                                  <div class="me-quantity">
                                    <div class="sp-input has-need">
                                        <label for="">Quantity<span>*</span></label>
                                        <input type="text" class="form-control input-lg quntity-input" value="{{ item.quantity }}" />
                                    </div>
                                    <a class="btn-qty qty-plus" href="#">+</a>
                                    <a class="btn-qty qty-minus" href="#">-</a>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <ul class="input-inline-list pk-weigth hide">
                                    <li>
                                      <div class="has-need">
                                        <label for="">Weight <span>*</span></label>
                                        <input type="text" class="form-control input-lg">
                                      </div>
                                    </li>
                                    <li><span class="inlist-span">Kg</span></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="form-group input-brick pk-custom-weight hide">
                                <div class="col-sm-12">
                                    <ul class="input-inline-list">
                                      <li>
                                        <div class="has-need">
                                          <label for="">Length <span>*</span></label>
                                          <input type="text" class="form-control input-lg">
                                        </div>
                                      </li>
                                      <li><span class="inlist-span">X</span></li>
                                      <li>
                                        <div class="has-need">
                                          <label for="">Width <span>*</span></label>
                                          <input type="text" class="form-control input-lg">
                                        </div>
                                      </li>
                                      <li><span class="inlist-span">X</span></li>
                                      <li>
                                        <div class="has-need">
                                          <label for="">Height <span>*</span></label>
                                          <input type="text" class="form-control input-lg">
                                        </div>
                                      </li>
                                      <li><span class="inlist-span">cm</span></li>
                                    </ul>
                                </div>
                              </div>
                              <div class="form-group input-brick upload-filebar">
                                <div class="col-sm-12">
                                  <div class="input-group input-group-file">
                                    <input type="text" class="form-control input-lg" placeholder="Upload an image (optional)">
                                    <span class="input-group-btn">
                                      <span class="btn btn-secondary btn-file btn-ufile">
                                        BROWSE
                                        <input class="upl-image" type="file" name="">
                                      </span>
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="view-upfile hide">
                                <div class="vu-cell">
                                  <div class=""><img class="uploaded-image" src="" alt="your image" /></div>
                                </div>
                                <div class="vu-cell">
                                  <div class="vu-file-name">imagefilename001here.jpg</div>
                                  <span class="btn btn-default btn-up-file fs-12 uppercase gotham semi btn-afix">
                                      REPLACE IMAGE
                                      <input class="upl-image" type="file" name="">
                                  </span>
                                </div>
                              </div>

                              <a href="#" class="card-close"><img src="assets/images/close.png" alt="X"></a>
                          </div>
                        </div>
                      {% endfor %}
                      </div>
                    </div>
                    <div class="col-sm-12 text-right btn-step-group">
                      <a href="" class="btn btn-gray gotham semi fs-15 btn-step btn-lg uppercase">go back</a>
                      <button class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase">Next step</button>
                    </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  {% endblock %}

  {% block extrajs %}
 
  <script>

    $(document).ready(function(){

      function changeQuantity(id, quantity){
          $.post( "/service/change_quantity/", {id: id, quantity: quantity}, function( data ) {
          alert( data.status );
        });

        }

      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });

      $(function() {
          $(document).on("input keyup change", ".has-need label + .form-control", function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });

      $(function() {
          $(document).on("input keyup change", ".has-need label + .form-control.package-size", function() {
              var vall = $(this).val();
              var divParent = $(this).parents('.package-card');
              /*if(vall.length) {
                  $(this).prev('label').hide();
              }*/
              if (vall == "Custom") {
                  divParent.find(".pk-weigth, .pk-custom-weight").removeClass('hide');
              } else {
                  $(this).prev('label').show();
                  divParent.find(".pk-weigth, .pk-custom-weight").addClass('hide');
              }$(this).prev('label').hide();
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });


      $(function(){
          //change the image of the package
          function fileUploder(id, input){
              if (input.files && input.files[0]) {
              // ajax file upload
              var data = new FormData();
              data.append('file', input.files[0]);
              data.append('id', id);
              $.ajax({
                url: '/service/change_image/',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data){
                    alert(data.status);
                }
            });  
            }
          }




          function readURL(input, divParent) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                   divParent.find('.uploaded-image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
          }
          // image on change
          $(document).on("change", ".upl-image", function() {
              var divParent = $(this).parents('.package-card');
              var formParent = $(this).parents('form');
              var package_id = formParent.find(".package_no").val();
              //change image
              fileUploder(package_id, this);
              alert(package_id);
              divParent.find(".upload-filebar").addClass('hide');
              divParent.find(".view-upfile").removeClass('hide');
              var filename = $(this).val();
              divParent.find('.vu-file-name').text(filename);
              readURL(this,divParent);
          });

          // package size on change 

            $(document).on("change", ".quntity-input", function() {
             

              

          });
      });

      $(function(){
        
        $(document).on('click', '.add-package', function() {
          //add package to cart
          $.get( "/service/add_package/", function( data ) {
                  var packageTemplate = `<div class='col-md-6 package-item'>
      <form class='ff'>
      <input name='fname' type="hidden" class="form-no package_no" value='`+data.id+`'>
          <div class='package-card'>
              <h4 class='pc-title'>PACKAGE <span class='pk-count'>pkCount</span></h4>
              <div class='form-group input-brick'>
                <div class='col-sm-12'>
                  <div class='has-need has-select'>
                    <label for=''>Package Size <span>*</span></label>
                    <select name='package-size[]' class='form-control input-lg select-styled package-size'>
                      <option value='Package Size' selected='selected'>Package Size</option>
                      <option value='XS Document'>XS Document</option>
                      <option value='Medium'>Medium</option>
                      <option value='Custom'>Custom</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class='form-group input-brick'>
                <div class='col-sm-6'>
                  <div class="me-quantity">
                    <div class="sp-input has-need">
                        <label for="">Quantity<span>*</span></label>
                        <input type="text" class="form-control input-lg quntity-input" value="0" />
                    </div>
                    <a class="btn-qty qty-plus" href="#">+</a>
                    <a class="btn-qty qty-minus" href="#">-</a>
                  </div>
                </div>
                <div class='col-sm-6'>
                  <ul class='input-inline-list pk-weigth hide'>
                    <li> 
                      <div class='has-need'>
                        <label for=''>Weight <span>*</span></label>
                        <input type='text' class='form-control input-lg'>
                      </div>
                    </li>
                    <li><span class='inlist-span'>Kg</span></li>
                  </ul>
                </div>
              </div>
              <div class='form-group input-brick pk-custom-weight hide'>
                <div class='col-sm-12'>
                    <ul class='input-inline-list'>
                      <li>
                        <div class='has-need'>
                          <label for=''>Length <span>*</span></label>
                          <input type='text' class='form-control input-lg'>
                        </div>
                      </li>
                      <li><span class='inlist-span'>X</span></li>
                      <li>
                        <div class='has-need'>
                          <label for=''>Width <span>*</span></label>
                          <input type='text' class='form-control input-lg'>
                        </div>
                      </li>
                      <li><span class='inlist-span'>X</span></li>
                      <li>
                        <div class='has-need'>
                          <label for=''>Height <span>*</span></label>
                          <input type='text' class='form-control input-lg'>
                        </div>
                      </li>
                      <li><span class='inlist-span'>cm</span></li>
                    </ul>
                </div>
              </div>
              <div class='form-group input-brick upload-filebar'>
                <div class='col-sm-12'>
                  <div class='input-group input-group-file'>
                    <input type='text' class='form-control input-lg' placeholder='Upload an image (optional)'>
                    <span class='input-group-btn'>
                      <span class='btn btn-secondary btn-file btn-ufile'>
                        BROWSE <input class='upl-image' type='file' name=''>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class='view-upfile hide'>
                <div class='vu-cell'>
                  <div class='vi-image'><img class='uploaded-image' src='{% if item.image %}{{ item.image.url }} {% endif %}' alt='your image' /></div>
                </div>
                <div class='vu-cell'>
                  <div class='vu-file-name'>Image Name</div>
                  <span class='btn btn-default btn-up-file fs-12 uppercase gotham semi btn-afix'>
                      REPLACE IMAGE <input class='upl-image' type='file'>
                  </span>
                </div>
              </div>
              <a href='#' class='card-close'><img src='assets/images/close.png' alt='X'></a>
          </div>
          </form>
        </div>`;

             $('.package-bar').append(packageTemplate);
            var pkgLenght = $('.package-item').length;

              for (var i = 1; i < pkgLenght; i++) {
                $('.package-item').last().find('.pk-count').text(i+1);
                
          
              }
              //alert( data.id );
            });



        });

        $(document).on('click', '.card-close', function(e){
          e.preventDefault();
          var packLength = $('.package-bar').find('.package-item').length;
          if(packLength > 1){
              $(this).parents('.package-item').remove();
          }
          var count = 0;
          $('.pk-count').each(function(index, value){
              count = count+1;
              $(this).text(count);
              console.log(count);
          });

          $('.form-no').each(function(index, value){
              count = count+1;
              $(this).val(i+1);
              console.log(count);
          });
        });
      });

      $(function(){
        $(document).on("click", ".btn-qty", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.me-quantity').find("input.quntity-input").val();

            if ($button.text() == "+") {
                var newVal = parseFloat(oldValue) + 1;
                //This is added for change quantyty on cart
                var formParent = $(this).parents('form');
                var package_id = formParent.find(".package_no").val();
                changeQuantity(package_id, newVal);
                $(this).closest('.me-quantity').find("input.quntity-input").prev('label').hide();
            } else {
                // Don't allow decrementing below zero
                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                    //This is added for change quantyty on cart
                    var formParent = $(this).parents('form');
                    var package_id = formParent.find(".package_no").val();
                    changeQuantity(package_id, newVal);
                } else {
                    newVal = 0;
                }
            }
             
              

              

            $button.closest('.me-quantity').find("input.quntity-input").val(newVal);

        });
      });


    });
      function fs(){
        $.get( "/service/add_package/", function( data ) {
          alert( data.id );
        });

}
  </script>
  {% endblock %}