{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}
{% block content %}
<!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">My Bookings</h1>
        </div>
      </div>
      <div class="view-bookings">
        <div class="vb-navbar">
            <ul class="nav nav-pills vb-nav" role="tablist">
              <li id="courier" role="presentation"><a href="#tab__view__courier" aria-controls="tab__view__courier" role="tab" data-toggle="tab">COURIER</a></li>
              <li id="pickup_tab" role="presentation" onload="getUrlParameter()"><a href="#tab__view__pickup" aria-controls="tab__view__pickup" role="tab" data-toggle="tab">PICKUP</a></li>
            </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab__view__courier">
            <div class="panel panel-bordered panel-base panel-searchbar">
              <div class="panel-body">
                  <div class="vb-searchbar">
                    <div class="vb-search-row vb-search-hold">
                      <div class="cell cell-field">
                        <div class="cf-block">
                          <div class="input-group">
                            <div class="input-group-addon">SEARCH</div>
                            <input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">
                          </div>
                        </div>
                      </div>
                      <div class="cell cell-btn">
                        <div class="vb-btn-group">
                          <button type="submit" class="btn btn-black medium mon-normal uppercase">Search</button>
                          <button type="button" class="btn btn-secondary medium mon-normal uppercase" data-toggle="collapse" data-target="#collapse__filters" aria-expanded="false" aria-controls="collapse__filters">Filters
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="collapse in" id="collapse__filters">
                    <div class="input-group group-has-content">
                      <div class="input-group-addon">FILTER</div>
                      <div class="fit-content">
                        <div class="row fit-content-row">
                          <div class="col-md-3">
                            <label for="">From</label>
                            <div class="field-has-icon">
                              <input type="text" class="form-control date" style="float: none;" id="from_del">
                              <img class="z5" src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label for="">To</label>
                            <div class="field-has-icon">
                            <input type="text" class="form-control date" style="float: none;" id="to_del">
                            <img class="z5" src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                            </div>
                          </div>
                          <div class="col-md-3 fit-col-btn">
                             <button class="btn btn-black medium mon-normal uppercase btn-filse" onClick="del_date()">SEARCH</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="sorting-hold">
                <div class="row">
                  <div class="col-md-8 col-xlg-8">
                    <ul class="sort-listings clearfix">
                      <li>Show your listings</li>
                      <!-- Will be uncommented after work done -->
                      <li><a href="#" id="all-del">All ({{ all_deliveries|length }})</a></li>
                      <li class="active"><a href="#" id="curr-del">Current ({{ current_deliveries|length }})</a></li>
                      <li class="active"><a href="#" id="close-del">Completed ({{ closed_deliveries|length }})</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4 col-xlg-4">
                      <div class="sort-btn-group">
                        <a href="/service/courier_csv/" class="btn btn-gray"><i aria-hidden="true" class="icon wb-download"></i> Export</a>
                        <!-- <a href="" class="btn btn-gray">Select columns</a> -->
                      </div>
                  </div>
                </div>
            </div>
            <div class="panel panel-bordered panel-base panel-bookings">
              <div id="tableCourierDiv" class="panel-body table-responsive">
                {% if messages %}
                {% for message in messages %}
                <center><h3 style="color: #26A65B; font-size: 18px;" class="{{ message.tags }}">{{ message }}</h3></center>
                {% endfor %}
                {% endif %}
                <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap table-arrow-align">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Order Date </th>
                      <th>Detail</th>
                      <th>Quick Ref #</th>
                      <th>Price</th>
                      <th>Collection Address</th>
                      <th>Delivery Address</th>
                      <th>Status</th>
                      <th>Rating</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="tableCourierBody">
                    {% for obj in all_deliveries %}
                    <tr>
                      <td>{{ forloop.counter }} </td>
                      <td><span class="o-date nowrap">{{obj.created_at|date:"d-m-Y"}}</span></td>
                      <td><a href="/service/my_booking/courier/{{ obj.id }}">View</a></td>
                      <td>{{ obj.order_no }}</td>
                      <!--<td>0 day/s</td>-->
                      <td><span class="price">{{obj.total_cost}}</span></td>
                      <td><span class="cl-address">{{obj.collection_address}}</span></td>
                      <td><span class="cl-address">{{obj.delivery_address}}</span></td>
                      <td><span class="state {% if obj.delevery_status == 'pending' %} state-pending {% endif %} {% if obj.delevery_status == 'assigned' %} state-assigned {% endif %} {% if obj.delevery_status == 'taken' %} state-accepted {% endif %} {% if obj.delevery_status == 'pickedup' %} state-pickup {% endif %} {% if obj.delevery_status == 'completed' %} state-completed {% endif %} {% if obj.delevery_status == 'cancelled' %} state-cancelled {% endif %}">{{obj.delevery_status}}</span></td>
                      {% if obj.delevery_status == 'completed' %}
                        {% if obj.rated == 'not_rated' %}
                          <!--<td><a href="#" class="btn btn-gray"  data-target="#rating-modal{{obj.id}}" data-toggle="modal">Rate Your Experience</a></td>-->
                          <td>Not Rated</td>
                        {% else %}
                        {% for rating in ratings %}
                          {% if obj.id == rating.delivery.id %}
                          <td><input class="rated-star" value="{{ rating.rating }}"></td>
                          {% endif %}
                        {% endfor %}
                        {% endif %}
                      {% else %}
                        <td><p>Incomplete Job</p></td>
                      {% endif %}
                      {% if obj.delevery_status == 'completed' or obj.delevery_status == 'cancelled' or obj.delevery_status == 'pickedup' %}
                        <td><a href="#" class="btn btn-gray" disabled>No Actions</a></td></td>
                      {% else %}
                        <td><a href="/service/del_cancel/{{ obj.id }}/" class="btn btn-orange unstroke btn-sm">Cancel</a></td>
                      {% endif %}
                    </tr>
                    <div id="rating-modal{{obj.id}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Rate Driver</h2>
                          </div>

                          <div class="modal-body" onclick="rate()">
                            <input type="hidden" class="job_id" value="{{ obj.id }}">
                            <input class="input-id" value="0">
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab__view__pickup">
            <div class="panel panel-bordered panel-base panel-searchbar">
              <div class="panel-body">
                  <div class="vb-searchbar">
                    <div class="vb-search-row vb-search-hold">
                      <div class="cell cell-field">
                        <div class="cf-block">
                          <div class="input-group">
                            <div class="input-group-addon">SEARCH</div>
                            <input id="searchPickup" type="text" class="form-control" placeholder="Type keyword...">
                          </div>
                        </div>
                      </div>
                      <div class="cell cell-btn">
                        <div class="vb-btn-group">
                          <button type="submit" class="btn btn-black medium mon-normal uppercase">Search</button>
                          <button type="button" class="btn btn-secondary medium mon-normal uppercase" data-toggle="collapse" data-target="#collapse__filters__pickup" aria-expanded="false" aria-controls="collapse__filters__pickup">Filters
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="collapse in" id="collapse__filters__pickup">
                    <div class="input-group group-has-content">
                      <div class="input-group-addon">FILTER</div>
                      <div class="fit-content">
                        <div class="row fit-content-row">
                          <div class="col-md-3">
                            <label for="">From</label>
                            <div class="field-has-icon">
                              <input type="text" id="from_pick" class="form-control date" style="float: none;">
                              <img class="z5" src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label for="">To</label>
                            <div class="field-has-icon">
                              <input type="text" id="to_pick" class="form-control date" style="float: none;">
                              <img class="z5" src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                            </div>
                          </div>
                          <div class="col-md-3 fit-col-btn">
                             <button class="btn btn-black medium mon-normal uppercase btn-filse" onclick="pick_date()">SEARCH</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="sorting-hold">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="sort-listings clearfix">
                      <li>Show your listings:</li>
                      <li><a href="" id="all-pick" onclick="allPickups()">All ({{ all_pickups|length }})</a></li>
                      <li class="active" id="curr-pick" onclick="pendingPickups()"><a href="">Pending ({{ current_pickups|length }})</a></li>
                      <li class="active" id="close-pick" onclick="closedPickups()"><a href="">Completed ({{ closed_pickups|length }})</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                      <div class="sort-btn-group">
                        <a href="/service/pickup_csv/" class="btn btn-gray"><i aria-hidden="true" class="icon wb-download"></i> Export</a>
                       <!--  <a href="" class="btn btn-gray">Select columns</a> -->
                      </div>
                  </div>
                </div>
            </div>
            <div class="panel panel-bordered panel-base panel-bookings">
              <div id="pickUpsDiv" class="panel-body table-responsive">
                <table id="tablePickup" class="table table-hover dataTable table-striped width-full">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Order Date</th>
                      <th>Pickup Address</th>
                      <th>Dropoff Address</th>
                      <th>Detail</th>
                      <th>Distance</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody id="tablePickupbody">
                    {% for obj in all_pickups %}
                    <tr>
                      <td>{{ forloop.counter }} </td>
                      <td>{{ obj.created_at|date:"d-m-Y" }}</td>
                      <td><span class="cl-address">{{ obj.pickup_address }}</span></td>
                      <td><span class="cl-address">{{ obj.dropoff_address }}</span></td>
                      <td><a href="/service/my_booking/pickup/{{ obj.id }}">View</a></td>
                      <td>{{ obj.distance }}</td>

                      <td><span class="state {% if obj.pickup_status == 'pending' %} state-pending {% endif %} {% if obj.pickup_status == 'assigned' %} state-assigned {% endif %} {% if obj.pickup_status == 'taken' %} state-accepted {% endif %} {% if obj.pickup_status == 'pickedup' %} state-pickup {% endif %} {% if obj.pickup_status == 'completed' %} state-completed {% endif %} {% if obj.pickup_status == 'cancelled' %} state-cancelled {% endif %}">{{ obj.pickup_status }}</span></td>
                    </tr>
                    {% endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->


{% endblock %}

{% block extrajs %}

<!-- <script type='text/javascript' src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script> -->
<!-- Plugins -->
<script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
<script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
<script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/date-dd-MMM-yyyy.js"></script>
<!-- <script src="{% static 'dashboard/global/vendor/tableloader.js' %}"></script> -->

<script>
//for short by date
(function () {

var customDateDDMMMYYYYToOrd = function (date) {
    "use strict"; //let's avoid tom-foolery in this function
    // Convert to a number YYYYMMDD which we can use to order
    var dateParts = date.split(/-/);
    return (dateParts[2] * 10000) + ($.inArray(dateParts[1].toUpperCase(), ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]) * 100) + (dateParts[0]*1);
};

// This will help DataTables magic detect the "dd-MMM-yyyy" format; Unshift
// so that it's the first data type (so it takes priority over existing)
jQuery.fn.dataTableExt.aTypes.unshift(
    function (sData) {
        "use strict"; //let's avoid tom-foolery in this function
        if (/^([0-2]?\d|3[0-1])-(jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec)-\d{4}/i.test(sData)) {
            return 'date-dd-mmm-yyyy';
        }
        return null;
    }
);

// define the sorts
jQuery.fn.dataTableExt.oSort['date-dd-mmm-yyyy-asc'] = function (a, b) {
    "use strict"; //let's avoid tom-foolery in this function
    var ordA = customDateDDMMMYYYYToOrd(a),
        ordB = customDateDDMMMYYYYToOrd(b);
    return (ordA < ordB) ? -1 : ((ordA > ordB) ? 1 : 0);
};

jQuery.fn.dataTableExt.oSort['date-dd-mmm-yyyy-desc'] = function (a, b) {
    "use strict"; //let's avoid tom-foolery in this function
    var ordA = customDateDDMMMYYYYToOrd(a),
        ordB = customDateDDMMMYYYYToOrd(b);
    return (ordA < ordB) ? 1 : ((ordA > ordB) ? -1 : 0);
};

})();

    var allDeliveriesData = `<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Order Date </th>
                      <th>Detail</th>
                      <th>Quick Ref #</th>
                      <th>Price</th>
                      <th>Collection Address</th>
                      <th>Delivery Address</th>
                      <th>Status</th>
                      <th>Rating</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="tableCourierBody">
                    {% for obj in all_deliveries %}
                    <tr>
                      <td>{{ forloop.counter }} </td>
                      <td><span class="o-date">{{obj.collection_date|date:"d-m-Y"}}</span></td>
                      <td><a href="/service/my_booking/courier/{{ obj.id }}">View</a></td>
                      <td>{{ obj.order_no }}</td>
                      <!--<td>0 day/s</td>-->
                      <td><span class="price">{{obj.total_cost}}</span></td>
                      <td><span class="cl-address">{{obj.collection_address}}</span></td>
                      <td><span class="cl-address">{{obj.delivery_address}}</span></td>
                      <td><span>{{obj.delevery_status}}</span></td>
                      {% if obj.delevery_status == 'completed' %}
                        {% if obj.rated == 'not_rated' %}
                          <!--<td><a href="#" class="btn btn-gray"  data-target="#rating-modal{{obj.id}}" data-toggle="modal">Rate Your Experience</a></td>-->
                          <td>Not Rated</td>
                        {% else %}
                        {% for rating in ratings %}
                          {% if obj.id == rating.delivery.id %}
                          <td><input class="rated-star" value="{{ rating.rating }}"></td>
                          {% endif %}
                        {% endfor %}
                        {% endif %}
                      {% else %}
                        <td><p>Incomplete Job</p></td>
                      {% endif %}
                      {% if obj.delevery_status == 'completed' or obj.delevery_status == 'cancelled' %}
                        <td></td>
                      {% else %}
                        <td><a href="/service/del_cancel/{{ obj.id }}/" class="btn btn-gray">Cancel</a></td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>`

    var currentDeliveriesData = `<table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                              <thead>

                                <tr>
                                  <th>#</th>
                                  <th>Order Date </th>
                                  <th>Detail</th>
                                  <th>Quick Ref #</th>
                                  <th>Price</th>
                                  <th>Collection Address</th>
                                  <th>Delivery Address</th>
                                  <th>Status</th>
                                  <th>Rating</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for obj in current_deliveries %}
                              <tr>
                              <td>{{ forloop.counter }} </td>
                              <td><span class="o-date">{{obj.collection_date|date:"d-m-Y"}}</span></td>
                              <td><a href="/service/my_booking/courier/{{ obj.id }}">View</a></td>
                              <td>{{ obj.order_no }}</td>
                              <!--<td>0 day/s</td>-->
                              <td><span class="price">{{obj.total_cost}}</span></td>
                              <td><span class="cl-address">{{obj.collection_address}}</span></td>
                              <td><span class="cl-address">{{obj.delivery_address}}</span></td>
                              <td><span>{{obj.delevery_status}}</span></td>
                              {% if obj.delevery_status == 'completed' %}
                                {% if obj.rated == 'not_rated' %}
                                  <!--<td><a href="#" class="btn btn-gray"  data-target="#rating-modal{{obj.id}}" data-toggle="modal">Rate Your Experience</a></td>-->
                                  <td>Not Rated</td>
                                {% else %}
                                {% for rating in ratings %}
                                  {% if obj.id == rating.delivery.id %}
                                  <td><input class="rated-star" value="{{ rating.rating }}"></td>
                                  {% endif %}
                                {% endfor %}
                                {% endif %}
                              {% else %}
                                <td><p>Incomplete Job</p></td>
                              {% endif %}
                              {% if obj.delevery_status == 'completed' %}
                                <td></td>
                              {% else %}
                                <td><a href="/service/del_cancel/{{ obj.id }}/" class="btn btn-gray">Cancel</a></td>
                              {% endif %}
                            </tr>
                            {% endfor %}
                          </tbody>
                          </table>`

    var closedDeliveriesData = `<table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                              <thead>

                                <tr>
                                  <th>#</th>
                                  <th>Order Date </th>
                                  <th>Detail</th>
                                  <th>Quick Ref #</th>
                                  <th>Price</th>
                                  <th>Collection Address</th>
                                  <th>Delivery Address</th>
                                  <th>Status</th>
                                  <th>Rating</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for obj in closed_deliveries %}
                              <tr>
                              <td>{{ forloop.counter }} </td>
                              <td><span class="o-date">{{obj.collection_date|date:"d-m-Y"}}</span></td>
                              <td><a href="/service/my_booking/courier/{{ obj.id }}">View</a></td>
                              <td>{{ obj.order_no }}</td>
                              <!--<td>0 day/s</td>-->
                              <td><span class="price">{{obj.total_cost}}</span></td>
                              <td><span class="cl-address">{{obj.collection_address}}</span></td>
                              <td><span class="cl-address">{{obj.delivery_address}}</span></td>
                              <td><span>{{obj.delevery_status}}</span></td>
                              {% if obj.delevery_status == 'completed' %}
                                {% if obj.rated == 'not_rated' %}
                                  <!--<td><a href="#" class="btn btn-gray"  data-target="#rating-modal{{obj.id}}" data-toggle="modal">Rate Your Experience</a></td>-->
                                  <td>Not Rated</td>
                                {% else %}
                                {% for rating in ratings %}
                                  {% if obj.id == rating.delivery.id %}
                                  <td><input class="rated-star" value="{{ rating.rating }}"></td>
                                  {% endif %}
                                {% endfor %}
                                {% endif %}
                              {% else %}
                                <td><p>Incomplete Job</p></td>
                              {% endif %}
                              {% if obj.delevery_status == 'completed' %}
                                <td></td>
                              {% else %}
                                <td><a href="/service/del_cancel/{{ obj.id }}/" class="btn btn-gray">Cancel</a></td>
                              {% endif %}
                            </tr>
                            {% endfor %}
                          </tbody>
                          </table>
                          `

    var allPickupsData = `<table id="tablePickup" class="table table-hover dataTable table-striped width-full">
                            <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Order Date</th>
                                  <th>Pickup Address</th>
                                  <th>Drop off Address</th>
                                  <th>Detail</th>
                                  <th>Distance</th>
                                  <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for obj in all_pickups %}
                              <tr>
                              <td>{{ forloop.counter }} </td>
                              <td>{{ obj.created_at|date:"d-m-Y" }}</td>
                              <td><span class="cl-address">{{ obj.pickup_address }}</span></td>
                              <td><span class="cl-address">{{ obj.dropoff_address }}</span></td>
                              <td><a href="/service/my_booking/pickup/{{ obj.id }}">View</a></td>
                              <td>{{ obj.distance }}</td>
                              <td><span class="state state-completed">{{ obj.pickup_status }}</span></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          </table>`

    var currentPickupsData = `<table id="tablePickup" class="table table-hover dataTable table-striped width-full">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Order Date</th>
                                  <th>Pickup Address</th>
                                  <th>Drop off Address</th>
                                  <th>Detail</th>
                                  <th>Distance</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for obj in current_pickups %}
                              <tr>
                                <td>{{ forloop.counter }} </td>
                                <td>{{ obj.created_at|date:"d-m-Y" }}</td>
                                <td><span class="cl-address">{{ obj.pickup_address }}</span></td>
                                <td><span class="cl-address">{{ obj.dropoff_address }}</span></td>
                                <td><a href="/service/my_booking/pickup/{{ obj.id }}">View</a></td>
                                <td>{{ obj.distance }}</td>
                                <td><span class="state state-completed">{{ obj.pickup_status }}</span></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                          </table>`

    var closedPickupsData =  `<table id="tablePickup" class="table table-hover dataTable table-striped width-full">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Order Date</th>
                                  <th>Pickup Address</th>
                                  <th>Drop off Address</th>
                                  <th>Detail</th>
                                  <th>Distance</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for obj in closed_pickups %}
                              <tr>
                                <td>{{ forloop.counter }} </td>
                                <td>{{ obj.created_at|date:"d-m-Y" }}</td>
                                <td><span class="cl-address">{{ obj.pickup_address }}</span></td>
                                <td><span class="cl-address">{{ obj.dropoff_address }}</span></td>
                                <td><a href="/service/my_booking/pickup/{{ obj.id }}">View</a></td>
                                <td>{{ obj.distance }}</td>
                                <td><span class="state state-completed">{{ obj.pickup_status }}</span></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                          </table>`



    function allPickups() {
      $('#pickUpsDiv').empty();
      $('#pickUpsDiv').append(allPickupsData);

      $('#collapse__filters').on('shown.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
      });

      $('#collapse__filters').on('hidden.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
      });

      $(function(){
        $(".sort-listings a").on("click", function(e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
      });
      $(function(){
        var tableCourier = $("#tablePickup").DataTable({
          aoColumnDefs: [
            {
               bSortable: false,
               aTargets: [ -1 ]
            }
          ]
        });
        $("#searchPickup").keyup(function(){
              tableCourier.search($(this).val()).draw() ;
        })
      });
    }

    function pendingPickups() {
      $('#pickUpsDiv').empty();
      $('#pickUpsDiv').append(currentPickupsData);

      $('#collapse__filters').on('shown.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
      });

      $('#collapse__filters').on('hidden.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
      });

      $(function(){
        $(".sort-listings a").on("click", function(e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
      });
      $(function(){
        var tableCourier = $("#tablePickup").DataTable({
          aoColumnDefs: [
            {
               bSortable: false,
               aTargets: [ -1 ]
            }
          ]
        });
        $("#searchPickup").keyup(function(){
              tableCourier.search($(this).val()).draw() ;
        })
      });
    }

    function closedPickups() {
      $('#pickUpsDiv').empty();
      $('#pickUpsDiv').append(closedPickupsData);

      $('#collapse__filters').on('shown.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
      });

      $('#collapse__filters').on('hidden.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
      });

      $(function(){
        $(".sort-listings a").on("click", function(e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
      });
      $(function(){
        var tableCourier = $("#tablePickup").DataTable({
          aoColumnDefs: [
            {
               bSortable: false,
               aTargets: [ -1 ]
            }
          ]
        });
        $("#searchPickup").keyup(function(){
              tableCourier.search($(this).val()).draw() ;
        })
      });
    }

    function currentDeliveries() {
      $('#tableCourierDiv').empty();
      $('#tableCourierDiv').append(currentDeliveriesData);

      $('#collapse__filters').on('shown.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
      });

      $('#collapse__filters').on('hidden.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
      });

      $(function(){
        $(".sort-listings a").on("click", function(e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
      });
      $(function(){
        var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
            {
               bSortable: false,
               aTargets: [ -1 ]
            }
          ]
        });
        $("#searchCourier").keyup(function(){
              tableCourier.search($(this).val()).draw() ;
        })
      });
    }

    function closedDeliveries() {
      $('#tableCourierDiv').empty();
      $('#tableCourierDiv').append(closedDeliveriesData);
      $('#collapse__filters').on('shown.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
      });

      $('#collapse__filters').on('hidden.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
      });

      $(function(){
        $(".sort-listings a").on("click", function(e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
      });
      $(function(){
        var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
            {
               bSortable: false,
               aTargets: [ 0 ],
                type: 'date-dd-mmm-yyyy', targets: 0
            }
          ]
        });
        $("#searchCourier").keyup(function(){
              tableCourier.search($(this).val()).draw() ;
        })
      });
    }


  $(document).ready(function(){

      $('#collapse__filters').on('shown.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
      });

      $('#collapse__filters').on('hidden.bs.collapse', function () {
         $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
      });

      $(function(){
        $(".sort-listings a").on("click", function(e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
      });
      $(function(){
        var tableCourier = $("#tableCourier, #tablePickup").DataTable({
          aoColumnDefs: [
            {
               bSortable: false,
               aTargets: [-1]
            }
          ]
        });
        $("#searchCourier, #searchPickup").keyup(function(){
              tableCourier.search($(this).val()).draw() ;
        })
      });
  });
</script>
<script>
  var getUrlParameter = function getUrlParameter() {
    var sPageURL = decodeURIComponent(window.location.search.substring(1));
        var sURLVariables = sPageURL.split('=');
        if(sURLVariables[1] == 'pickup'){
          document.getElementById("pickup_tab").className = "active";
          document.getElementById("courier").className = "";
          console.log('if');
          return sURLVariables[1];
        }
        else{
          document.getElementById("pickup_tab").className = "";
          document.getElementById("courier").className = "active";
          return sURLVariables[1];
        }

  };

  var test = getUrlParameter();
</script>
<script>
  $(function() {
    $('.input-id').rating({
        displayOnly: false,
        theme: 'krajee-fa',
        filledStar: '<i class="fa fa-star"></i>',
        emptyStar: '<i class="fa fa-star-o"></i>'
    }).on('rating.change', function(event, value) {
        var del_id = $(this).parents('.modal-body').children('.job_id').val();
        //console.log(del_id);
        //console.log(value);
        var rating = value;
        $.ajax({
              url:'/service/rate/',
              type:'POST',
              data: {id:del_id, rating:rating},
              dataType:'json',
              success:function(data){
                  console.log(data);
                  window.location = '/service/myBookings/';
              }
          });
    });
    })
</script>

<script>
  $(function() {
    $('.rated-star').rating({
        displayOnly: true,
        theme: 'krajee-fa',
        filledStar: '<i class="fa fa-star"></i>',
        emptyStar: '<i class="fa fa-star-o"></i>',
        showCaption: true,
    })
  });
</script>


<script>
  var loadStar = function loadStar() {
    $('.rated-star-all').rating({
        displayOnly: true,
        theme: 'krajee-fa',
        filledStar: '<i class="fa fa-star"></i>',
        emptyStar: '<i class="fa fa-star-o"></i>',
        showCaption: true,
    });}

</script>


<script>
  $(function() {
    $('.unrated-star').rating({
        displayOnly: true,
        theme: 'krajee-fa',
        showClear: true,
        showCaption: true,
        filledStar: '<i class="fa fa-star"></i>',
        emptyStar: '<i class="fa fa-star-o"></i>',
    })
    });
</script>

<script>
  $('#all-del').on('click', function(e){

//      $('#tableCourierDiv').append(allDeliveriesData);
    e.preventDefault();
    $('#tableCourierDiv').empty();
//    console.log(e);
    $.ajax({
      url: '/service/alldeliveries/',
      type: 'get',
//      data: {from_date:from, to_date:to},
      dataType: 'html',
      success: function (data) {
        $('#tableCourierDiv').empty();
        $('#tableCourierDiv').html(data);
        $('.rated-star').rating({
          displayOnly: true,
          theme: 'krajee-fa',
          filledStar: '<i class="fa fa-star"></i>',
          emptyStar: '<i class="fa fa-star-o"></i>',
          showCaption: true,
        });
        $('#collapse__filters').on('shown.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });


        $(".sort-listings a").on("click", function (e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
        var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
            {
              bSortable: false,
              aTargets: [-1]
            }
          ]
        });
        $("#searchCourier").keyup(function () {
          tableCourier.search($(this).val()).draw();
        });
      },
      error: function () {
        console.log('Error in submission.');
      }
    });
  });
</script>
<script>
  $('#curr-del').on('click', function(e){

//      $('#tableCourierDiv').append(allDeliveriesData);
    e.preventDefault();
    $('#tableCourierDiv').empty();
//    console.log(e);
    $.ajax({
      url: '/service/currentdeliveries/',
      type: 'get',
//      data: {from_date:from, to_date:to},
      dataType: 'html',
      success: function (data) {
        $('#tableCourierDiv').empty();
        $('#tableCourierDiv').html(data);
        $('.rated-star').rating({
          displayOnly: true,
          theme: 'krajee-fa',
          filledStar: '<i class="fa fa-star"></i>',
          emptyStar: '<i class="fa fa-star-o"></i>',
          showCaption: true,
        });
        $('#collapse__filters').on('shown.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });


        $(".sort-listings a").on("click", function (e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
        var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
            {
              bSortable: false,
              aTargets: [-1]
            }
          ]
        });
        $("#searchCourier").keyup(function () {
          tableCourier.search($(this).val()).draw();
        });
      },
      error: function () {
        console.log('Error in submission.');
      }
    });
  });
</script>

<script>
  $('#close-del').on('click', function(e){

//      $('#tableCourierDiv').append(allDeliveriesData);
    e.preventDefault();
    $('#tableCourierDiv').empty();
//    console.log(e);
    $.ajax({
      url: '/service/closeddeliveries/',
      type: 'get',
//      data: {from_date:from, to_date:to},
      dataType: 'html',
      success: function (data) {
        $('#tableCourierDiv').empty();
        $('#tableCourierDiv').html(data);
        $('.rated-star').rating({
          displayOnly: true,
          theme: 'krajee-fa',
          filledStar: '<i class="fa fa-star"></i>',
          emptyStar: '<i class="fa fa-star-o"></i>',
          showCaption: true,
        });
        $('#collapse__filters').on('shown.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });


        $(".sort-listings a").on("click", function (e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
        var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
            {
              bSortable: false,
              aTargets: [-1]
            }
          ]
        });
        $("#searchCourier").keyup(function () {
          tableCourier.search($(this).val()).draw();
        });
      },
      error: function () {
        console.log('Error in submission.');
      }
    });
  });
</script>
<script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
<script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){

    $(".date").datetimepicker({
          format: 'DD MMM YYYY'
      });
  });

  var del_date = function del_date(){
      console.log('success');
      from = $('#from_del').val();
      to = $('#to_del').val();
      $.ajax({
      url: '/service/courier_from_date/',
      type: 'post',
      data: {from_date:from, to_date:to},
      dataType: 'html',
      success: function (data) {
        $('#tableCourierDiv').empty();
//        $('#all-del').css('display', 'none');
//        $('#curr-del').css('display', 'none');
//        $('#close-del').css('display', 'none');
        $('#tableCourierDiv').html(data);
        $('.rated-star').rating({
          displayOnly: true,
          theme: 'krajee-fa',
          filledStar: '<i class="fa fa-star"></i>',
          emptyStar: '<i class="fa fa-star-o"></i>',
          showCaption: true,
        });
        $('#collapse__filters').on('shown.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });


        $(".sort-listings a").on("click", function (e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
        var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
            {
              bSortable: false,
              aTargets: [-1]
            }
          ]
        });
        $("#searchCourier").keyup(function () {
          tableCourier.search($(this).val()).draw();
        });
      },
      error: function () {
        console.log('Error in submission.');
      }
    });
  }

    var pick_date = function pick_date(){
      console.log('success');
      from = $('#from_pick').val();
      to = $('#to_pick').val();
      $.ajax({
      url: '/service/pickup_from_date/',
      type: 'post',
      data: {from_date:from, to_date:to},
      dataType: 'html',
      success: function (data) {
        $('#pickUpsDiv').empty();
//        $('#all-pick').css('display', 'none');
//        $('#curr-pick').css('display', 'none');
//        $('#close-pick').css('display', 'none');
        $('#pickUpsDiv').html(data);
        $('.rated-star').rating({
          displayOnly: true,
          theme: 'krajee-fa',
          filledStar: '<i class="fa fa-star"></i>',
          emptyStar: '<i class="fa fa-star-o"></i>',
          showCaption: true,
        });
        $('#collapse__filters').on('shown.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
          $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });


        $(".sort-listings a").on("click", function (e) {
          e.preventDefault();
          $(".sort-listings li").removeClass("active");
          $(this).closest("li").addClass("active");
        });
        var tablePickup = $("#tablePickup").DataTable({
          aoColumnDefs: [
            {
              bSortable: false,
              aTargets: [-1]
            }
          ]
        });
        $("#searchCourier").keyup(function () {
          tablePickup.search($(this).val()).draw();
        });
      },
      error: function () {
        console.log('Error in submission.');
      }
    });
  }
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">
 <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
