{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}
{% block content %}

<!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading"><span class="color-primary mon-normal">Pickup # </span><span>{{ booking.order_no }}</span></h1>
        </div>
      </div>
      <div class="view-bookings">
        <div class="vb-navbar">
            <ul class="nav nav-pills vb-nav" role="tablist">
              <li role="presentation" class="active"><a href="#tab__view__courier" aria-controls="tab__view__courier" role="tab" data-toggle="tab">SUMMARY</a></li>
            </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab__view__courier">
            <ul class="collect-info-lists like-panel dtable-lists">
                <li>
                  <div class="cl-content">
                    <div class="cl-icon"><img src="{% static 'dashboard/assets/images/icons/sm/3-gray.png' %}" alt="..."></div>
                    <div class="denote">
                      <h5 class="cl-title">PAYMENT</h5>
                      <div class="note">
                        <p class="mon-normal"></p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="cl-content">
                    <div class="cl-icon"><img src="{% static 'dashboard/assets/images/icons/sm/4-gray.png' %}" alt="..."></div>
                    <div class="denote">
                      <h5 class="cl-title">DURATION & DISTANCE</h5>
                      <div class="note">
                        <ul class="cl-note-list mon-normal">
                          <li>
                <!--             <span>15</span>min/s -->
                          </li>
                          <li>
                            <span>{{ booking.distance }}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="cl-content">
                    <div class="cl-icon"><img src="{% static 'dashboard/assets/images/icons/sm/4-gray.png' %}" alt="..."></div>
                    <div class="denote">
                      <h5 class="cl-title">DELIVERY STATUS</h5>
                      <div class="note"><span class="state state-{{ booking.pickup_status }} mt-10">{{ booking.pickup_status }}</span></div>
                    </div>
                  </div>
                </li>
            </ul>

            <div class="panel panel-bordered panel-base">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <div class="form-group input-brick mb-0">
                        <div class="col-sm-12">
                          <div class="input-step has-micon">
                            <h4 class="inp-heading">
                              <i class="fa fa-map-marker"></i>
                              PICKUP  ADDRESS
                            </h4>
                            <div class="hm-body">
                              <div class="has-need">
                               {{ booking.pickup_address }}
                              </div>
                            </div>
                          </div>
                          <div class="input-step has-micon">
                            <h4 class="inp-heading">
                              <i class="fa fa-map-marker"></i>
                              DROPOFF  ADDRESS
                            </h4>
                            <div class="hm-body">
                              <div class="has-need">
                                
                                {{ booking.dropoff_address }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group input-brick">
                        <div class="col-sm-12">
                          <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                          {{ booking.remarks }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="vehicle">
                        <div class="vehicle-image">
                          <img src="{% static 'dashboard/assets/images/vehicle/standard.png' %}" data-active-img="{% static 'dashboard/assets/images/vehicle/standard-active.png' %}" data-inactive-img="{% static 'dashboard/assets/images/vehicle/standard.png' %}" alt="Standard Cab">
                        </div>
                        <span class="vr-title">{{ booking.vehicle_type.caption }}</span>
                      </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                  <div class="panel panel-bordered panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase clearfix">ACTIVITY LOG</h3>
                    </div>
                    <div class="panel-body">
                      <ul class="ac-log-lists">
                      {% for log in logs %}
                        <li>
                          <div class="ac-log-card">
                            <div class="ac-icon">
                              {% if log.pickup_status == 'assigned' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/1.png' %}" alt="...">
                              {% elif log.pickup_status == 'taken' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/4.png' %}" alt="...">
                              {% elif log.pickup_status == 'pickedup' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/1.png' %}" alt="...">
                              {% elif log.pickup_status == 'completed' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/5.png' %}" alt="...">
                              {% elif log.pickup_status == 'cancelled' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/2.png' %}" alt="...">
                              {% elif log.pickup_status == 'pending' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/6.png' %}" alt="...">
                              {% endif %}
                            </div>
                            <div class="ac-denote">
                              <p class="note">
                                {{ log.log_message }}
                              </p>
                              {% if log.delevery_status == 'pending' %}
                              <p class="log-by">
                                <span>by: SYSTEM</span>   {{ log.date_time|date:"d/m/Y g:i A" }}
                              </p>
                              {% else %}
                              <p class="log-by">
                                <span>by: {{ log.logger_name }}</span>   {{ log.date_time|date:"d/m/Y g:i A" }}
                              </p>
                              {% endif %}
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div class="panel panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase">your MESSAGES</h3>
                    </div>
                    <div class="panel-body">
                      <ul class="messages-media">
                        {% for message in messages %}
                        <li class="mes-media">
                          <div class="mm-image">
                            <span>{{ message.created_at|date:"g:i A" }}</span>
                            <span>{{ message.created_at|date:"d/m/Y" }}</span>
                          </div>
                          <div class="mm-denote">
                            <h5 class="name">{{ message.message_to_customer.name }}</h5>
                            <p>
                              {{ message.message_body }}
                            </p>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="panel panel-bordered panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase clearfix">your shipping route</h3>
                    </div>
                    <div class="panel-body">
                        <div id="routeMap">
                        <!-- <img src="{% static 'dashboard/assets/images/map.png' %}" alt="..." class="img-responsive"> -->
                      </div>
                      <div class="route-steps">
                        <div class="input-step has-micon">
                          <h4 class="inp-heading">
                            <i class="fa fa-map-marker"></i>
                            PICKUP  Address
                          </h4>
                          <div class="hm-body">
                            <p>{{ booking.pickup_address }}</p>
                          </div>
                        </div>
                        <div class="input-step has-micon">
                          <h4 class="inp-heading">
                            <i class="fa fa-map-marker"></i>
                            DROPOFF  ADDRESS
                          </h4>
                          <div class="hm-body">
                            <p>{{ booking.dropoff_address }}</p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="panel panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase clearfix">DELIVERY CONFIRMATION</h3>
                    </div>
                    <div class="panel-body">
                      {% if booking.signature %}
                      <ul class="delivery-conf-list">
                        <li>
                            <div class="dl-card">
                                <img height="100" width="200" src="{% if booking.signature %}{{ booking.signature.url }}{% else %}{% static 'dashboard/assets/images/sign.png' %}{% endif %}" alt="...">
                            </div>
                          </li>
                          <li>
                            <div class="dl-card">
                                <p class="note">
                                  This delivery has already been confirmed by recipient.
                                  <hr/>
                                  Driver's Note: {{ booking.completion_note }}
                                </p>
                                <p class="log-by">
                                  <span>by: {{ booking.pickedup_by.name }}</span>   {{ booking.job_complete_time|date:"d/m/Y g:i A" }}
                                </p>
                            </div>
                          </li>
                      </ul>
                {% else %}
                  Not Completed
                {% endif %}
                    </div>
                  </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                <div class="panel panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase">Payment History</h3>
                    </div>
                    <div class="panel-body">
                      <table class="table table-hover dataTable table-striped width-full table-payment-histroy">
                        <thead>
                          <tr>
                            <th>TRANSACTION</th>
                            <th>TRANSACTION TIME</th>
                            <th>STATUS</th>
                            <th>AMOUNT</th>
                          </tr>
                        </thead>
                          {% if payment %}
                            {% for payment in payment %}
                                 <tr>
                              <td>{{ payment.id }}</td>
                              <td><span class="color-title mon-normal">{{ payment.date_time }}</span></td>
                              <td><span class="mon-normal color-title fs-14">Paid</span></td>
                              <td><span class="mon-normal color-title">{{ payment.total_cost }}</span></td>
                                </tr>
                            {% endfor %}
                          {% endif %}
                      </table>
                    </div>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->


{% endblock %}

{% block extrajs %}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&callback=initMap">
</script>
<script type="text/javascript">
  // var map;
  // var geocoder;
  // function initMap() {
  //   geocoder = new google.maps.Geocoder();
  //   var mapOptions = {
  //     zoom: 8,
  //   }
  //   map = new google.maps.Map(document.getElementById('routeMap'), mapOptions);


  // function drow_oplyline(){

  // }

  function codeAddress(address) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);      // center the map on address
        var marker = new google.maps.Marker({         // place a marker on the map at the address
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  function initMap() {
        var map = new google.maps.Map(document.getElementById('routeMap'), {
          zoom: 12,
          center: {% if trac.lat %}{lat: {{ tracking.0.lat }}, lng: {{ tracking.0.lng }} }{% else %}{lat: {{ booking.pickup_address_lat }}, lng: {{ booking.pickup_address_lng }} }{% endif %},
          mapTypeId: 'terrain'
        });

        var path = [
        {% for trac in tracking %}{% if trac.lat %}{lat: {{ trac.lat }}, lng: {{ trac.lng }} },{% endif %}
        {% endfor %}
        ];
        var drowPath = new google.maps.Polyline({
          path: path,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        drowPath.setMap(map);

        var marker = new google.maps.Marker({         // place a marker on the map at the address
          map: map,
          position: {lat: {{ booking.pickup_address_lat }}, lng: {{ booking.pickup_address_lng }} },
          label: "A"
        });

        var marker = new google.maps.Marker({         // place a marker on the map at the address
          map: map,
          position: {lat: {{ booking.dropoff_address_lat }}, lng: {{ booking.dropoff_address_lng }} },
          label: "B"
        });


      }

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

{% block extracss %}
<style>
 #routeMap {
        width: 100%;
        height: 400px;
     }
</style>
{% endblock %}
