.navbar {
	&.navbar-base {
		background-color: @white;
		margin-bottom: 0;
		border: none;
		border-bottom: 3px solid @brand-primary;


		.navbar-header {
			.navbar-brand {
				height: auto;
				padding-top: 28px;
				padding-bottom: 18px;
			}
		}

		.nav {
			&.nav-main {
				margin-top: 86px;
				li {
					a {
						font-family: @Gotham-Medium;
						font-size: 15px;
						color: @title-color;
						text-transform: uppercase;
					}
				}
				> li {
					> a {
						padding-top: 0;
						padding-bottom: 0;
					}
					&.active {
						a {
							background-color: @white;
						}
					}
				}
			}



			&.nav-logs {
				margin-top: 41px;
				> li {
					display: block;
					float: none;

					> a {
						font-family: @Gotham-Book;
						font-size: 13px;
						color: @text-lighter;
						text-transform: uppercase;
						padding-top: 10px;
						padding-bottom: 10px;
						text-align: right;

						i {
							margin-right: 5px;
						}
					}

					&.register {
						> a {
							background-color: @brand-primary;
							color: @white;
							text-align: center;
							.border-radius(6px 6px 0 0);
						}
					}
				}
			}
		}

	}
}