{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
<div ng-app='FindringDriver'>
<div ng-controller="DriverCtrl">
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Service</h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <ul class="nav nav-dash-list">
              <li>
                <a href="/service/courier_booking_one/">
                  <img src="{% static 'dashboard/assets/images/icons/sm/1.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/1-active.png' %}" alt="Courier Service"> 
                  <span class="nd-title">Courier Service</span>
                </a>
              </li>
              <li class="active">
                <a href="/service/passengerPickup/">
                  <img src="{% static 'dashboard/assets/images/icons/sm/2.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/2-active.png' %}" alt="Passenger Pickup"> 
                  <span class="nd-title">Passenger Pickup</span>
                </a>
              </li>
            </ul>
        </div>
      </div>
      <div class="white-stroke"></div>
      <div class="panel-passenger mt-n50">
        <div class="row row-papi">
          <div class="col-md-6 col-lg-6 col-xlg-4">
            <div class="papi-content">
              <h4 class="uppercase mb-20 mt-0">FINDING YOU A DRIVER</h4>

              <form action="" class="form-horizontal">
                <div class="form-group mb-25">
                  <div class="col-sm-12">
                    <div class="input-group addon-styled">
                      <span class="input-group-addon" id="addon__1">Pickup</span>
                      <input type="text" class="form-control" value="{{ pickupAddress }}" placeholder="" aria-describedby="addon__1">
                    </div>
                    <div class="input-group addon-styled">
                      <span class="input-group-addon" id="addon__2">Dropoff</span>
                      <input type="text" class="form-control" value="{{ dropOffAddess }}" placeholder="" aria-describedby="addon__2">
                    </div>
                    <div class="input-group addon-styled addon-auto">
                      <span class="input-group-addon fs-15 mon-lighter" id="addon__3">Fare</span>
                      <input type="text" class="form-control h40" value="{{ est_cost }}" placeholder="" aria-describedby="addon__3" readonly>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <p>Standard booking conditions apply. TQ.</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                    <button type="button" class="btn btn-gray big gotham normal uppercase fs-15 btn-block" data-toggle="modal" data-target="#bookCancel"> CANCEL BOOKING </button>
                  </div>
                </div>
                                
              </form>

            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xlg-8">
            <div id="map-canvas" class="google-maps"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade modal-cab-details modal-mid" id="bookCancel" tabindex="-1" role="dialog" aria-labelledby="bookCancelLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="modal-header text-center">
          <h3 class="title fs-24 uppercase color-primary">Are you sure?</h3>
          <p>Please tell us your reason for cancelling this job:</p>
        </div>
        <div class="modal-body">
          <form method="POST" action="/service/passengerPickupFinish/{{ pickup_id }}/">
            {% csrf_token %}
            <div class="btn-group booking-cancel-group clearfix" data-toggle="buttons">
            {% for obj in reasons %}
              <label class="btn bcan-item ">
                <input type="radio" name="cancel-radio" autocomplete="off" value="{{ obj.reason }}">
                <span class="bc-image"><img src="{{ obj.image.url }}" alt="..." data-inactive-img="{{ obj.image.url }}" data-active-img="{{ obj.image_active.url }}"></span>
                <span class="title">{{ obj.reason }}</span>
              </label>
            {% endfor %}
              <input type="hidden" name="pickup_id" value="{{pickup_id}}">
            </div>
            <textarea name="comments" rows="3" class="form-control" placeholder="Do you have any additional comments?"></textarea>

            <div class="modal-footer text-right">
              <button type="submit" class="btn btn-secondary big gotham normal uppercase fs-15 mt-10 mb-30 btn-afix">Submit</button>
            </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
  <script src="{% static 'dashboard/global/vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/skycons/skycons.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-js/chartist.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/jquery.jvectormap.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>


<!-- Initialize google map -->
<script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places"></script>

<script>
    $(document).ready(function(){
      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });

      function stateAcInactive() {
        $('.vehicle-list .vehicle-item').each(function() {
            var dataActImg = $(this).find('img').attr('data-active-img');
            var dataInactImg = $(this).find('img').attr('data-inactive-img');

            if ($(this).hasClass('active')) {
                $(this).find('img').attr('src', dataActImg);
            } else {
                $(this).find('img').attr('src', dataInactImg);
            }
        });
      }
      stateAcInactive();
      $(document).on('click', '.vehicle-list', function() {
          stateAcInactive();
      });


      $(function(){
        $('.go-next').click(function(e){
          $('.nav-steps > .active').next('li').find('a').trigger('click');
          e.preventDefault();
        });
        $('.go-prev').click(function(e){
          $('.nav-steps > .active').prev('li').find('a').trigger('click');
          e.preventDefault();
        });
      });


      $(function() {
          $(".has-need label + .form-control").keyup(function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });
    });
  </script>
    <!-- Scripts -->
  <script src="{% static 'dashboard/global/js/core.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/site.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menubar.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/gridmenu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/sidebar.js' %}"></script>
  <script src="{% static 'dashboard/global/js/configs/config-colors.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/configs/config-tour.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/asscrollable.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/animsition.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/slidepanel.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/switchery.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/matchheight.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/jvectormap.js' %}"></script>
  <script src="{% static 'dashboard/assets/examples/js/dashboard/v1.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <script type="text/javascript">
  var app = angular.module('FindringDriver', []);
  app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
  })
.controller('DriverCtrl', function($scope,  $http, $timeout, $window) {
  
      // Inicializing google map
      var map;
      var markers = [];
      function initialize() {        
      var mapOptions = {
          zoom: 11,
          center: new google.maps.LatLng({{ pickup.pickup_address_lat }}, {{  pickup.pickup_address_lng  }})
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        
      }initialize();
      //
      // Set markers
    $scope.makeMarkers =function makeMarkers(data){
        console.log("marcer function called");
        setMapOnAll(null);
        for(var i in data){
          console.log("marcer function has data");
          if(data[i].is_active){
            var marker = new google.maps.Marker({
                map:map,
                position: new google.maps.LatLng(data[i].lat, data[i].lng),
                icon : "{% static 'dashboard/assets/images/car-marker.png' %}"
              });
             markers.push(marker);
          }
        }
      }
      
      //clear marker
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      // Make marker for pickup addres
      $scope.markerAddress = function(){
      var marker_pickup = new google.maps.Marker({
                map:map,
                position: new google.maps.LatLng({{ pickup.pickup_address_lat }},{{  pickup.pickup_address_lng  }}),
                // icon : "{% static 'dashboard/assets/images/car-marker.png' %}"
              });
             markers.push(marker_pickup);
          }

      // get drivers lication form server
            $scope.getDataDruver = function(){
        $http.get('/apis/get_driver_location/')
          .success(function(data, status, headers, config) {

          // Your code here
          $scope.makeMarkers(data);
        });
      }
      // Function to get the data
      $scope.getData = function(){
        $http.get('/apis/get_pickup_status/{{ pickup_id }}/')
          .success(function(data, status, headers, config) {

          // Your code here
          if(data.pickup_status == 'taken'){
            $window.location.href = '/service/passengerPickupFinish/{{ pickup_id }}/';
          }else if(data.pickup_status == 'cancelled'){
            alert("No Nearest Driver found for your order. Your job has been cancelled.")
            $window.location.href = '/customer/home/';
          }
        });
      }
    // Function to replicate setInterval using $timeout service.
    $scope.intervalFunction = function(){
      $timeout(function() {
        $scope.getData();
        $scope.getDataDruver();
        $scope.intervalFunction();
    }, 10000)
    };

    // Initial call for the driver location
    $scope.getData();
    // Kick off the interval
    $scope.intervalFunction();
    $scope.getDataDruver();
    

});

  </script>
{% endblock %}