.need-validation {
	position: relative;
}
.need-validation .form-control-feedback {
	position: absolute;
	right: 0px;
	top: 50%;
	-webkit-transform: -webkit-translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

#contact_us_form .has-feedback {
	position: relative;
}
#contact_us_form .has-feedback .form-control-feedback {
	position: absolute;
	top: 40px;
}
.remove-need {
	position: relative;
}
.remove-need .form-control-feedback {
	position: absolute;
}
.has-feedback .search-address .form-control-feedback {
	right: 30px;
}

table.dataTable#tableCourier thead .sorting:after, table.dataTable#tableCourier thead .sorting_asc:after, table.dataTable#tableCourier thead .sorting_desc:after {
	top: 28px;
}

table.dataTable.table-arrow-align thead .sorting:after, table.dataTable.table-arrow-align thead .sorting_asc:after, table.dataTable.table-arrow-align thead .sorting_desc:after {
	top: 50% !important;
    -webkit-transform: -webkit-translateY(-50%);
	-moz-transform: -moz-translateY(-50%);
	transform: translateY(-50%);
}

.actions-orders a {
	display: inline-block;

}
.actions-orders a + a {
	margin-left:5px;
}

.linked-danger {
	color: red !important;
}
.linked-primary {
	color: #2ebab3 !important;
}
.linked-success {
	color: green !important;
}

.btn.btn-orange {
	background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn.btn-orange:hover, .btn.btn-orange:focus {
	background-color: #ec971f;
    border-color: #985f0d;
    color: #fff;
}




.navbar-brand-logo {
    height: auto;
    margin-top: -5px;
    max-height: 32px;
    max-width: 100%;
}

.btn-color-white .btn-primary,
.btn-color-white .btn-danger,
.btn-color-white .btn-success,
.btn-color-white .btn-warning,
.btn-color-white .btn-info,
.btn-color-white .btn-orange {
	color: #fff !important;
}


.btn-step-group.btn-step-group-promo .btn.btn-step.btn-lg {
	min-width: 126px;
}
.btn-step-group.btn-step-group-promo .promo-input {
	width: 308px;
	float: right;
	font-size: 15px;
    height: 48px;
}

.nowrap { white-space: nowrap !important; }
.inline { display: inline !important;}
.checkbox-vmiddle, .checkbox-vmiddle a, .checkbox-vmiddle div {
	vertical-align: middle;}
.capitalize { text-transform: capitalize !important; }

.rating-md {
	font-size: inherit !important;
	line-height: 1;
}
