{% extends "base/form_layout.html" %}
    {% load staticfiles %}

{% block content %}
    {% if background.images %}
    <div class="user-dashpage image-cover" style="background-image: url('{{ background.images.url }}');">
    {% else %}
    <div class="user-dashpage image-cover" style="background-image: url('{% static 'base/images/bgDash/1.jpg' %}');">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="log-card">
                        <div class="text-center">
                            <a class="dashpage-brand" href="/">
                                <img src="{% static 'base/images/logo.png' %}" alt="Uncle Frank">
                            </a>
                        </div>
                        <div class="text-center">
                            <h1 class="ud-title montserret normal uppercase">login to account</h1>
                            <h4 class="ud-tagline">Maecenas sed diam eget risus varius blandit.</h4>
                        </div>
                        <!-- Face Book login is commented -->
                           <form class="login form-horizontal mt-45" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="montserret bold fs-16 mt-0 mb-20">ENTER YOUR DETAILS BELOW</h4>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                        {% for key, value in form.errors.items %}
                                        <p class="text-danger">{{ value.as_text }}</p>
                                            
                                        {% endfor %}
                                            {{ form.login.errors.as_text }}
                                            <!-- <input type="text" class="form-control huge" placeholder="Email / Mobile Number*"> -->
                                            {{ form.login }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <!-- <input type="text" class="form-control huge" placeholder="Password*"> -->
                                            {{ form.password.errors.as_text }}
                                            {{ form.password }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 text-right">
                                            <a href="{% url 'account_reset_password' %}" class="gotham semi">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="col-sm-12 text-right">
                                            <button type="submit" class="btn btn-primary btn-block btn-afix huge fs-15 gotham semi unstroke uppercase">Login</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="montserret bold uppercase fs-16 mt-0 mb-15">Or continue with:</h4>
                                    <a href="/customer/accounts/facebook/login/" class="btn btn-facebook btn-block huge fs-15 gotham semi unstroke uppercase btn-block log-fb"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a>
                                    <br><br>
                                    <h4 class="montserret bold fs-16 mt-0 mb-15">Are you a driver?</h4>
                                    <p class="semi-muted">Download our app to access your account.</p>
                                    <a href="http://itunes.apple.com/" class="btn-app-store"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mt-20">
                        <a href="/" class="fs-15 gotham semi white uppercase"><i class="fa fa-home"></i> Go to Home</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="me-dash-footer">
            <div class="container">
                <div class="me-dash-fooer-in">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline me-dash-foo">
                                <li><a href="/page/tnc/">Terms and Conditions</a></li>
                                <li><a href="/page/faq/">FAQ</a></li>
                                <li><a href="/page/privacy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 sm-right">
                            <span class="copy-text">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>     
    </div>
    </div>
    {% endblock %}
