{% extends "base/form_layout.html" %}
    {% load staticfiles %}
    {% load i18n %}
	{% load account %}

{% block content %}
    <div class="user-dashpage image-cover" style="background-image: url('{% static 'base/images/bgDash/1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="log-card">
                        <div class="text-center">
                            <a class="dashpage-brand" herf="index.html">
                                <img src="{% static 'base/images/logo.png' %}" alt="Uncle Frank">
                            </a>
                        </div>
                        <div class="text-center">
                        	  <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                        </div>
              				
                    </div>
                    <div class="mt-20">
                        <a href="/" class="fs-15 gotham semi white uppercase"><i class="fa fa-home"></i> Go to Home</a>
                    </div>
                </div>
            </div>
        </div>      
    <div class="me-dash-footer">
            <div class="container">
                <div class="me-dash-fooer-in">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline me-dash-foo">
                                <li><a href="/page/tnc/">Terms and Conditions</a></li>
                                <li><a href="/page/faq/">FAQ</a></li>
                                <li><a href="/page/privacy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 sm-right">
                            <span class="copy-text">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}