{% extends "base/form_layout.html" %}
    {% load staticfiles %}


{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="user-dashpage image-cover" style="background-image: url('{% static 'base/images/bgDash/1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="log-card">
                        <div class="text-center">
                            <a class="dashpage-brand" herf="index.html">
                                <img src="{% static 'base/images/logo.png' %}" alt="Uncle Frank">
                            </a>
                        </div>
                        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                            {% if form %}
                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input class="btn btn-primary btn-block btn-afix huge fs-15 gotham semi unstroke uppercase" type="submit" name="action" value="{% trans 'change password' %}"/>
                                </form>
                            {% else %}
                                <p>{% trans 'Your password is now changed.' %}</p>
                            {% endif %}
                        {% endif %}
                        </div>
                    <div class="mt-20">
                        <a href="/" class="fs-15 gotham semi white uppercase"><i class="fa fa-home"></i> Go to Home</a>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    <div class="me-dash-footer">
            <div class="container">
                <div class="me-dash-fooer-in">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline me-dash-foo">
                                <li><a href="/page/tnc/">Terms and Conditions</a></li>
                                <li><a href="/page/faq/">FAQ</a></li>
                                <li><a href="/page/privacy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 sm-right">
                            <span class="copy-text">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
