{% extends "base/form_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block content %}
 <div class="user-dashpage image-cover bg-lighter">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="log-card">
                        <div class="text-center">
                            <a class="dashpage-brand" href="/">
                                <img src="{% static 'base/images/logo.png' %}" alt="Uncle Frank">
                            </a>
                        </div>
                        <div class="text-center">
                            <h1 class="ud-title montserret normal uppercase">GET A NEW PASSWORD</h1>
                            <h4 class="ud-tagline">Donec id elit non mi porta gravida at eget metus.</h4>
                        </div>

                           {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                        <form method="post" action="{% url 'account_reset_password' %}"  class="form-horizontal mt-45" id="password-reset-form">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <p class="text-danger">{{ form.email.errors }}</p>
                                            <!--   <input type="text" class="form-control huge" placeholder="Email Address*"> -->
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="col-sm-12 text-right">
                                            <button class="btn btn-primary btn-block btn-afix huge fs-15 gotham semi unstroke uppercase">Request new password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mt-20 row">
                        <div class="col-xs-6">
                            <a href="/" class="fs-15 gotham semi uppercase"><i class="fa fa-home"></i> Go to Home</a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <a href="/customer/accounts/login" class="fs-15 gotham semi uppercase">Go to Login page</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="me-dash-footer">
            <div class="container">
                <div class="me-dash-fooer-in">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline me-dash-foo">
                                <li><a href="/page/tnc/">Terms and Conditions</a></li>
                                <li><a href="/page/faq/">FAQ</a></li>
                                <li><a href="/page/privacy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 sm-right">
                            <span class="copy-text">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
        $(document).ready(function() {
            $('#password-reset-form').formValidation({
              framework: 'bootstrap',
                  icon: {
                      valid: 'glyphicon glyphicon-ok',
                      invalid: 'glyphicon glyphicon-remove',
                      validating: 'glyphicon glyphicon-refresh'
                  },
                  err: {
                      // You can set it to popover
                      // The message then will be shown in Bootstrap popover
                      container: 'tooltip'
                  },
                    fields: {
                        email: {
                            row: '.col-sm-6',
                            validators: {
                                notEmpty: {
                                    message: 'Email address is required'
                                },
                                emailAddress: {
                                    message: 'The value is not a valid email address'
                                },
                                regexp: {
                                    regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                                    message: 'The value is not a valid email address'
                                }
                            }
                        },
                    }
                });
        });
    </script>

{% endblock %}
