
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
    <title>Unclefrank</title>
</head>

<body style="background: #fff;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
        <!--header-2-->
        <tbody>
            <tr>
                <td height="30"></td>
            </tr>
            <tr>
                <td style="background: #fff;">
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="900"  style="">
                        <tbody>
                            <tr align="left">
                                <td>
                                    <table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" align="left" width="900">
                                    <tbody>
                                        <tr>
                                            <td style="background-color: #fff;">
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align: top; padding: 15px 0">
                                                                <table cellspacing="0" cellpadding="0" border="0">
                                                                    <tr>
                                                                        <td style="vertical-align: top; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding-right: 10px;"><span style="color: #F72C3C">T:</span> +65 000 000 <br> <span style="color: #F72C3C">E:</span> info@unclefrank.com</td>

                                                                        <td style="vertical-align: top; font-size:14px; line-height: 24px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding-left: 10px;">123 Lorem Ipsum Acet, <br>#01-23 Magnum Vestibulum, <br>Singapore 123456 <br><span style="color: #F72C3C">www.unclefrank.com.sg</span></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td style="padding: 15px 0px 15px 20px; vertical-align: top; font-size:24px; line-height: 24px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #474747; text-align: right;"><img src="/media/pdf/{{ way_bill_logo }}"></td></td>
                                                        </tr>
                                                    </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr align="left">
                                <td>
                                    <table cellspacing="0" cellpadding="0" border="0" width="900">
                                        <tr>
                                            <td height="25"></td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top; font-size:32px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: bold; color: #111; text-align: left; padding-right: 10px;">Consignment</td>
                                        </tr>
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tr>
                                                        <td style="padding-right: 10px; width: 50%;">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Delivery #</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.tracking_code }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Order Date</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.created_at }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Service</td>
                                                                    <td style="vertical-align: bottom; font-weight: bold; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delevery_time }}</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td style="padding-left: 10px; width: 50%;">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td style="vertical-align: top; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Quick Referance</td>
                                                                    <td style="vertical-align: top; font-size:28px; line-height: 28px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #111; text-align: right; padding: 5px 0px 5px 0;">UFC-{{ order.id }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td><td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td><td>&nbsp;</td>
                                                                </tr>
                                                                
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tr>
                                                        <td style="padding-right: 10px; width: 50%;">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td colspan="2" style="vertical-align: bottom; font-size:20px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #F72C3C; text-align: left; padding: 5px 0 5px 0;"><div style="position: relative;"><span style="display: block; width: 100%; height: 2px; background: #F72C3C; position: absolute; left: 0; top: 9px;"></span><span style="position: relative; background: #fff; padding-right: 10px; display: inline-block;">COLLECTION FROM</span></div></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Name</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_name }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Address</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_address }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                            <tr>
                                                                                <td style="padding-right: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                    
                                                                                    </table>
                                                                                </td>
                                                                                <td style="padding-left: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <tr>
                                                                                            <td style="width: 43.5%; vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Tel.No.</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_contact_no }}</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td style="padding-left: 10px; width: 50%;">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td colspan="2" style="vertical-align: bottom; font-size:20px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #F72C3C; text-align: left; padding: 5px 0 5px 0;"><div style="position: relative;"><span style="display: block; width: 100%; height: 2px; background: #F72C3C; position: absolute; left: 0; top: 9px;"></span><span style="position: relative; background: #fff; padding-right: 10px; display: inline-block;">DELIVER To</span></div></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Name</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delivery_name }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Address</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delivery_address }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                            <tr>
                                                                                <td style="padding-right: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                    </table>
                                                                                </td>
                                                                                <td style="padding-left: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <tr>
                                                                                            <td style="width: 43.5%; vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Tel.No.</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delivery_contact_no }}</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tr>
                                                        <td>
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td colspan="2" style="vertical-align: bottom; font-size:20px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #F72C3C; text-align: left; padding: 5px 0 5px 0;"><div style="position: relative;"><span style="display: block; width: 100%; height: 2px; background: #F72C3C; position: absolute; left: 0; top: 9px;"></span><span style="position: relative; background: #fff; padding-right: 10px; display: inline-block;">ORDER BY</span></div></td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                            <tr>
                                                                                <td style="padding-right: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <tr>
                                                                                            <td width="80" style=" vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Name</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.customer.name }}</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                                <td style="padding-right: 10px; padding-left: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <tr>
                                                                                            <td width="80" style=" vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Compay</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;"></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                                <td style="padding-left: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <tr>
                                                                                            <td width="80" style=" vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Tel.No.</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.customer.contact_no }}</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="80" style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Comments</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tr>
                                                        <td>
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td colspan="2" style="vertical-align: bottom; font-size:20px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #F72C3C; text-align: left; padding: 5px 0 5px 0;"><div style="position: relative;"><span style="display: block; width: 100%; height: 2px; background: #F72C3C; position: absolute; left: 0; top: 9px;"></span><span style="position: relative; background: #fff; padding-right: 10px; display: inline-block;">   COURIER INFORMATION</span></div></td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                            <tr>
                                                                                <td width="110">
                                                                                    <img src="{{ order.customer.picture.url }}" style="width: 90px; display: block;">
                                                                                </td>
                                                                                <td style="padding-right: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 300px;">
                                                                                        <tr>
                                                                                            <td width="80" style=" vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Name</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_name }}</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td width="80" style=" vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Tel. No.</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_contact_no }}</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tr>
                                                        <td colspan="2" style="vertical-align: bottom; font-size:20px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #F72C3C; text-align: left; padding: 5px 0 5px 0;"><div style="position: relative;"><span style="display: block; width: 100%; height: 2px; background: #F72C3C; position: absolute; left: 0; top: 9px;"></span><span style="position: relative; background: #fff; padding-right: 10px; display: inline-block;">DELIVERY Summary</span></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-right: 10px; width: 50%;">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Collection Time</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ collection_time }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Delivery Time</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.job_complete_time }} </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Parcels Delivered</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ percell_count }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Amount Paid</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.total_cost }} SGD</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Paid By</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.customer_name }}</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td style="padding-left: 10px; width: 50%;">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Recieved by</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delivery_name }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Comments</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd; height: 95px;">{{ order.completion_note }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;"></td>
                                                                    <td style="vertical-align: bottom; font-size:18px; font-weight: bold; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_name }}</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>

            <!-- end title bar -->
        </tbody>
    </table>
</body>

</html>