.main-container {
	min-height: 72%;
}

.panel {
	&.panel-base {
		border: none;
		.panel-heading {
			border-bottom: 1px solid @border-color;
		}
		.panel-footer {
			border-color: @border-color;
			background-color: @white-gray1;
			h5 {
				margin-top: 0;
			}
			p {
				margin: 0;
			}
		}
	}

	&.padd2x {
		.panel-heading {
			padding: 20px 30px;
		}
		.panel-body {
			padding: 30px;
		}
		.panel-footer {
			padding: 20px 30px;
		}
	}
}

.panel {
	&.panel-log {
		margin-top: 70px;
	}
}
.alert {
	+.panel-log {
		margin-top: 20px;
	}
}


.brick-heading {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.brick-heading-pages {
		.bh-title {
			color: @brand-secondary;
			margin-bottom: 30px;
		}
		margin-bottom: 25px;
	}
}

.brick {
	&.brick-main-content {
		padding: 0;
	}
}

.brick {
	&.brick-banner {
		padding: 77px 0;
		min-height: 400px;
		position: relative;
		&:before {
			content: " ";
			width: 100%;
			height: 100%;
			display: block;
			background-color: rgba(32, 32, 32, 0.6);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.brick {
	&.brick-about {
		background-color: @white;
		padding: 90px 0;
		p {
			line-height: 2;
		}

		.brick-heading {
			margin-bottom: 0;
			p {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.ab-feat-content {
	.ab-title {
		font-family: @Gotham-Bold;
		font-size: 30px;
		color: @brand-secondary;
		margin: 0 0 30px;
	}
	p {
		margin-bottom: 30px;
	}
}

.video-card {
	max-width: 680px;
	margin: 0 auto;
	.me-video {
		width: 100%;
		.vjs-big-play-button {
			background-color: @white;
			width: 2em;
			height: 2em;
			border: 0;
			color: @title-color;
			line-height: 2em;
			.border-radius(50%);
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}

		@media @mdOnly {
			height: 380px;
		}
		@media @smOnly {
			height: 320px;
		}
		@media @xsOnly {
			height: 320px;
		}
	}
}

.brick {
	&.brick-ab-slider {
		padding-top: 30px;
	}
}

.roofbar {
	&.row {
		margin-left: -9px;
		margin-right: -9px;
		div[class*="col-"] {
			padding-left: 9px;
			padding-right: 9px;
		}
	}
}

.unfeatured-slider {
	.slide-item {
		padding: 0 25px;
	}

	.slick-prev, .slick-next {
		&:before {
			font-family: "Ionicons";
			font-size: 35px;
			color: #d6d6d6;
		}
	}
	.slick-prev {
		&:before {
			content: "\f3cf ";
		}
	}
	.slick-next {
		&:before {
			content: "\f3d1 ";
		}
	}
}


.vessel {
	width: 100%;
	position: relative;
	display: table;
	table-layout: fixed;
	overflow: hidden;

	p {
		margin-bottom: 30px;
	}

	.ve-cell {
		background-color: @white;
		display: table-cell;
		vertical-align: middle;
		width: 1%;
		height: 680px;
		padding: 85px 15px;

		&.ve-image {
			@media @desktopOnly {
				
			}
		}

		&.ve-content {
			.ve-article {
				max-width: 512px;
				.ve-title {
					font-family: @Gotham-Bold;
					font-size: 30px;
					color: @brand-secondary;
					margin: 0 0 20px;
				}
				.note {
				}
			}
		}
		&.ve-left {
			/* transform: translate(-100px, 0px) */
		}
		&.ve-right {
			/* transform: translate(100px, 0px); */
		}
	}

	&.transition-complete {
		.ve-cell {
			&.ve-left, &.ve-right {
				transform: translate(0px, 0px);
    			transition: opacity 2000ms ease 0s, transform 2000ms ease 0s;
			}
		}
	}

	&.vessel-vtop {
		.ve-cell {
			vertical-align: top;
		}
	}

	&.has-content-right {
		.ve-cell {
			&.ve-content {
				padding-left: 70px;
			}
		}
	}
	&.has-content-left {
		.ve-cell {
			&.ve-content {
				padding-right: 70px;
				&:before, &:after {
					display: table;
					content: " ";
				}
				&:after {
					clear: both;
				}
				.ve-article {
					float: right;
				}
			}
		}
	}

	@media @xsOnly {
		display: block;
		.ve-cell {
			display: block;
			width: 100%;
			position: relative;

			&.ve-content {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 2;
				.crossbrowseropacity (@white, .9);
			}
		}
	}
}

.reward-item {
	.ri-title {
		font-family:  @montserrat-regular;
		font-size: 14px;
		text-transform: uppercase;
		margin: 15px 0 8px;
	}
}

.list-has-image {
	width: 100%;
	.li-image, .note {
		display: table-cell;
		vertical-align: middle;
	}
	.note {
		padding-left: 20px;
	}	
}

.brick {
	&.brick-delivery-booking {
		background-color: #f5f5f5;
	}
}
.nav-delivery-booking {
	margin-left: -14px;
	margin-right: -14px;
	li {
		padding-left: 14px;
		padding-right: 14px;
		a {
			background-color: #dcdddd;
			font-family: @Gotham-Bold;
			font-size: 18px;
			text-transform: uppercase;
			color: #929292;

			&:hover, &:focus {
				background-color: @brand-secondary;
				color: @white;
			}
		}

		&.active {
			a {
				background-color: @brand-secondary;
				color: @white;
			}
		}
	}
}
.delivery-holder {
	.tab-content {
		padding-top: 56px;		
		@media @mdmin {
			padding: 56px 56px 0 56px;
			.row-delivery {
				&.row {
					margin-left: -56px;
					margin-right: -56px;
					div[class*="col-"] {
						padding-left: 56px;
						padding-right: 56px;
					}
				}
			}
		}
	}
	.delivery-card {
		margin-bottom: 30px;
		.dc-title {
			font-family:  @montserrat-regular;
			text-transform: uppercase;
			margin-top: 0;
		}
		p {
			margin-bottom: 0;
		}
		.dc-lists {
			margin-left: -15px;
			li {
				position: relative;
				padding: 0 14px;
				&:after {
					content: " | ";
					display: block;
					position: absolute;
					right: -5px;
					top: 1px;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}