.brick {
	padding: 70px 0;
}
.brick-heading {
	margin-bottom: 50px;
	.bh-title {
		font-family: @Gotham-Bold;
		font-size: 30px;
		margin: 0 0 10px;
	}
}
.brick {
	&.brick-teaser-hero {
		padding: 77px 0;
		min-height: 600px;
		position: relative;
		&:before {
			content: " ";
			width: 100%;
			height: 100%;
			display: block;
			background-color: rgba(32, 32, 32, 0.8);
			position: absolute;
			left: 0;
			top: 0;
		}

		.teaser-content {
			margin-top: 220px;
		}

		.teaser-title {
			font-family: @Gotham-Bold;
			font-size: 48px;
			color: @white;
			position: relative;
			padding-bottom: 18px;
			margin-bottom: 15px;
			&:before {
				content: " ";
				width: 60px;
				height: 3px;
				background-color: @white;
				position: absolute;
				top: 100%;
				left: 0;

			}
		}
		p {
			font-family: @Gotham-Book;
			font-size: 28px;
			color: @white;
		}
	}
}

.section-apps {
	background-color: @brand-primary;
	padding: 26px 0;

	.dwn-app {
		font-family: @Gotham-Light;
		font-size: 28px;
		color: @white;
		.app-btn {
			margin-left: 55px;
		}
	}
}

.teaser-form-holder {
	.tab-content {
		padding: 30px;
		background-color: @white;
		.border-radius(0 0 4px 4px);
	}

	label {
		font-family: @montserrat-regular;
		font-size: 13px;
		font-weight: normal;
		color: @title-color;
	}
	.form-control {
		height: 38px;
		background-color: #f4f4f4;
		border-color: #f4f4f4;
		&.select-styled {
			background-image: url('../images/sel-arow-dn.png');
			background-size: 22px 6px;
		}
	}
}

.inicon {
	position: relative;
	img {
		position: absolute;
		top: 50%;
		right: 12px;
		pointer-events: none;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.nav {
	&.nav-teaser-form {

		li {
			a {
				background-color: #e8e8e8;
				font-family: @Gotham-Medium;
				font-size: 16px;
				color: #666;
				text-transform: uppercase;
				.border-radius(0);

				img {
					display: inline-block;
					max-height: 22px;
					width: auto;
					margin-right: 5px;
				}
			}

			&:first-child {
				a {
					.border-radius(4px 0 0 0);
				}
			}
			&:last-child {
				a {
					.border-radius(0 4px 0 0);
				}
			}

			&.active {
				a {
					background-color: @brand-secondary;
					color: @white;
				}
			}
		}
	}
}


.brick {
	&.brick-service {
		background-color: @white;
		padding: 90px 0;

		.service-case {
			max-width: 368px;
			margin: 20px auto 0;

			.sc-icon {
				border: 2px solid @brand-primary;
				width: 120px;
				height: 120px;
				margin: auto;
				.border-radius(50%);
				padding-top: 26px;
				img {

				}
			}

			.sc-title {
				font-family: @montserrat-bold;
				margin: 35px 0 25px;
			}
			.linked {
				font-family: @montserrat-regular;
				color: @brand-secondary;
				text-transform: uppercase;
				display: inline-block;
				margin-top: 30px;
			}
		}
	}
}

.brick {
	&.brick-featured {
		background-color: #f4f4f4;
	}


	.featured-case {
		margin-bottom: 30px;
		.fc-icon {
			img {
				max-height: 72px;
				width: auto;
				display: block;
				margin: auto;
			}
		}
		.fc-title {
			font-family: @montserrat-regular;
			margin: 40px 0 20px;
		}
	}
}