.site-navbar .navbar-header .hamburger .hamburger-bar, 
.site-navbar .navbar-header .hamburger::after, 
.site-navbar .navbar-header .hamburger::before {
	background-color: @text-color;
}
.site-navbar .navbar-header .navbar-toggle {
	color: @text-color;
}
.site-menubar-unfold {
	.site-menu-category {
		&.site-menu-cate-stk {
			border: 1px solid #3a3838;
			padding: 0;
			margin: 10px 0 30px;
		}
	}
}
.site-navbar {
	background-color: @white;
	.navbar-header {
		.navbar-brand {
			.quicksand;
			.fw-regular;
		}
	}
}


.nav {
	&.nav-user {
		> li {
			> a {
				.mon-normal;
				text-transform: uppercase;
			}

			&.v-divider {
				span {
					padding-top: 22px;
					padding-bottom: 22px;
					display: inline-block;
					line-height: 22px;
				}
			}
		}
	}
}

.navbar-avatar {
	&.has-avt-name {
		.avatar {
			vertical-align: middle;
		}
		.usr-name {
			display: inline-block;
			vertical-align: middle;
			padding-left: 10px;
			.uname {
				color: @brand-secondary;
			}
		}
	}
}

/* SIDEBAR */
.site-menubar {
	background: #2e2c2c;
	.mon-normal;
}
.site-menu-item a {
	color: #656565;
}
.site-menubar-unfold .site-menu>.site-menu-item>a {
	line-height: 58px;
}
.site-menu > .site-menu-item.active > a, .site-menu > .site-menu-item.active.hover > a {
	background: @brand-secondary;
}


.site-menubar-footer {
	&.sim-footer-nav {
		a {
			width: 100%;
		}
	}
}

.select-services {
	padding: 33px 29px 35px;
	h5 {
		.mon-lighter;
		font-size: 15px;
		text-transform: uppercase;
		color: @white;
		margin: 0;
	}
	.select-service-list {
		list-style: none;
		margin: 24px -8px 0;
		padding: 0;
		li {
			display: block;
			width: 50%;
			float: left;
			padding: 0 8px;
			a {
				display: block;
				text-align: center;
				padding: 15px;
				border: 1px solid @white;
				.border-radius(4px);
			}
		}
	}
}