{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block nav_top %}                                    
        {% include "base/nave_top.html" %}
    {% endblock %}


    {% block content_banner %}
    <section class="brick brick-banner" style="background-image: url('{% if about_page.banner %}{{ about_page.banner.url }}{% else %}{% static 'base/images/banner/1.jpg' %}{% endif %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block content %}
    <div class="brick brick-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading brick-heading-pages text-center">
                    <h2 class="bh-title">
                {% if about_page.title1 %}
                    {{ about_page.title1 }}
                {% else %}
                    About Uncle Frank
                {% endif %}

                    </h2>
                {% if about_page.desc1 %}
                    {{ about_page.desc1|safe }}
                {% else %}
                    <p>
                    Uncle Frank is a platform to coordinate all of your deliveries - a single touch point for getting your new sofa, receiving a parcel or connecting your utilities. Used to seeing your cab en-route? Or your pizza being made and delivered? Get the same level of visibility for your major purchases. Now that you can see where your delivery is, Uncle Frank lets you use that information to free up your life. Set an alarm to let you know when you should leave to make it home in time.
                    </p>
                {% endif %}
                    
                    
                </div>
            </div>
        </div>
    </div>

    <div class="brick brick-featured">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ab-feat-image">
                        <img src="{% static 'base/images/about/1.png' %}" alt="img" title="img" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ab-feat-content">
                        <h2 class="ab-title">
                    {% if about_page.title2 %}
                        {{ about_page.title2 }}
                    {% else %}
                        Inceptos Parturient
                    {% endif %}
                        </h2>
                    {% if about_page.desc2 %}
                        {{ about_page.desc2|safe }}
                     {% endif %}
                        <a href="/page/service" class="btn btn-secondary fs-13 gotham bold large uppercase unstroke plr-30">
                    {% if about_page.link1_text %}
                        {{ about_page.link1_text }}
                    {% else %}
                        MORE ABOUT OUR SERVICES
                    {% endif %}

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading brick-heading-pages text-center">
                    <h2 class="bh-title">
                {% if about_page.title3 %}
                        {{ about_page.title3 }}
                {% else %}
                    Magna Cursus Sollicitudin
                {% endif %}
                    </h2>
                {% if about_page.desc3 %}
                        {{ about_page.desc3|safe }}
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="video-card">
                        <video class="video-js me-video" controls preload="auto" width="680" height="380" 
                        poster="{% static 'base/videos/poster.jpg' %}" data-setup="{}">
                            <source src="{% if about_page.video %}{{ about_page.video.url }}{% else %}{% static 'base/videos/wvideo.mp4' %}{% endif %}" type='video/mp4'>
                         <!--    <source src="{% static 'base/videos/wvideo.webm' %}" type='video/webm'> -->
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brick brick-ab-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading brick-heading-pages text-center">
                    <h2 class="bh-title mb-0">
                    {% if about_page.image_title %}
                        {{ about_page.image_title }}
                    {% else %}
                        Magna Cursus Sollicitudin
                    {% endif %}
                    </h2>
                </div>
            </div>
            <div class="row roofbar">
                <div class="col-xxs-12 col-xs-6 col-sm-4">
                    <a href="" class="roof-box">
                        <img src="{% if about_page.image2 %}{{ about_page.image2.url }}{% else %}{% static 'base/images/items/1.jpg' %}{% endif %}" alt="img" class="img-responsive">
                    </a>
                </div>
                <div class="col-xxs-12 col-xs-6 col-sm-4">
                    <a href="" class="roof-box">
                        <img src="{% if about_page.image3 %}{{ about_page.image3.url }}{% else %}{% static 'base/images/items/1.jpg' %}{% endif %}" alt="img" class="img-responsive">
                    </a>
                </div>
                <div class="col-xxs-12 col-xs-6 col-sm-4">
                    <a href="" class="roof-box">
                        <img src="{% if about_page.image4 %}{{ about_page.image4.url }}{% else %}{% static 'base/images/items/1.jpg' %}{% endif %}" alt="img" class="img-responsive">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="unfeatured-slider mt-65">
                        {% if slider %}
                        {% for slide in slider%}
                            <div class="slide-item"><img src="{{ slide.images.url }}" alt="img" class="img-responsive"></div>
                        {% endfor %}
                        {% else %}
                            <div class="slide-item"><img src="{% static 'base/images/items/sm/1.jpg' %}" alt="img" class="img-responsive"></div>
                            <div class="slide-item"><img src="{% static 'base/images/items/sm/1.jpg' %}" alt="img" class="img-responsive"></div>
                            <div class="slide-item"><img src="{% static 'base/images/items/sm/1.jpg' %}" alt="img" class="img-responsive"></div>
                            <div class="slide-item"><img src="{% static 'base/images/items/sm/1.jpg' %}" alt="img" class="img-responsive"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function(){
        $('.unfeatured-slider').slick({
                  slidesToShow: 3,
                  slidesToScroll: 1,
                  autoplay: true,
                  autoplaySpeed: 2000,
                  arrows: true,
                  responsive: [
                    {
                      breakpoint: 768,
                      settings: {
                        slidesToShow: 2
                      }
                    },
                    {
                      breakpoint: 480,
                      settings: {
                        slidesToShow: 1
                      }
                    }
                  ]
                });
        });
    </script>
 <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-86820633-1', 'auto');  ga('send', 'pageview');
  </script>
{% endblock %}