{% extends "base/page_layout.html" %}
{% load staticfiles %}
    {% block extracss %}
        <link href="{% static 'base/css/formValidation.min.css' %}" rel="stylesheet">
    {% endblock %}

    {% block content_banner %}
       <section class="brick brick-banner brick-banner-contact no-pointer-event">
        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58406.779028056815!2d90.3642969!3d23.8035283!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1469451248968" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="banner-contact-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="map-location">
                            <h5 class="montserret bold mt-0">Uncle Frank</h5>
                            <p>
                                123 Lorem Ipsum Acet, #01-23
                                Magnum Vestibulum, Singapore 123456
                            </p>
                            <div class="loc">
                                Tel: 65 1234 5678<br>
                                Fax: 65 1234 5678<br>
                                Email: info@website.com.sg<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    {% block content %}

   <div class="brick brick-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 brick-heading brick-heading-pages text-center">
                    <h2 class="bh-title">Contact us</h2>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                </div>
            </div>
            <div class="row">
            {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
                <div class="col-md-10 col-md-offset-1">
                    <form method= 'POST' action="" class="form-horizontal form-contact" id="contact_us_form">
                      {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">First Name</label>
                                <!-- <input type="text" class="form-control site-field"> -->
                                <p class="text-danger">{{ form.first_name.errors }}</p>
                                {{form.first_name}}

                            </div>

                            <div class="col-sm-6">
                                <label for="" class="site-label">Last Name</label>
                                <!-- <input type="text" class="form-control site-field"> -->
                                <p class="text-danger">{{ form.last_name.errors }}</p>
                                {{form.last_name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">Email Address</label>
                                <p class="text-danger">{{ form.email_address.errors }}</p>
                                {{form.email_address}}
                                <!-- <input type="email" class="form-control site-field"> -->
                            </div>

                            <div class="col-sm-6">
                                <label for="" class="site-label">Company</label>
                                <p class="text-danger">{{ form.country.errors }}</p>
                                {{form.company}}
                                <!-- <input type="text" class="form-control site-field"> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">Country</label>
                                <p class="text-danger">{{ form.country.errors }}</p>
                                {{form.country}}
                                <!-- <input type="text" class="form-control site-field"> -->
                            </div>

                            <div class="col-sm-6">
                                <label for="" class="site-label">Phone</label>
                                <p class="text-danger">{{ form.phone.errors }}</p>
                                {{form.phone}}
                                <!-- <input type="text" class="form-control site-field"> -->
                            </div>
                        </div>

                        <!-- SUBJECT FIELD -->
                         <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">Subject</label>
                                <p class="text-danger">{{ form.subjects.errors }}</p>
                                {{form.subjects}}
                                <!-- <select class="form-control select-styled site-field">
                                    <option value="" selected="selected">Please Select Subject</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="" class="site-label">Message</label>
                                <p class="text-danger">{{ form.message.errors }}</p>
                                {{form.message}}
                                <!-- <textarea class="form-control site-field"></textarea> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">Track ID</label>
                                <p class="text-danger">{{ form.track_id.errors }}</p>
                                {{form.track_id}}
                                <!-- <input type="text" class="form-control site-field"> -->
                            </div>
                        </div>
                        <button type="submit" name="submitButton" class="btn btn-secondary fs-13 gotham semi large uppercase unstroke plr-30">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block extrajs %}

    <script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/framework/bootstrap.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#contact_us_form').formValidation({
              framework: 'bootstrap',
                  icon: {
                      valid: 'glyphicon glyphicon-ok',
                      invalid: 'glyphicon glyphicon-remove',
                      validating: 'glyphicon glyphicon-refresh'
                  },
                  err: {
                      // You can set it to popover
                      // The message then will be shown in Bootstrap popover
                      container: 'tooltip'
                  },
                    fields: {
                        first_name: {
                            row: '.col-sm-6',
                            validators: {
                                notEmpty: {
                                    message: 'First name is required'
                                }
                            }
                        },
                        last_name: {
                            row: '.col-sm-6',
                            validators: {
                                notEmpty: {
                                    message: 'Last name is required'
                                }
                            }
                        },
                        email_address: {
                            row: '.col-sm-6',
                            validators: {
                                notEmpty: {
                                    message: 'Email address is required'
                                },
                                emailAddress: {
                                    message: 'The value is not a valid email address'
                                },
                                regexp: {
                                    regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                                    message: 'The value is not a valid email address'
                                }
                            }
                        },

                        company: {
                            row: '.col-sm-6',
                            validators: {
                                notEmpty: {
                                    message: 'Company is required'
                                }
                            }
                        },

                        country: {
                            row: '.col-sm-6',
                            validators: {
                                notEmpty: {
                                    message: 'Country is required'
                                }
                            }
                        },
                        phone: {
                            row: '.col-sm-6',
                            validators: {
                                notEmpty: {
                                    message: 'Phone number is required'
                                }
                            }
                        },
                        message: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Message is required'
                                }
                            }
                        },
                        track_id: {
                            row: '.col-sm-6',
                            validators: {
                                notEmpty: {
                                    message: 'Track ID is required'
                                }
                            }
                        },
                    }
                });
        });
    </script>
    {% endblock %}
