{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block content_banner %}
    <section style="background-image: url('{% static 'base/images/banner/1.jpg' %}');" class="brick brick-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    {% block content %}
    <div class="vessel vessel-vtop vessel-corporate has-content-left">
        <div class="ve-cell ve-content ve-left">
            <article class="ve-article">
                <h2 class="ve-title">Business Partnership</h2>
                <div class="note">
                    <p>
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                    </p>
                </div>
                <a class="btn btn-secondary fs-13 gotham semi large uppercase unstroke plr-30 mt-10" href="/page/contact_us">Contact us</a>
            </article>
        </div>
        <div style="background-image: url('{% static 'base/images/corporate/1.jpg' %}');" class="ve-cell ve-image ve- ve-left"></div>
    </div>


    <div class="sloop sloop-gray">
        <div class="container">
            <div class="sloop-row">
                <div class="sloop-cell sloop-image">
                    <div class="si-image">
                        <img class="img-responsive" src="{% static 'base/images/corporate/2sm.jpg' %}" alt="...">
                    </div>
                </div>
                <div class="sloop-cell sloop-content">
                    <article class="sc-article">
                        <h2 class="sc-title">Investor</h2>
                        <div class="note">
                            <p>
                                Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.
                            </p>
                            <p>
                                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl 
                            </p>
                        </div>
                        <a class="btn btn-secondary fs-13 gotham semi large uppercase unstroke plr-30 mt-10" href="/page/contact_us">Contact us</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="sloop">
        <div class="container">
            <div class="sloop-row">
                <div class="sloop-cell sloop-content">
                    <article class="sc-article">
                        <h2 class="sc-title">API Integration</h2>
                        <div class="note">
                            <p>
                                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                            </p>
                        </div>
                        <a class="btn btn-secondary fs-13 gotham semi large uppercase unstroke plr-30 mt-10" href="/page/contact_us">Contact us</a>
                    </article>
                </div>
                <div class="sloop-cell sloop-image">
                    <div class="si-image">
                        <img class="img-responsive" src="{% static 'base/images/corporate/3sm.jpg' %}" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sloop sloop-gray">
        <div class="container">
            <div class="sloop-row">
                <div class="sloop-cell sloop-image">
                    <div class="si-image">
                        <img class="img-responsive" src="{% static 'base/images/corporate/4sm.jpg' %}" alt="...">
                    </div>
                </div>
                <div class="sloop-cell sloop-content">
                    <article class="sc-article">
                        <h2 class="sc-title">Credit Scheme</h2>
                        <div class="note">
                            <p>
                                Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.
                            </p>
                            <p>
                                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl 
                            </p>
                        </div>
                        <a class="btn btn-secondary fs-13 gotham semi large uppercase unstroke plr-30 mt-10" href="/page/contact_us">Contact us</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
   
    {% endblock %}