{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block content_banner %}
    <section style="background-image: url('{% if corporate_page.banner %}{{ corporate_page.banner.url }}{% endif %}');" class="brick brick-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    {% block content %}
    <div class="vessel vessel-vtop vessel-corporate has-content-left">
        <div class="ve-cell ve-content ve-left">
            <article class="ve-article">
                <h2 class="ve-title">
                  {% if corporate_page.title1 %}
                      {{ corporate_page.title1 }}
                  {% else %}
                    Business PARTNER
                  {% endif %}
                </h2>
                <div class="note">
                    <p>
                      {% if corporate_page.desc1 %}
                          {{ corporate_page.desc1|safe }}
                      {% else %}
                        business partnet desc
                      {% endif %}
                    </p>
                </div>
                <a class="btn btn-secondary fs-13 gotham bold large uppercase unstroke plr-30 mt-10" href="/page/contact_us">
                  {% if corporate_page.link1_text %}
                      {{ corporate_page.link1_text }}
                  {% else %}
                    Business PARTNER
                  {% endif %}

                </a>
            </article>
        </div>
        <div style="background-image: url('{% if corporate_page.image1 %}{{ corporate_page.image1.url }}{% endif %}');" class="ve-cell ve-image ve- ve-left"></div>
    </div>

    <div class="sloop sloop-gray">
        <div class="container">
            <div class="sloop-row">
                <div class="sloop-cell sloop-image">
                    <div class="si-image">
                        <img class="img-responsive" src="{% static 'base/images/corporate/2sm.jpg' %}" alt="...">
                    </div>
                </div>
                <div class="sloop-cell sloop-content">
                    <article class="sc-article">
                        <h2 class="sc-title">
                          {% if corporate_page.title2 %}
                              {{ corporate_page.title2 }}
                          {% else %}
                            investor
                          {% endif %}
                        </h2>
                        <div class="note">
                            <p>
                              {% if corporate_page.desc2 %}
                                  {{ corporate_page.desc2|safe }}
                              {% else %}
                                investor desc
                              {% endif %}
                            </p>

                        </div>
                        <a class="btn btn-secondary fs-13 gotham bold large uppercase unstroke plr-30 mt-10" href="/page/contact_us">
                          {% if corporate_page.link2_text %}
                              {{ corporate_page.link2_text }}
                          {% else %}
                            link text 2
                          {% endif %}

                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="sloop">
        <div class="container">
            <div class="sloop-row">
                <div class="sloop-cell sloop-content">
                    <article class="sc-article">
                        <h2 class="sc-title">
                          {% if corporate_page.title3 %}
                              {{ corporate_page.title3 }}
                          {% else %}
                            api integration
                          {% endif %}
                        </h2>
                        <div class="note">
                            <p>
                              {% if corporate_page.desc3 %}
                                  {{ corporate_page.desc3|safe }}
                              {% else %}
                                api integration desc
                              {% endif %}
                            </p>
                        </div>
                        <a class="btn btn-secondary fs-13 gotham bold large uppercase unstroke plr-30 mt-10" href="/page/contact_us">
                          {% if corporate_page.link3_text %}
                              {{ corporate_page.link3_text }}
                          {% else %}
                            link text 3
                          {% endif %}
                        </a>
                    </article>
                </div>
                <div class="sloop-cell sloop-image">
                    <div class="si-image">
                        <img class="img-responsive" src="{% if corporate_page.image3 %}{{ corporate_page.image3.url }}{% endif %}" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sloop sloop-gray">
        <div class="container">
            <div class="sloop-row">
                <div class="sloop-cell sloop-image">
                    <div class="si-image">
                        <img class="img-responsive" src="{% if corporate_page.image4 %}{{ corporate_page.image4.url }}{% endif %}" alt="...">
                    </div>
                </div>
                <div class="sloop-cell sloop-content">
                    <article class="sc-article">
                        <h2 class="sc-title">
                          {% if corporate_page.title4 %}
                              {{ corporate_page.title4 }}
                          {% else %}
                            credit scheme
                          {% endif %}
                        </h2>
                        <div class="note">
                            <p>
                              {% if corporate_page.desc4 %}
                                  {{ corporate_page.desc4|safe }}
                              {% else %}
                                credit scheme DESCRIPTION
                              {% endif %}
                            </p>
                            <!-- <p>
                                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl
                            </p> -->
                        </div>
                        <a class="btn btn-secondary fs-13 gotham bold large uppercase unstroke plr-30 mt-10" href="/page/contact_us">
                          {% if corporate_page.link4_text %}
                              {{ corporate_page.link4_text|safe }}
                          {% else %}
                            link 4 text
                          {% endif %}


                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
