{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block content %}
    <div class="vessel vessel-vtop vessel-join has-content-left">
        <div class="ve-cell ve-content ve-left">
            <article class="ve-article">
                <h2 class="ve-title">Be a Drive Partner</h2>
                <div class="note">
                    <p>
                        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
                <a href="" class="mt-30 inline-block"><img src="{% static 'base/images/btn-app-sm.png' %}" alt="App Store"></a>
            </article>
        </div>
        <div style="background-image: url('{% static 'base/images/join/1.jpg' %}');" class="ve-cell ve-image image-cover ve-left"></div>
    </div>
    <div class="vessel vessel-vtop vessel-join has-content-right">
        <div style="background-image: url('{% static 'base/images/join/2.jpg' %}');" class="ve-cell ve-image image-cover ve-right"></div>
        <div class="ve-cell ve-content ve-right">
            <article class="ve-article">
                <h2 class="ve-title">Be a Delivery Partner </h2>
                <div class="note">
                    <p>
                        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                    </p>
                </div>
                <a href="" class="mt-30 inline-block"><img src="{% static 'base/images/btn-app-sm.png' %}" alt="App Store"></a>
            </article>
        </div>
    </div>
    <div class="vessel vessel-vtop vessel-join has-content-left">
        <div class="ve-cell ve-content ve-left">
            <article class="ve-article">
                <h2 class="ve-title">Careers</h2>
                <div class="note">
                    <p>
                        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. 
                    </p>
                </div>
                <a href="/page/career/" class="btn btn-secondary fs-13 gotham semi large uppercase unstroke plr-30 mt-30">VIEW CAREERS</a>
            </article>
        </div>
        <div style="background-image: url('{% static 'base/images/join/3.jpg' %}');" class="ve-cell ve-image image-cover ve-left"></div>
    </div>

    <div class="brick brick-light-gary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3 brick-heading brick-heading-primary text-center">
                    <h2 class="bh-title">How it Works</h2>
                    <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading brick-heading-primary text-center">
                    <h2 class="bh-title">Features</h2>
                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="sc-icon">
                            <img title="Increase your income" alt="Increase your income" src="{% static 'base/images/ficons/5.png' %}">
                        </div>
                        <h4 class="fc-title">Increase your income</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit. Maecenas faucibus mollis interdum. Cras mattis consectetur.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img title="Be a boss" alt="Be a boss" src="{% static 'base/images/ficons/6.png' %}">
                        </div>
                        <h4 class="fc-title">Be a boss</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit. Maecenas faucibus mollis interdum. Cras mattis consectetur.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img title="Meet new people" alt="Meet new people" src="{% static 'base/images/ficons/7.png' %}">
                        </div>
                        <h4 class="fc-title">Meet new people</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit. Maecenas faucibus mollis interdum. Cras mattis consectetur.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img title="More choices for you" alt="More choices for you" src="{% static 'base/images/ficons/8.png' %}">
                        </div>
                        <h4 class="fc-title">More choices for you</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit. Maecenas faucibus mollis interdum. Cras mattis consectetur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}