{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block content %}
    <div class="vessel vessel-vtop vessel-join has-content-left">
        <div class="ve-cell ve-content ve-left">
            <article class="ve-article">
                <h2 class="ve-title">
                  {% if joinus.title1 %}
                      {{ joinus.title1 }}
                  {% else %}
                      Be a Drive Partner
                  {% endif %}

                </h2>
                <div class="note">
                    <p>
                      {% if joinus.desc1 %}
                          {{ joinus.desc1|safe }}
                      {% else %}
                          description
                      {% endif %}
                    </p>
                </div>
                <a href="http://itunes.apple.com/" class="mt-30 inline-block"><img src="{% static 'base/images/btn-app-sm.png' %}" alt="App Store"></a>
            </article>
        </div>
        <div style="background-image: url('{% if joinus.image1 %}{{ joinus.image1.url }}{% endif %}');" class="ve-cell ve-image image-cover ve-left"></div>
    </div>
    <div class="vessel vessel-vtop vessel-join has-content-right">
        <div style="background-image: url('{% if joinus.image2 %}{{ joinus.image2.url }}{% endif %}');" class="ve-cell ve-image image-cover ve-right"></div>
        <div class="ve-cell ve-content ve-right">
            <article class="ve-article">
                <h2 class="ve-title">
                  {% if joinus.title2 %}
                      {{ joinus.title2 }}
                  {% else %}
                      BE A DELIVERY PARTNER
                  {% endif %}


                </h2>
                <div class="note">
                    <p>
                      {% if joinus.desc2 %}
                          {{ joinus.desc2|safe }}
                      {% else %}
                          description
                      {% endif %}

                    </p>
                </div>
                <a href="http://itunes.apple.com/" class="mt-30 inline-block"><img src="{% static 'base/images/btn-app-sm.png' %}" alt="App Store"></a>
            </article>
        </div>
    </div>
    <div class="vessel vessel-vtop vessel-join has-content-left">
        <div class="ve-cell ve-content ve-left">
            <article class="ve-article">
                <h2 class="ve-title">
                  {% if joinus.title3 %}
                      {{ joinus.title3}}
                  {% else %}
                      Careers
                  {% endif %}

                </h2>
                <div class="note">
                    <p>
                      {% if joinus.desc3 %}
                          {{ joinus.desc3|safe }}
                      {% else %}
                          description
                      {% endif %}
                    </p>
                </div>
                <a href="/page/career/" class="btn btn-secondary fs-13 gotham bold large uppercase unstroke plr-30 mt-30">
                  {% if joinus.link1_text %}
                      {{ joinus.link1_text }}
                  {% else %}
                      VIEW CAREERS
                  {% endif %}


                </a>
            </article>
        </div>
        <div style="background-image: url('{% if joinus.image3 %}{{ joinus.image3.url }}{% endif %}');" class="ve-cell ve-image image-cover ve-left"></div>
    </div>

    <div class="brick brick-how-work brick-light-gary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3 brick-heading brick-heading-primary text-center">
                    <h2 class="bh-title">
                          {% if joinus.title4 %}{{ joinus.title4 }}{% else %}How It works{% endif %}
                    </h2>
              
                   <p>{% if joinus.desc4 %}{{ joinus.desc4|safe }}{% else %}
                   Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                   {% endif %}
                   </p>


                   
                </div>
            </div>
            <div class="how-work-slider">
                <div class="swiper-container hs-slider">
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{% if joinus.footer_slider_image1 %}{{ joinus.footer_slider_image1.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% if joinus.footer_slider_image2 %}{{ joinus.footer_slider_image2.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% if joinus.footer_slider_image3 %}{{ joinus.footer_slider_image3.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% if joinus.footer_slider_image4 %}{{ joinus.footer_slider_image4.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% if joinus.footer_slider_image5 %}{{ joinus.footer_slider_image5.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                    </div>
                    
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading brick-heading-primary text-center">
                    <h2 class="bh-title">

                      {% if joinus.features_text %}
                          {{ joinus.features_text }}
                      {% else %}
                          FEATURES
                      {% endif %}

                    </h2>
  
                      {% if joinus.features_desc %}
                          {{ joinus.features_desc|safe }}
                      {% else %}
                        <p>
                          VIEW CAREERS
                         </p>
                      {% endif %}
      
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="sc-icon">
                            <img title="Increase your income" alt="Increase your income" src="{% if joinus.feature1_image %}{{ joinus.feature1_image.url }}{% endif %}">
                        </div>
                        <h4 class="fc-title">
                          {% if joinus.feature1_title %}
                              {{ joinus.feature1_title }}
                          {% else %}
                              Increase your income
                          {% endif %}

                        </h4>
              
                          {% if joinus.feature1_desc %}
                              {{ joinus.feature1_desc|safe }}
                          {% else %}
                            <p>
                              Increase your income
                            </p>
                          {% endif %}

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img title="Be a boss" alt="Be a boss" src="{% if joinus.feature2_image %}{{ joinus.feature2_image.url }}{% endif %}">
                        </div>
                        <h4 class="fc-title">
                          {% if joinus.feature2_title %}
                              {{ joinus.feature2_title }}
                          {% else %}
                              be a boss
                          {% endif %}


                        </h4>
                    
                          {% if joinus.feature2_desc %}
                              {{ joinus.feature2_desc|safe }}
                          {% else %}
                          <p>
                              be a boss desc
                          </p>
                          {% endif %}
          
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img title="Meet new people" alt="Meet new people" src="{% if joinus.feature3_image %}{{ joinus.feature3_image.url }}{% endif %}">
                        </div>
                        <h4 class="fc-title">
                          {% if joinus.feature3_title %}
                              {{ joinus.feature3_title }}
                          {% else %}
                            meet new people
                          {% endif %}

                        </h4>
                          {% if joinus.feature3_desc %}
                              {{ joinus.feature3_desc|safe }}
                          {% else %}
                          <p>
                              meet new people desc
                          </p>
                          {% endif %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img title="More choices for you" alt="More choices for you" src="{% if joinus.feature4_image %}{{ joinus.feature4_image.url }}{% endif %}">
                        </div>
                        <h4 class="fc-title">
                          {% if joinus.feature4_title %}
                              {{ joinus.feature4_title|safe }}
                          {% else %}
                              ore choices for oyu
                          {% endif %}
                        </h4>
                      
                          {% if joinus.feature4_desc %}
                              {{ joinus.feature4_desc|safe }}
                          {% else %}
                            <p>
                              more choices for you desc
                            </p>
                          {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block extracss %}
       <link href="{% static 'base/plugins/swiper/css/swiper.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extrajs %}
        <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'base/plugins/browserclass.js' %}"></script>
       <script src="{% static 'base/plugins/swiper/js/swiper.jquery.min.js' %}"></script>
       <script>
        $(document).ready(function(){
            "use strict";
            var swiper = new Swiper('.hs-slider', {
                pagination: '.swiper-pagination',
                pagination: '.swiper-pagination',
                paginationClickable: true,
                paginationBulletRender: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + '</span>';
                },
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                loop: true,
                coverflow: {
                    rotate: 0,
                    stretch: 0,
                    depth: 0,
                    modifier: 1,
                    slideShadows : false
                }
            });
        });
    </script>

    {% endblock %}

