{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block content %}
    <div class="vessel vessel-vtop has-content-right">
        <div style="background-image: url('{% static 'base/images/services/1.jpg' %}');" class="ve-cell ve-image image-cover ve-left"></div>
        <div class="ve-cell ve-content ve-right">
            <article class="ve-article">
                <h2 class="ve-title">Courier Delivery</h2>
                <div class="note">
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec sed odio dui. Aenean eu leo quam.Donec sed odio dui. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.Donec sed odio dui. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                </div>
                <h4 class="montserret bold fs-18 uppercase text-color mb-35">LOYALTY REWARDS</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="reward-item text-center">
                            <img src="{% static 'base/images/rewards/1.png' %}" alt="NORMAL" title="NORMAL" class="ri-image">
                            <h5 class="ri-title">NORMAL</h5>
                            <p>Maecenas sed diam eget risus varius blandit sit amet</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="reward-item text-center">
                            <img src="{% static 'base/images/rewards/2.png' %}" alt="BRONZE" title="BRONZE" class="ri-image">
                            <h5 class="ri-title">BRONZE</h5>
                            <p>Maecenas sed diam eget risus varius blandit sit amet</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="reward-item text-center">
                            <img src="{% static 'base/images/rewards/3.png' %}" alt="SILVER" title="SILVER" class="ri-image">
                            <h5 class="ri-title">NORMAL</h5>
                            <p>Maecenas sed diam eget risus varius blandit sit amet</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="reward-item text-center">
                            <img src="{% static 'base/images/rewards/4.png' %}" alt="GOLD" title="GOLD" class="ri-image">
                            <h5 class="ri-title">GOLD</h5>
                            <p>Maecenas sed diam eget risus varius blandit sit amet</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="vessel vessel-vtop has-content-left">
        <div class="ve-cell ve-content ve-right">
            <article class="ve-article">
                <h2 class="ve-title">Passenger Pickup</h2>
                <div class="note">
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec sed odio dui. Aenean eu leo quam.
                    </p>
                </div>
                <h4 class="montserret bold fs-18 uppercase text-color mb-35">INVITE FRIENDS</h4>
                <div class="list-has-image">
                    <div class="li-image">
                        <img src="{% static 'base/images/icons/1.png' %}" alt="...">
                    </div>
                    <div class="note">Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum.</div>
                </div>
            </article>
        </div>
        <div style="background-image: url('{% static 'base/images/services/2.jpg' %}');" class="ve-cell ve-image image-cover ve-left"></div>
    </div>

    <div class="brick brick-delivery-booking">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3 brick-heading brick-heading-pages mb-50 text-center">
                    <h2 class="bh-title">Delivery Window / Booking Timings</h2>
                    <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="delivery-holder">
                        <ul class="nav nav-pills nav-justified nav-delivery-booking" role="tablist">
                            <li role="presentation"><a href="#delivery__1" aria-controls="delivery__1" role="tab" data-toggle="tab">same day delivery</a></li>
                            <li role="presentation" class="active"><a href="#delivery__2" aria-controls="delivery__2" role="tab" data-toggle="tab">next day delivery</a></li>
                            <li role="presentation"><a href="#delivery__1" aria-controls="delivery__1" role="tab" data-toggle="tab">same day delivery</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="delivery__1">
                                <div class="row row-delivery">
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">Morning Standard</h4>
                                            <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 9am</li>
                                                <li>Delivery: 10am–2pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">Morning Standard</h4>
                                            <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 9am</li>
                                                <li>Delivery: 10am–2pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">AFTERNOON Standard</h4>
                                            <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 1pm</li>
                                                <li>Delivery: 2pm-6pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">AFTERNOON Standard</h4>
                                            <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 1pm</li>
                                                <li>Delivery: 2pm-6pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">EVENING Standard</h4>
                                            <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 4am</li>
                                                <li>Delivery: 6pm–10pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">EVENING Standard</h4>
                                            <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 4am</li>
                                                <li>Delivery: 6pm–10pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="delivery__2">
                                <div class="row row-delivery">
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">Morning Standard</h4>
                                            <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 9am</li>
                                                <li>Delivery: 10am–2pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">Morning Standard</h4>
                                            <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 9am</li>
                                                <li>Delivery: 10am–2pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">AFTERNOON Standard</h4>
                                            <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 1pm</li>
                                                <li>Delivery: 2pm-6pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">AFTERNOON Standard</h4>
                                            <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 1pm</li>
                                                <li>Delivery: 2pm-6pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">EVENING Standard</h4>
                                            <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 4am</li>
                                                <li>Delivery: 6pm–10pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">EVENING Standard</h4>
                                            <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 4am</li>
                                                <li>Delivery: 6pm–10pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="delivery__3">
                                <div class="row row-delivery">
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">Morning Standard</h4>
                                            <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 9am</li>
                                                <li>Delivery: 10am–2pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">Morning Standard</h4>
                                            <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 9am</li>
                                                <li>Delivery: 10am–2pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">AFTERNOON Standard</h4>
                                            <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 1pm</li>
                                                <li>Delivery: 2pm-6pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">AFTERNOON Standard</h4>
                                            <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 1pm</li>
                                                <li>Delivery: 2pm-6pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">EVENING Standard</h4>
                                            <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 4am</li>
                                                <li>Delivery: 6pm–10pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="delivery-card">
                                            <h4 class="dc-title">EVENING Standard</h4>
                                            <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                            <ul class="list-inline dc-lists">
                                                <li>Booking cut-off: 4am</li>
                                                <li>Delivery: 6pm–10pm</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3 brick-heading brick-heading-pages mb-50 text-center">
                    <h2 class="bh-title">How it Works</h2>
                    <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
            </div>
        </div>
    </div>
   
    {% endblock %}