{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block content %}
    <div class="vessel vessel-vtop has-content-right">
        <div class="ve-cell ve-content ve-right">
                <div class="col-sm-12 brick-heading brick-heading-pages">
                    <div class="ab-feat-content">
                    <h2 class="bh-title">{{ terms.title }}</h2>
                    {{ terms.description|safe }}

                   </div>
                </div>
        </div>
    </div>

    {% endblock %}