
.btn {
	&.small {
		padding-top: 3px;
		padding-bottom: 3px;
	}
	&.medium {
		padding: 8px 25px;
	}
	&.round {
		.border-radius(30px);
	}
	&.btn-lg {
		min-width: 170px;
		padding: 13.5px 30px;
	}
	
	&.has-arrow {	
		position: relative;
		&:after {
			content: "\f105";
			font-family: "FontAwesome";
			display: inline-block;
			position: absolute;
		}
		&.right {
			text-align: left;
			padding-right: 40px;
			&:after {
				padding-left: 30px;
    			right: 25px;
    			width: 0;
			}
		}
	}
	&.btn-afix {
		min-width: 190px;
	}
	&.unstroke {
		border: 0 !important;
	}
	&.btn-gray {
		background-color: #e8e8e8;
		color: #666;
		&:hover, &:focus {
			background-color: darken(#e8e8e8, 7%)
		}
	}
	&.btn-primary {
		background-color: @brand-primary;
		&:hover, &:focus {
			background-color: darken(@brand-primary, 7%)
		}
	}
	&.btn-secondary {
		background-color: @brand-secondary;
		color: @white;
	}
	&.btn-warning {
		background-color: @brand-secondary;
		&:hover, &:focus {
			background-color: darken(@brand-secondary, 7%)
		}
	}
	&.btn-white {
		background-color: @white;
		color: @text-color;
		&:hover, &:focus {
			color: @brand-primary;
		}
	}
}

.btn {
	&.btn-flat {
		background-color: transparent;
		&.btn-secondary {
			color: @brand-secondary;
		}
	}
}

.link {
	background-color: transparent !important;
	border: 0 !important;
	padding: 0 ;
	color: @text-color;

	&.link-success {
		color: @brand-primary !important;
	}
}

