
body {
	background-color: #f8f8f7;
	font-family: @base-font;
	font-size: 14px;
	font-weight: 400;
	color: @text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @title-font;
	line-height: 1;
	color: @title-color;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	color: @title-color;
}

a {
	color: @linkColor;
	outline: 0;
	transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
	-webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
}

a:focus, a:hover, a:active {
	outline: none;
	text-decoration: none;
	color: @linkColorHover;
}
