
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-darken:            lighten(@gray-base, 6.7%); // #111
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee





@pink: #ffc0cb;
@pink-dark: darken(@pink, 10%);


@brand-primary:         #c01b28;
@brand-secondary:		#2ebab3;
@border-color: #ececec;

@base-green: #009639;
@base-yellow: #fcce01;
@base-black: #404040;

@delivered: @brand-primary;
@accepted: #8938b9;
@pending: @brand-danger;


@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@white:                  #FFF;
@white-gray1:            darken(@white, 3%);  // #f5f5f5
@white-gray2:            darken(@white, 3.9%);  // #f5f5f5
@white-gray3:            darken(@white, 4.9%);  // #f3f3f3
@white-gray4:            darken(@white, 5.9%);  // #f3f3f3
@white-gray5:            darken(@white, 6.5%);  // #eee
@white-gray6:            #FAF8F1;





@title-color: #333;
@text-color: #37474f;
@text-color-light: #727272;
@mute-color: #a3afb7;
@blue-color: #002e62;
@mcyan-color: #4dd689;




@linkColor:             @brand-primary;
@linkColorHover:        darken(@brand-primary, 8%);



@base-font: @montserrat-light;
@accent-font: @montserrat-light;
@title-font: @montserrat-regular;








@facebook: #3b5998;
@google: #dd4b39;
@twitter: #00aced;
@youtube: #bb0000;
@linkedin: #007bb5;
@instagram: #125688;
@whatsapp: #4dc247;
@pinterest: #cb2027;
@flickr: #ff0084;
@tumblr: #32506d;
@vk: #45668e;


@desktopOnly:   ~"only screen and (min-width: 768px)";
@xsOnly:    ~"only screen and (max-width: 767px)";
@mdOnly:    ~"only screen and (min-width: 991px) and (max-width: 1199px)";
@tabletx:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@xmobile: ~"only screen and (max-width: 320px)";
@lgmax: ~"only screen and (max-width: 1199px)";
@lgonly: ~"only screen and (min-width: 1200px)";
@mdmax: ~"only screen and (max-width: 991px)";
@mdmin: ~"only screen and (min-width: 992px)";
@smOnly:    ~"(min-width: 768px) and (max-width: 991px)";
@csmOnly:    ~"(min-width: 481px) and (max-width: 620px)";
@xsmOnly:    ~"(min-width: 481px) and (max-width: 767px)";
@xxsOnly:    ~"only screen and (max-width: 480px)";
@mdsm:    ~"(min-width: 768px) and (max-width: 1199px)";
@mdlg:	~"(min-width: 992px) and (max-width: 1199px)";
@xlg:    ~"only screen and (min-width: 1200px)";
@smlgOnly:    ~"(min-width: 992px) and (max-width: 1499px)";
@smlgmin:    ~"only screen and (min-width: 1500px)";
@xxlgOnly:    ~"(min-width: 1200px) and (max-width: 1599px)";
@xxlgMin: ~"only screen and (min-width: 1600px)";
































































































