{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">My Bookings</h1>
        </div>
      </div>
      <div class="view-bookings">
        <div class="vb-navbar">
            <ul class="nav nav-pills vb-nav" role="tablist">
              <li role="presentation" class="active"><a href="#tab__view__courier" aria-controls="tab__view__courier" role="tab" data-toggle="tab">COURIER</a></li>
              <li role="presentation"><a href="#tab__view__pickup" aria-controls="tab__view__pickup" role="tab" data-toggle="tab">PICKUP</a></li>
            </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab__view__courier">
            <div class="panel panel-bordered panel-base panel-searchbar">
              <div class="panel-body">
                  <div class="vb-searchbar">
                    <div class="vb-search-row vb-search-hold">
                      <div class="cell cell-field">
                        <div class="cf-block">
                          <div class="input-group">
                            <div class="input-group-addon">SEARCH</div>
                            <input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">
                          </div>
                        </div>
                      </div>
                      <div class="cell cell-btn">
                        <div class="vb-btn-group">
                          <button type="submit" class="btn btn-black medium mon-normal uppercase">Search</button>
                          <button type="button" class="btn btn-secondary medium mon-normal uppercase" data-toggle="collapse" data-target="#collapse__filters" aria-expanded="false" aria-controls="collapse__filters">Filters 
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="collapse" id="collapse__filters">
                    <div class="input-group group-has-content">
                      <div class="input-group-addon">FILTER</div>
                      <div class="fit-content">
                        <div class="row fit-content-row">
                          <div class="col-md-3">
                            <label for="">Pickup Date Range</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="col-md-3">
                            <label for="">Delivery Date Range</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="col-md-3 fit-col-btn">
                             <button class="btn btn-black medium mon-normal uppercase btn-filse">SEARCH</button> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="sorting-hold">
                <div class="row">
                  <div class="col-md-8">
                    <ul class="sort-listings clearfix">
                      <li>Show your listings:</li>
                      <li class="active"><a href="">Current(2)</a></li>
                      <li><a href="">Closed</a></li>
                      <li><a href="">All</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                      <div class="sort-btn-group">
                        <a href="" class="btn btn-gray"><i aria-hidden="true" class="icon wb-download"></i> Export</a>
                        <a href="" class="btn btn-gray">Select columns</a>
                      </div>
                  </div>
                </div>
            </div>
            <div class="panel panel-bordered panel-base panel-bookings">
              <div class="panel-body table-responsive">
                <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                  <thead>
                    <tr>
                      <th>Order Date </th>
                      <th>Delivery Request #</th>
                      <th>Tracking URL</th>
                      <th>Quick Ref #</th>
                      <th>External Ref. ID</th>
                      <th>Ordered By</th>
                      <th>Days Overdue</th>
                      <th>Price</th>
                      <th>Collection Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="o-date">26 may 2016</span></td>
                      <td>UF328472831938271</td>
                      <td><a href="">View</a></td>
                      <td>UF12343</td>
                      <td>GW4587212363</td>
                      <td><span class="name">Christine Lai</span></td>
                      <td>0 day/s</td>
                      <td><span class="price">$95.00</span></td>
                      <td><span class="cl-address">Blk 42 Lorong 6 Orchard Road, #04-08 312332</span></td>
                    </tr>
                    <tr>
                      <td><span class="o-date">26 may 2016</span></td>
                      <td>UF328472831938271</td>
                      <td><a href="">View</a></td>
                      <td>UF12343</td>
                      <td>GW4587212363</td>
                      <td><span class="name">Christine Lai</span></td>
                      <td>0 day/s</td>
                      <td><span class="price">$95.00</span></td>
                      <td><span class="cl-address">Blk 42 Lorong 6 Orchard Road, #04-08 312332</span></td>
                    </tr>
                    <tr>
                      <td><span class="o-date">26 may 2016</span></td>
                      <td>UF328472831938271</td>
                      <td><a href="">View</a></td>
                      <td>UF12343</td>
                      <td>GW4587212363</td>
                      <td><span class="name">Christine Lai</span></td>
                      <td>0 day/s</td>
                      <td><span class="price">$95.00</span></td>
                      <td><span class="cl-address">Blk 42 Lorong 6 Orchard Road, #04-08 312332</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab__view__pickup">
            <div class="panel panel-bordered panel-base panel-searchbar">
              <div class="panel-body">
                  <div class="vb-searchbar">
                    <div class="vb-search-row vb-search-hold">
                      <div class="cell cell-field">
                        <div class="cf-block">
                          <div class="input-group">
                            <div class="input-group-addon">SEARCH</div>
                            <input id="searchPickup" type="text" class="form-control" placeholder="Type keyword...">
                          </div>
                        </div>
                      </div>
                      <div class="cell cell-btn">
                        <div class="vb-btn-group">
                          <button type="submit" class="btn btn-black medium mon-normal uppercase">Search</button>
                          <button type="button" class="btn btn-secondary medium mon-normal uppercase" data-toggle="collapse" data-target="#collapse__filters__pickup" aria-expanded="false" aria-controls="collapse__filters__pickup">Filters 
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="collapse" id="collapse__filters__pickup">
                    <div class="input-group group-has-content">
                      <div class="input-group-addon">FILTER</div>
                      <div class="fit-content">
                        <div class="row fit-content-row">
                          <div class="col-md-3">
                            <label for="">Pickup Date Range</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="col-md-3">
                            <label for="">Delivery Date Range</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="col-md-3 fit-col-btn">
                             <button class="btn btn-black medium mon-normal uppercase btn-filse">SEARCH</button> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="sorting-hold">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="sort-listings clearfix">
                      <li>Show your listings:</li>
                      <li class="active"><a href="">Current(2)</a></li>
                      <li><a href="">Closed</a></li>
                      <li><a href="">All</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                      <div class="sort-btn-group">
                        <a href="" class="btn btn-gray"><i aria-hidden="true" class="icon wb-download"></i> Export</a>
                        <a href="" class="btn btn-gray">Select columns</a>
                      </div>
                  </div>
                </div>
            </div>
            <div class="panel panel-bordered panel-base panel-bookings">
              <div class="panel-body table-responsive">
                <table id="tablePickup" class="table table-hover dataTable table-striped width-full">
                  <thead>
                    <tr>
                      <th>Order Date </th>
                      <th>Days Overdue</th>
                      <th>Price</th>
                      <th>Collection Address</th>
                      <th>Collection Window</th>
                      <th>Delivery to</th>
                      <th>Delivery Address</th>
                      <th>Delivery Window</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="o-date">26 may 2016</span></td>
                      <td>0 day/s</td>
                      <td><span class="price">$95.00</span></td>
                      <td><span class="cl-address">Blk 42 Lorong 6 Orchard Road, #04-08 312332</span></td>
                      <td>GW4587212363</td>
                      <td><span class="name">Christine Lai</span></td>
                      <td><span class="cl-address">Blk 42 Lorong 6 Orchard Road, #04-08 312332</span></td>
                      <td>Evening <br>(18:00pm-21:00pm)</td>
                      <td><span class="state state-completed">Completed</span></td>
                    </tr>
                    <tr>
                      <td><span class="o-date">26 may 2016</span></td>
                      <td>0 day/s</td>
                      <td><span class="price">$95.00</span></td>
                      <td><span class="cl-address">Blk 42 Lorong 6 Orchard Road, #04-08 312332</span></td>
                      <td>GW4587212363</td>
                      <td><span class="name">Christine Lai</span></td>
                      <td><span class="cl-address">Blk 42 Lorong 6 Orchard Road, #04-08 312332</span></td>
                      <td>Evening <br>(18:00pm-21:00pm)</td>
                      <td><span class="state state-completed">Completed</span></td>
                    </tr>
                    <tr>
                      <td><span class="o-date">26 may 2016</span></td>
                      <td>0 day/s</td>
                      <td><span class="price">$95.00</span></td>
                      <td><span class="cl-address">Blk 42 Lorong 6 Orchard Road, #04-08 312332</span></td>
                      <td>GW4587212363</td>
                      <td><span class="name">Christine Lai</span></td>
                      <td><span class="cl-address">Blk 42 Lorong 6 Orchard Road, #04-08 312332</span></td>
                      <td>Evening <br>(18:00pm-21:00pm)</td>
                      <td><span class="state state-completed">Completed</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <!-- Core  -->
  <script src="{% static 'global/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'global/vendor/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'global/vendor/animsition/animsition.js' %}"></script>
  <script src="{% static 'global/vendor/asscroll/jquery-asScroll.js' %}"></script>
  <script src="{% static 'global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'global/vendor/asscrollable/jquery.asScrollable.all.js' %}"></script>
  <script src="{% static 'global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
  
  <!-- Plugins -->
  <script src="{% static 'global/vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'global/vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'global/vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  <script src="{% static 'global/vendor/skycons/skycons.js' %}"></script>
  <script src="{% static 'global/vendor/chartist-js/chartist.min.js' %}"></script>
  <script src="{% static 'global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'global/vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
  <script src="{% static 'global/vendor/jvectormap/jquery.jvectormap.min.js' %}"></script>
  <script src="{% static 'global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
  <script src="{% static 'global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
  <script src="{% static 'global/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
  <script src="{% static 'global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
  <script src="{% static 'global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>

  <script>
    $(document).ready(function(){
        $('#collapse__filters').on('shown.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });

        $(function(){
          $(".sort-listings a").on("click", function(e) {
            e.preventDefault();
            $(".sort-listings li").removeClass("active");
            $(this).closest("li").addClass("active");
          });
        });
        $(function(){
          var tableCourier = $("#tableCourier, #tablePickup").DataTable({
            aoColumnDefs: [
              {
                 bSortable: false,
                 aTargets: [ -1 ]
              }
            ]
          });
          $("#searchCourier, #searchPickup").keyup(function(){
                tableCourier.search($(this).val()).draw() ;
          })
        });
    });
  </script>

  <!-- Scripts -->
  <script src="global/js/core.js"></script>
  <script src="assets/js/site.js"></script>
  <script src="assets/js/sections/menu.js"></script>
  <script src="assets/js/sections/menubar.js"></script>
  <script src="assets/js/sections/gridmenu.js"></script>
  <script src="assets/js/sections/sidebar.js"></script>
  <script src="global/js/configs/config-colors.js"></script>
  <script src="assets/js/configs/config-tour.js"></script>
  <script src="global/js/components/asscrollable.js"></script>
  <script src="global/js/components/animsition.js"></script>
  <script src="global/js/components/slidepanel.js"></script>
  <script src="global/js/components/switchery.js"></script>
  <script src="global/js/components/matchheight.js"></script>
  <script src="global/js/components/jvectormap.js"></script>
  <!-- <script src="global/js/components/datatables.js"></script> -->
  <!-- <script src="../../assets/examples/js/tables/datatable.js"></script> -->
  <script src="assets/examples/js/dashboard/v1.js"></script>

{% endblock %}