{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <h1 class="pages-heading">Driver List</h1>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group input-brick mb-0">
          <div class="col-sm-12"><h2 class="mb-20">See Users Registered</h2></div>
          <div class="col-sm-4 mb-15">
              <h5 class="fs-15 brand-primary uppercase">FROM</h5>
              <div class="field-has-icon">
                <input id="from" required="true" name='from' type="text" class="form-control" data-plugin="bs-date">
                <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
              </div>
          </div>
          <div class="col-sm-4">
              <h5 class="fs-15 brand-primary uppercase">TO</h5>
              <div class="field-has-icon">
                <input id="to" required="true" name='to' type="text" class="form-control" data-plugin="bs-date">
                <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
              </div>
          </div>
          <div class="col-sm-4">
              <br/>
                <button type="button" onclick="find_from_date()"
                        class="btn btn-black medium mon-normal uppercase">Search</button>
              </div>
          </div>
        </div>
        </div>
        <!--<div class="vb-searchbar">-->
          <!--<div class="vb-search-row vb-search-hold">-->
            <!--<div class="cell cell-field">-->
              <!--<div class="cf-block">-->
                <!--<div class="input-group">-->
                  <!--<div class="input-group-addon">SEARCH</div>-->
                  <!--<input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="cell cell-btn">-->
              <!--<div class="vb-btn-group">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="panel-wrap">

      <div id="tableCourierDiv">
        <div class="panel panel-bordered panel-base">
          <div class="panel-body">
             <div class="table-responsive">
                <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                 {% if driver %}
                  <thead>
                    <tr>
                      <th class="col_search">ID</th>
                      <th class="col_search">Name</th>
                      <th class="col_search">Email</th>
                      <th class="col_search">Driver Category</th>
                      <th class="col_search">Contact No.</th>
                      <th class="col_search">Vehicle Number</th>
                      <th class="col_search">Company</th>
                      <th class="col_search">Driver Type</th>
                      <th class="col_search">Acceptance Rate</th>
                      <th class="col_search">Cancellation Rate</th>
                      <th>Driver Since</th>
                      <th>Rating</th>
                      <!--<th>Earnings</th>-->
                      <!--<th>Sign Up Time</th>-->
                      <th>Action</th>
                    </tr>
                  </thead>
                    <tbody>
                    {% for obj in driver %}

                      <tr class="forRemove">
                        <td>0100{{ obj.id }}</td>
                        <td><a href="/sadmin/driver_profile_detail/{{ obj.id }}/">{{ obj.name }}</a></td>
                        {% if obj.email %}
                            <td>{{ obj.email }}</td>
                        {% else %}
                            <td>{{ obj.user.email }}</td>
                        {% endif %}


                        {% if obj.driver_category == 'NORMAL'%}
                        <td style="color:#00a8c6">{{ obj.driver_category }}</td>
                        {% elif obj.driver_category == 'BRONZE' %}
                        <td style="color:#C9AE5D">{{ obj.driver_category }}</td>
                        {% elif obj.driver_category == 'SILVER' %}
                        <td style="color:#A9A9A9">{{ obj.driver_category }}</td>
                        {% elif obj.driver_category == 'GOLD' %}
                        <td style="color:#FFD700">{{ obj.driver_category }}</td>
                        {% else %}
                        <td>No category yet.</td>
                        {% endif %}

                        <td>{{ obj.mobile_no }}</td>
                        {% if obj.vehicle_number %}
                            <td>{{ obj.vehicle_number }}</td>
                        {% else %}
                            <td>No number provided</td>
                        {% endif %}

                        {% if obj.company %}
                            <td>{{ obj.company }}</td>
                        {% else %}
                            <td>No company name</td>
                        {% endif %}

                        <td>{{ obj.driver_service_type }}</td>
                        <td>{{ obj.acceptance_rate }}</td>
                        <td>{{ obj.cancellation_rate }}</td>
                        <td>Since {{ obj.created_at|date:'d, M Y' }}</td>
                        <td><input class="stars" value="{{ obj.rate }}"></td>
                        <!--<td><a href="/sadmin/driver_earnings/{{ obj.id }}/">View</a></td>-->
                        <!--<td>{{ obj.created_at }}</td>-->
                        {% if obj.user.is_active == False %}
                        <td id="activate">
                        <div class="actions-orders btn-color-white nowrap">
                          <a class="btn btn-sm btn-primary unstroke" href="/sadmin/all_driver_list/activate/{{ obj.user.id }}">Activate</a>
                        </div>
                        </td>
                        {% endif %}
                        {% if obj.user.is_active == True %}
                        <td id="Deactivate">
                        <div class="actions-orders btn-color-white nowrap">
                          <a class="btn btn-sm btn-warning unstroke" href="/sadmin/all_driver_list/deactivate/{{ obj.user.id }}">Deactivate</a>
                        </div>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}

                  </tbody>
                  {% endif %}
              </table>
             </div>
          <a href="/sadmin/download_driver_csv/" class="btn btn-success mt-10">Download in CSV</a>
              <a href="/sadmin/driver_pdf/" class="btn btn-success mt-10">Download in PDF</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
    <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
    <script src="{% static 'dashboard/plugins/star-rating/js/star-rating.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/star-rating/themes/krajee-fa/theme.min.js' %}"></script>
    <script>
    $(function() {
        $('.stars').rating({
            displayOnly: true,
            theme: 'krajee-fa',
            filledStar: '<i class="fa fa-star"></i>',
            emptyStar: '<i class="fa fa-star-o"></i>',
            showCaption: true,
        })
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function() {

          $('#collapse__filters').on('shown.bs.collapse', function () {
              $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
          });

          $('#collapse__filters').on('hidden.bs.collapse', function () {
              $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
          });

          $(function () {
              $(".sort-listings a").on("click", function (e) {
                  e.preventDefault();
                  $(".sort-listings li").removeClass("active");
                  $(this).closest("li").addClass("active");
              });
          });

          $(function () {
              $('.col_search').each(function () {
                  var title = $(this).text();
                  $(this).html('<input type="text" style="width: 120px" placeholder="' + title + '" />');
              });
              var tableCourier = $("#tableCourier").DataTable({
                  aoColumnDefs: [
                      {
                          bSortable: false,
                          aTargets: [-1],
                      }
                  ]
              });
//              $("#searchCourier").keyup(function () {
//                  tableCourier.search($(this).val()).draw();
//              });
              tableCourier.columns().every(function () {
                  var that = this;

                  $('input', this.header()).on('keyup change', function () {
                      if (that.search() !== this.value) {
                          that
                                  .search(this.value)
                                  .draw();
                      }
                  });
              });
          });
      });

      $(document).ready(function() {
      $('[data-plugin="bs-date"]').datetimepicker({
          format: 'DD MMM YYYY',
      });

    });

    var find_from_date = function find_from_date(){
        from = $('#from').val();
        to = $('#to').val();
        $.ajax({
              url:'/sadmin/drivers_from_date/',
              type:'post',
              data: {from_date:from, to_date:to},
              dataType: 'html',
              success:function(data){
                  $('.forRemove').empty();
                  $('#tableCourier').html(data);
                  $('.col_search').each( function () {
                    var title = $(this).text();
                    $(this).html( '<input type="text" style="width: 120px" placeholder="Search '+title+'" />' );
                  } );

                   $('.stars').rating({
                        displayOnly: true,
                        theme: 'krajee-fa',
                        filledStar: '<i class="fa fa-star"></i>',
                        emptyStar: '<i class="fa fa-star-o"></i>',
                        showCaption: true,
                    });


                  var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });

                  tableCourier.columns().every( function () {
                    var that = this;

                    $( 'input', this.header() ).on( 'keyup change', function () {
                        if ( that.search() !== this.value ) {
                            that
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );

              },
              error:function(){
                  console.log('Error in submission.');
              }
        });
      }
    </script>
{% endblock %}
{% block extracss %}
 <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}