{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">
        <h4>{{ job.customer }}'s Pick up request</h4>
        <h5><span style="color:red">From</span> {{ job.pickup_address }} <span style="color:red">To</span> {{ job.dropoff_address }}</h5>
        <form class="form-group" method="POST" action="">
            {% csrf_token %}
            <input type="hidden" value="{{ job.id }}" name="id">
            <select name="drivers" class="form-control huge">
                {% for obj in driver %}
                    <option value="{{ obj.driver.id }}">{{ obj.driver.name }}</option>
                {% endfor %}
            </select>
            <br/>
        <button type="submit" class="btn btn-primary">Assign Job</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}