{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
            <h1 class="pages-heading">Commission Setup</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                {% if commissions %}
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Category</th>
                <th>Pickup Commission</th>
                <th>Courier Commission</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in commissions %}
                <tr>
                  <td>{{ obj.category }}</td>
                  <td>{{ obj.commission_pickup }} %</td>
                  <td>{{ obj.commission_courier }} %</td>
                  <td>
                    <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/commission_setup/update/{{ obj.id }}/" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/commission_setup/delete/{{ obj.id }}/" class="btn btn-sm btn-warning unstroke">Delete</a>
                    </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        {% endif %}
            </div>
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      {{ form.as_p }}

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
