{% extends "dashboard/super_layout.html" %}
{% block content %}
<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Contactus Page Edit</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

    <form method='POST' action='' enctype='multipart/form-data'>
      {% csrf_token %}

      {{ form.as_p }}

      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
  {% block extrajs %}
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
      <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
      <script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places&callback=initMap"async defer></script>
        <script type="text/javascript">
          var map;
          function initMap() {
            console.log('Testing');
            var location = document.getElementById('location');
            var options = {
                types: ['address'],
                componentRestrictions: {country: 'SG'}
            };

            var autocomplete1 = new google.maps.places.Autocomplete(location, options);
          }
        </script>
  {% endblock %}


