{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}


{% block extracss %}

<link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
        <h1 class="pages-heading">Customer List</h1>
      <div class="panel">
        <div class="panel-body">
            <h3 class="mb-20">See Users Registered</h3>
          <div class="row">

            <div class="col-sm-4 mb-5">
                <h5 class="fs-15 brand-primary uppercase">FROM</h5>
                <div class="field-has-icon">
                  <input id="from" required="true" name='from' type="text" class="form-control" data-plugin="bs-date">
                  <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <h5 class="fs-15 brand-primary uppercase">TO</h5>
                <div class="field-has-icon">
                  <input id="to" required="true" name='to' type="text" class="form-control" data-plugin="bs-date">
                  <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                </div>
            </div>
            <div class="col-sm-4">
                <br/>
                  <button type="button" onclick="find_from_date()"
                          class="btn btn-black medium mon-normal uppercase">Search</button>
                </div>
            </div>

          </div>
      </div>
            <!--<div class="vb-searchbar">-->
              <!--<div class="vb-search-row vb-search-hold">-->
                <!--<div class="cell cell-field">-->
                  <!--<div class="cf-block">-->
                    <!--<div class="input-group">-->
                      <!--<div class="input-group-addon">SEARCH</div>-->
                      <!--<input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="cell cell-btn">-->
                  <!--<div class="vb-btn-group">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="panel panel-bordered panel-base panel-bookings">
          <div id="tableCourierDiv" class="panel-body">
            <div>
              <div class="table-responsive mb-5">
              <input type="checkbox" id="check_all" class="btn btn-gray mb-5">Select All
              <button type="submit" id="activate_account" class="btn btn-gray mb-5">Activate Checked</button>
              <button type="submit" id="deactivate_account" class="btn btn-gray mb-5">DeActivate Checked</button>
              <!--<button type="button" id="check_all" class="btn btn-gray">Select all</button>-->
              <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                {% if customers %}
                <thead>
                  <tr>
                    <th></th>
                    <th class="col_search">ID</th>
                    <th class="col_search">Name</th>
                    <th class="col_search_email">Email</th>
                    <th class="col_search">Customer Since</th>
                    <!--<th class="col_search">Address</th>-->
                    <!--<th class="col_search">Postal Code</th>-->
                    <th class="col_search">Contact No.</th>
                    <!--<th>Delivery Orders</th>-->
                    <!--<th>Pickup Orders</th>-->
                    <!--<th class="col_search">Location</th>-->
                    <!--<th class="col_search">Verification</th>-->
                    <th>Profile Picture</th>
                    <th>Action</th>
                  </tr>
                </thead>
                  <tbody>
                  {% for obj in customers %}
                    {% if obj.user.is_staff == False %}
                    <tr class="forRemove">
                      <td><input type="checkbox" id="check" value="{{ obj.user.id }}" class="checkbox"></td>
                      <td>0100{{ obj.id }}</td>
                      <td><a href="/sadmin/customer_profile_detail/{{ obj.id }}/">{{ obj.name }}</a></td>
                      {% if obj.email %}
                          <td>{{ obj.email }}</td>
                      {% else %}
                          <td>{{ obj.user.email }}</td>
                      {% endif %}
                      <td>Since {{ obj.created_at|date:'d, M Y' }}</td>
                      <!--<td>{{ obj.address }}</td>-->
                      <!--{% if postal_code %}-->
                        <!--<td>{{ obj.postal_code }}</td>-->
                      <!--{% else %}-->
                        <!--<td>No Postal Code provided</td>-->
                      <!--{% endif %}-->
                      <td>{{ obj.contact_no }}</td>
                      <!--<td><a href="/sadmin/customer_delivery_orders/{{ obj.id }}">Delivery Orders</a></td>-->
                      <!--<td><a href="/sadmin/customer_pickup_orders/{{ obj.id }}">Pickup Orders</a></td>-->
                      <!--<td>{{ obj.location }}</td>-->
                      <!--<td>{{ obj.verification }}</td>-->
                      {% if obj.picture %}
                          <td><img src="{{ obj.picture.url }}" width="72px" height="80px"/></td>
                      {% else %}
                          <td>No image</td>
                      {% endif %}
                      {% if obj.user.is_active == False %}
                      <td id="activate">
                      <div class="actions-orders btn-color-white nowrap">
                        <a class="btn btn-sm btn-primary unstroke" href="/sadmin/customer/activate/{{ obj.user.id }}">Activate</a>
                      </div>
                      </td>
                      {% endif %}
                      {% if obj.user.is_active == True %}
                      <td id="Deactivate">
                      <div class="actions-orders btn-color-white nowrap">
                        <a class="btn btn-sm btn-warning unstroke" href="/sadmin/customer/deactivate/{{ obj.user.id }}">Deactivate</a>
                      </div>
                      </td>
                      {% endif %}
                    </tr>
                    {% endif %}
                  {% endfor %}

                </tbody>
                  {% endif %}

               </table>

              </div>
                <a href="/sadmin/download_customer_csv/" class="btn btn-success mb-5">Download in CSV</a>
               <a href="/sadmin/customer_pdf/" class="btn btn-success mb-5">Download in PDF</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
    <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
    <script src="{% static 'dashboard/plugins/star-rating/js/star-rating.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/star-rating/themes/krajee-fa/theme.min.js' %}"></script>

  <script type="text/javascript">
        $(function(){
          $(".sort-listings a").on("click", function(e) {
            e.preventDefault();
            $(".sort-listings li").removeClass("active");
            $(this).closest("li").addClass("active");
          });
        });

        $(function(){
        $('.col_search').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" style="width: 120px" placeholder="'+title+'" />' );
        } );
        $('.col_search_email').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" style="width: 250px" placeholder="'+title+'" />' );
        } );
          var tableCourier = $("#tableCourier").DataTable({
            aoColumnDefs: [
              {
                 bSortable: false,
                 aTargets: [ -1 ],
              }
            ]
          });
//          $("#searchCourier").keyup(function(){
//                tableCourier.search($(this).val()).draw() ;
            tableCourier.columns().every( function () {
            var that = this;

            $( 'input', this.header() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
      });


      $(document).ready(function() {
      $('[data-plugin="bs-date"]').datetimepicker({
          format: 'DD MMM YYYY',
      });

    });
//          $("#searchCourier").keyup(function(){
//                tableCourier.search($(this).val()).draw() ;
//          })
//        });

     var find_from_date = function find_from_date(){
        from = $('#from').val();
        to = $('#to').val();
        $.ajax({
              url:'/sadmin/customers_from_date/',
              type:'post',
              data: {from_date:from, to_date:to},
              dataType: 'html',
              success:function(data){
                  $('.forRemove').empty();
                  $('#tableCourier').html(data);
                  $('.col_search').each( function () {
                    var title = $(this).text();
                    $(this).html( '<input type="text" style="width: 120px" placeholder="Search '+title+'" />' );
                  } );
                  $('.col_search_email').each( function () {
                        var title = $(this).text();
                        $(this).html( '<input type="text" style="width: 250px" placeholder="Search '+title+'" />' );
                    } );
                  var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
                  tableCourier.columns().every( function () {
                    var that = this;

                    $( 'input', this.header() ).on( 'keyup change', function () {
                        if ( that.search() !== this.value ) {
                            that
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );
              },
              error:function(){
                  console.log('Error in submission.');
              }
        });
      }

      $("#activate_account").click(function(e) {
        var myArray = [];
        $(".checkbox:checked").each(function() {
            myArray.push(this.value);
        });

        $.ajax({
            url: '/sadmin/activate_all/',
            type: 'post',
            data: {customer_id:myArray},
            dataType: 'html',
            success: function (data) {
                console.log('success');
                location.reload(true);
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
     $("#deactivate_account").click(function(e) {
        var myArray = [];
        $(".checkbox:checked").each(function() {
            myArray.push(this.value);
        });

        $.ajax({
            url: '/sadmin/deactivate_all/',
            type: 'post',
            data: {customer_id:myArray},
            dataType: 'html',
            success: function (data) {
                console.log('success');
                location.reload(true);
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
      $("#check_all").change(function(e) {
//        var myArray = [];
        $('.checkbox').not(this).prop('checked', this.checked);

//        $.ajax({
//            url: '/sadmin/deactivate_all/',
//            type: 'post',
//            data: {customer_id:myArray},
//            dataType: 'html',
//            success: function (data) {
//                console.log('success');
//                location.reload(true);
//            },
//            error: function (err) {
//                console.log(err)
//            }
//        });
    });
    </script>
{% endblock %}