<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Driver List</h1>
        <table border="1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Contact No</th>
                <th width="25%">Email</th>
                <th>Created At</th>
                <th>Address</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            {% for c in customers %}
            <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.contact_no }}</td>
                <td width="25%">{{ c.email }}</td>
                <td>{{ c.created_at }}</td>
                <td>{{ c.address }}</td>
                <td>{{ c.location }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>