{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Customer FAQ Edit</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

        <div class="table-responsive">
            {% if instance %}
              <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                  <thead>
                    <tr>
                      <th>Question</th>
                      <th>Answer</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in instance %}
                      <tr>
                        <td>{{ obj.question }}</td>
                        <td>{{ obj.answer|safe }}</td>
                        <td>
                          <div class="actions-orders btn-color-white nowrap">
                          <a href="/sadmin/customer_faq_form/update/{{ obj.id }}/" class="btn btn-primary btn-sm unstroke">Update</a>
                          <a href="/sadmin/customer_faq_form/delete/{{ obj.id }}/" class="btn btn-warning btn-sm unstroke">Delete</a>
                          </div>
                        </td>
                      </tr>
                   {% endfor %}
                  </tbody>
              </table>
              {% endif %}
        </div>
  	    <form method='POST' action='' enctype='multipart/form-data' class="form-group">
  	      {% csrf_token %}
  	      {{ form.as_p }}
  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}