{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <div class="panel panel-bordered panel-base panel-bookings">
        <div id="tableCourierDiv" class="panel-body table-responsive">
        <div class="panel">
          <div class="panel-body">
              <div class="col-sm-6">
                  {% if customer.picture %}
                  <img src="{{ customer.picture.url }}" class="img-circle" width="250" height="250">
                  {% else %}
                  <img src="{% static 'base/images/user.jpg' %}" class="img-circle" width="300" height="300">
                  {% endif %}
                  <h2>{{ customer.name }}</h2>
                  <h3>Address: {{ customer.address }}</h3>
                  <h3>Email: {{ customer.email }}</h3>
                  <h3>Contact No: {{ customer.contact_no }}</h3>
                  <h3>{% if customer.is_corporate %}<span style="color: #00d95a">Corporate </span><a href="/sadmin/make_customer_corporate/make/{{ customer.id }}/" class="btn btn-success">Make Normal</a>
                      {% else %}<span style="color: #0b96e5">Normal </span><a href="/sadmin/make_customer_corporate/make/{{ customer.id }}/" class="btn btn-success">Make Corporate</a>{% endif %}</h3>
              </div>
              <div class="col-sm-6">
                  <h1>Customer Detail</h1>
                  <p>Location: {{ customer.location }}</p>
                  <p>Verification: {{ customer.verification }}</p>
                  <h2>Latest Order</h2>
                  <h3>Pickup Order</h3>
                  {% if pickup %}
                  <ul>
                      <li>Posted at: <b>{{ pickup.created_at|date:"d M,Y g:i A" }}</b></li>
                      <li>Status: {{ pickup.pickup_status }}</li>
                  </ul>
                  <a href="/sadmin/customer_pickup_orders/{{ customer.id }}">More</a><br/>
                  {% else %}
                  <p>No Pickup Orders</p>
                  {% endif %}

                  <h3>Courier Order</h3>
                  {% if delivery %}
                  <ul>
                      <li>Posted at: <b>{{ delivery.created_at|date:"d M,Y g:i A" }}</b></li>
                      <li>Status: {{ delivery.delevery_status }}</li>
                  </ul>
                  <a href="/sadmin/customer_delivery_orders/{{ customer.id }}">More</a>
                  {% else %}
                  <p>No Courier Orders</p>
                  {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

  <script type="text/javascript">
    </script>
{% endblock %}