{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<!-- Page -->
{% if booking.delevery_status == 'assigned' or booking.delevery_status == 'taken' or booking.delevery_status == 'completed' %}
 <input type="hidden" id="modal-activate">
{% endif %}
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading"><span class="color-primary mon-normal">Delivery # </span><span>{{ booking.id }}</span></h1>
        </div>
      </div>
      <div class="view-bookings">
        <div class="vb-navbar">
            <ul class="nav nav-pills vb-nav" role="tablist">
              <li role="presentation" class="active"><a href="#tab__view__courier" aria-controls="tab__view__courier" role="tab" data-toggle="tab">SUMMARY</a></li>
              <li role="presentation"><a href="#tab__view__pickup" aria-controls="tab__view__pickup" role="tab" data-toggle="tab">your PACKAGE/S</a></li>
            </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab__view__courier">
            <ul class="collect-info-lists like-panel dtable-lists">
                <li>
                  <div class="cl-content">
                    <div class="cl-icon"><img src="{% static 'dashboard/assets/images/icons/sm/1-gray.png' %}" alt="..."></div>
                    <div class="denote">
                      <h5 class="cl-title">PACKAGES</h5>
                      <div class="note">
                      {% for package in packages %}
                        <p> {% if package.size %}{{ package.quantity }}  {{ package.size.name }}{% else %} Custom {% endif %}</p>
                      {% endfor %}
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="cl-content">
                    <div class="cl-icon"><img src="{% static 'dashboard/assets/images/icons/sm/3-gray.png' %}" alt="..."></div>
                    <div class="denote">
                      <h5 class="cl-title">PAYMENT</h5>
                      <div class="note">
                        <p class="mon-normal">${{ booking.total_cost }}</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="cl-content">
                    <div class="cl-icon"><img src="{% static 'dashboard/assets/images/icons/sm/4-gray.png' %}" alt="..."></div>
                    <div class="denote">
                      <h5 class="cl-title">DISTANCE & ESTIMATED DURATION</h5>
                      <div class="note">
                        <ul class="cl-note-list mon-normal">
                          <li>
                            <span>{{ booking.distance }}</span>
                          </li>
                          <li>
                            <span>{{ booking.eta }}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="cl-content">
                    <div class="cl-icon"><img src="{% static 'dashboard/assets/images/icons/sm/4-gray.png' %}" alt="..."></div>
                    <div class="denote">
                      <h5 class="cl-title">DELIVERY STATUS</h5>
                      <div class="note"><span class="state state-{{ booking.delevery_status }} mt-10">{{ booking.delevery_status }}</span></div>
                    </div>
                  </div>
                </li>
            </ul>

            <div class="panel panel-bordered panel-base">
              <div class="panel-body">
                <div class="col-md-6">
                  <h4 class="mt-18 mb-18 uppercase">COLLECTION INFORMATION</h4>
                  <ul class="collect-info-lists">
                    <li data-mh="collection-date">
                      <div class="cl-content">
                        <i class="cl-icon fa fa-calendar"></i>
                        <div class="denote">
                          <h5 class="cl-title">COLLECTION DATE</h5>
                          <div class="note">{{ booking.collection_date }}</div>
                        </div>
                      </div>
                    </li>
                    <li data-mh="collection-date">
                      <div class="cl-content">
                        <i class="cl-icon fa fa-clock-o"></i>
                        <div class="denote">
                          <h5 class="cl-title">COLLECTION TIME</h5>
                          <div class="note">{{ booking.collection_time }}</div>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="cole-info">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="brand-primary mt-0 uppercase fs-15">ADDRESS</h5>
                        <p class="fs-15">{{ booking.collection_address }}</p>
                      </div>
                      <div class="col-md-6">
                        <h5 class="brand-primary mt-0 uppercase fs-15">CONTACT DETAILS</h5>
                        <p class="fs-15"><span class="mon-normal">{{ booking.collection_name }}</span><br>{{ booking.collection_contact_no }}</p>
                      </div>
                      <div class="col-sm-12">
                        <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                        <p class="fs-15">{{ booking.collection_remark }}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <h4 class="mt-18 mb-18 uppercase">DELIVERY INFORMATION</h4>
                  <ul class="collect-info-lists">
                    <li data-mh="delevery-date">
                      <div class="cl-content">
                        <i class="cl-icon fa fa-calendar"></i>
                        <div class="denote">
                          <h5 class="cl-title">DELIVERY DATE</h5>
                          <div class="note">{{ booking.delevery_date }}</div>
                        </div>
                      </div>
                    </li>
                    <li data-mh="delevery-date">
                      <div class="cl-content">
                        <i class="cl-icon fa fa-clock-o"></i>
                        <div class="denote">
                          <h5 class="cl-title">DELIVERY TIME</h5>
                          <div class="note">{{ booking.delevery_time }}</div>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="cole-info">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="brand-primary mt-0 uppercase fs-15">ADDRESS</h5>
                        <p class="fs-15">{{ booking.delivery_address }}</p>
                      </div>
                      <div class="col-md-6">
                        <h5 class="brand-primary mt-0 uppercase fs-15">CONTACT DETAILS</h5>
                        <p class="fs-15"><span class="mon-normal">{{ booking.delivery_name }}</span><br> {{ booking.delivery_contact_no }}</p>
                      </div>
                      <div class="col-sm-12">
                        <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                        <p class="fs-15">{{ booking.delevery_remarks }}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                  <div class="panel panel-bordered panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase clearfix">ACTIVITY LOG</h3>
                    </div>
                    <div class="panel-body">
                      <ul class="ac-log-lists">
                      {% for log in logs %}
                        <li>
                          <div class="ac-log-card">
                            <div class="ac-icon">
                              {% if log.delevery_status == 'assigned' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/1.png' %}" alt="...">
                              {% elif log.delevery_status == 'taken' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/4.png' %}" alt="...">
                              {% elif log.delevery_status == 'pickedup' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/1.png' %}" alt="...">
                              {% elif log.delevery_status == 'completed' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/5.png' %}" alt="...">
                              {% elif log.delevery_status == 'cancelled' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/2.png' %}" alt="...">
                              {% elif log.delevery_status == 'paid' %}
                              <img src="{% static 'dashboard/assets/images/icons/ac/6.png' %}" alt="...">
                              {% endif %}
                            </div>
                            <div class="ac-denote">
                              <p class="note">
                                {{ log.log_message }}
                              </p>
                              {% if log.delevery_status == 'paid' %}
                              <p class="log-by">
                                <span>by: SYSTEM</span>   {{ log.date_time|date:"d/m/Y g:i A" }}
                              </p>
                              {% else %}
                              <p class="log-by">
                                <span>by: {{ log.logger_name }}</span>   {{ log.date_time|date:"d/m/Y g:i A" }}
                              </p>
                              {% endif %}
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                          <div class="panel panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase">your MESSAGES</h3>
                    </div>
                   <div class="panel-body">
                      <ul class="messages-media">
                        {% for message in messages %}
                        <li class="mes-media">
                          <div class="mm-image">
                            <span>{{ message.created_at|date:"g:i A" }}</span>
                            <span>{{ message.created_at|date:"d/m/Y" }}</span>
                          </div>
                          <div class="mm-denote">
                            <h5 class="name">{{ message.message_to_customer.name }}</h5>
                            <p>
                              {{ message.message_body }}
                            </p>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
              </div>
              </div>
              <div class="col-md-6">
                  <div class="panel panel-bordered panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase clearfix">your shipping route</h3>
                    </div>
                    <div class="panel-body">
                      <div id="routeMap">

                      </div>

                      <div class="route-steps">
                        <div class="input-step has-micon">
                          <h4 class="inp-heading">
                            <i class="fa fa-map-marker"></i>
                            COLLECTION  ADDRESS
                          </h4>
                          <div class="hm-body">
                            <p id="pickupFrom">{{ booking.collection_address }}</p>
                          </div>
                        </div>
                        <div class="input-step has-micon">
                          <h4 class="inp-heading">
                            <i class="fa fa-map-marker"></i>
                            DELIVERY  ADDRESS
                          </h4>
                          <div class="hm-body">
                            <p id="deliverTo">{{ booking.delivery_address }}</p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="panel panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase clearfix">DELIVERY CONFIRMATION</h3>
                    </div>
                    <div class="panel-body">
                    {% if booking.signature %}
                      <ul class="delivery-conf-list">
                        <li>
                            <div class="dl-card">
                                <img height="100" width="200" src="{% if booking.signature %}{{ booking.signature.url }}{% else %}{% static 'dashboard/assets/images/sign.png' %}{% endif %}" alt="...">
                            </div>
                          </li>
                          <li>
                            <div class="dl-card">
                                <p class="note">
                                  This delivery has already been confirmed by recipient.
                                  <hr/>
                                  Driver's Note: {{ booking.completion_note }}
                                </p>
                                <p class="log-by">
                                  <span>by: {{ booking.pickedup_by.name }}</span>   {{ booking.job_complete_time|date:"d/m/Y g:i A" }}
                                </p>
                            </div>
                          </li>
                      </ul>
                {% else %}
                  Not Completed
                {% endif %}
                    </div>
                  </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                </div>
              <div class="col-md-6">
                <div class="panel panel-base">
                    <div class="panel-heading">
                      <h3 class="panel-title uppercase">Payment History</h3>
                    </div>
                    <div class="panel-body table-responsive">
                      <table class="table table-hover dataTable table-striped width-full table-payment-histroy th-nowrap">
                        <thead>
                          <tr>
                            <th>TRANSACTION</th>
                            <th>TRANSACTION TIME</th>
                            <th>STATUS</th>
                            <th>AMOUNT</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if payment %}
                            {% for payment in payment %}
                                 <tr>
                              <td>{{ payment.id }}</td>
                              <td><span class="color-primary mon-normal">{{ payment.date_time }}</span></td>
                              <td><span class="mon-normal color-primary fs-14">Paid</span></td>
                              <td><span class="mon-normal color-title">{{ payment.paid_amount }}</span></td>
                                </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab__view__pickup">
            <div class="sorting-hold">
                <div class="row">
                  <div class="col-md-12">
                      <div class="sort-btn-group">
                        <a class="btn btn-gray disabled" href=""><i class="icon wb-download" aria-hidden="true"></i> Download consignment</a>
                        <!--<a class="btn btn-gray" href="/service/way_bill/?bill_id={{ booking.id }}"><i class="icon wb-download" aria-hidden="true"></i> download all waybills</a>-->
                      </div>
                  </div>
                </div>
            </div>
            <div class="panel panel-bordered panel-base panel-bookings">
              <div class="panel-body table-responsive">
                <table id="tablePickup" class="table table-hover dataTable table-striped width-full">
                  <thead>
                    <tr>
                      <th>Order Id # </th>
                      <th>Description</th>
                      <th>Status</th>
                      <th>Waybill</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for package in packages %}
                    <tr>
                      <td><span class="o-date">{{ package.service.order_no }}</span></td>
                      <td>{% if package.size %}{{ package.size.name }}{% endif %}</td>
                      <td>{% if package.confirm_pickup and package.confirm_delevery %}Delivered{% elif package.confirm_pickup and not package.confirm_delevery %}Picked up{% else %}Pending{% endif %}</td>
                      <td><a href="/service/way_bill/?bill_id={{ booking.id }}" class="btn btn-default btn-white uppercase gotham semi">DOWNLOAD</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Modal-->
<div class="modal fade" id="modalDriver" tabindex="-1" role="dialog" aria-labelledby="modalDriverLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close mon-bold" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title uppercase">{{ driver.name }}</h4>
        </div>
      <div class="modal-body">
        <div class="driver-bar">
          <div class="db-image">
            <img class="db-image-avater" src="{% if driver.profile_image %}{{ driver.profile_image.url }}{% else %}{% static 'dashboard/assets/images/user.jpg' %}{% endif %}" alt="...">
          </div>
          <div class="db-content">
            <p>Mobile: {{ driver.mobile_no }}</p>
            <p id="test">Email: <a href="#">{{ driver.email }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&callback=initMap">
</script>

<script type="text/javascript">
    // function initMap() {
    //   var mapDiv = document.getElementById('routeMap');
    //   var map = new google.maps.Map(mapDiv, {
    //       center: {lat: 44.540, lng: -78.546},
    //       zoom: 12
    //   });
    // }
</script>



<script type="text/javascript">
  var map;
  var geocoder;
  function initMap() {
    geocoder = new google.maps.Geocoder();
    var mapOptions = {
      zoom: 8,
    }
    map = new google.maps.Map(document.getElementById('routeMap'), mapOptions);

    var addressFrom = "{{ booking.collection_address }}";
    var addressTo = "{{ booking.delivery_address }}";
    codeAddress(addressFrom);
    codeAddress(addressTo);
    Route(addressFrom, addressTo);
  }

  function Route(addressFrom, addressTo) {
    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var request = {
      origin: addressFrom,
      destination: addressTo,
      travelMode: google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(result, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(result);
        directionsDisplay.setMap(map);
      } else {
        alert("couldn't get directions:" + status);
      }
    });
  }

  function codeAddress(address) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);      // center the map on address
        var marker = new google.maps.Marker({         // place a marker on the map at the address
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $(window).load(function(){
      if (document.getElementById('modal-activate')) {
        $('#modalDriver').modal('show');
      }
    });

  $('#test').on('click', function(e){
    e.preventDefault();
  })
</script>

<script>
  $(function() {
    $('.rated-star').rating({
        displayOnly: true,
        theme: 'krajee-fa',
        filledStar: '<i class="fa fa-star"></i>',
        emptyStar: '<i class="fa fa-star-o"></i>',
        showCaption: true,
    })
  });

  var closeModal = function closeModal(){
    $('#driverModal').modal('hide');
  }
</script>
{% endblock %}

{% block extracss %}

<style>
 #routeMap {
        width: 100%;
        height: 400px;
     }
</style>

{% endblock %}
