{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->

    <div class="panel-body">
        <div class="vb-searchbar">
          <div class="vb-search-row vb-search-hold">
            <div class="cell cell-field">
              <div class="cf-block">
                <div class="input-group">
                  <div class="input-group-addon">SEARCH</div>
                  <input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">
                </div>
              </div>
            </div>
            <div class="cell cell-btn">
              <div class="vb-btn-group">
                <button type="submit" class="btn btn-black medium mon-normal uppercase">Search</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="panel panel-bordered panel-base panel-bookings">
      <div id="tableCourierDiv" class="panel-body table-responsive">
          {% if drivers %}
         <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact No.</th>
                  <th>NRIC photo</th>
                  <th>Driving License photo</th>
                  <th>Company</th>
                  <th>Last Latitude</th>
                  <th>Last Longitude</th>
                  <th>Verification</th>
                  <th>Profile Picture</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in drivers %}
                  <tr>
                    <td>{{ obj.name }}</td>
                    {% if obj.email %}
                        <td>{{ obj.email }}</td>
                    {% else %}
                        <td>{{ obj.user.email }}</td>
                    {% endif %}
                    <td>{{ obj.mobile_no }}</td>
                    {% if obj.nric_photo %}
                        <td><img src="{{ obj.nric_photo.url }}" width="100px" height="50px"/></td>
                    {% else %}
                        <td>No image</td>
                    {% endif %}
                    {% if obj.driving_licence_photo %}
                        <td><img src="{{ obj.driving_licence_photo.url }}" width="100px" height="50px"/></td>
                    {% else %}
                        <td>No image</td>
                    {% endif %}
                    {% if obj.company %}
                        <td>{{ obj.company }}</td>
                    {% else %}
                        <td>No company name</td>
                    {% endif %}
                    {% if obj.last_lat %}
                        <td>{{ obj.last_lat }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if obj.last_lng %}
                        <td>{{ obj.last_lng }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ obj.verification }}</td>
                    {% if obj.profile_image %}
                        <td><img src="{{ obj.profile_image.url }}" width="100px" height="50px"/></td>
                    {% else %}
                        <td>No image</td>
                    {% endif %}
                    {% if obj.user.is_active == False %}
                    <td id="activate">
                      <a href="/sadmin/driver/activate/{{ obj.user.id }}">Activate</a>
                    </td>
                    {% endif %}
                    {% if obj.user.is_active == True %}
                    <td id="Deactivate">
                      <a href="/sadmin/driver/deactivate/{{ obj.user.id }}">Deactivate</a>
                    </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#collapse__filters').on('shown.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });

        $(function(){
          $(".sort-listings a").on("click", function(e) {
            e.preventDefault();
            $(".sort-listings li").removeClass("active");
            $(this).closest("li").addClass("active");
          });
        });

        $(function(){
          var tableCourier = $("#tableCourier").DataTable({
            aoColumnDefs: [
              {
                 bSortable: false,
                 aTargets: [ -1 ]
              }
            ]
          });
          $("#searchCourier").keyup(function(){
                tableCourier.search($(this).val()).draw() ;
          })
        });
      });
    </script>
{% endblock %}