{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}
{% load humanize %}

<div class="page animsition">
  <div class="page-content">
      <div class="panel panel-bordered panel-base panel-bookings">
        <div id="tableCourierDiv" class="panel-body table-responsive">
        <div class="panel">
          <div class="panel-body">
              <div class="col-sm-6">
                  {% if driver.profile_image %}
                  <img src="{{ driver.profile_image.url }}" class="img-circle" width="250" height="250">
                  {% else %}
                  <img src="{% static 'base/images/user.jpg' %}" class="img-circle" width="300" height="300">
                  {% endif %}
                  <h3 style="color: #00a8c6">Rating: {{rate|floatformat:1}}<input value="{{ rate }}" id="input-id"></h3>
                  <h2>{{ driver.name }}</h2>
                  <h3>Contact No: {{ driver.mobile_no }}</h3>
                  <h3>Email: {{ driver.email }}</h3>
                  {% if driver.driver_category %}
                  {% if driver.driver_category == 'NORMAL'%}
                  <h3 style="color:#00a8c6">{{ driver.driver_category }}</h3>
                  {% elif driver.driver_category == 'BRONZE' %}
                  <h3 style="color:#C9AE5D">{{ driver.driver_category }}</h3>
                  {% elif driver.driver_category == 'SILVER' %}
                  <h3 style="color:#A9A9A9">{{ driver.driver_category }}</h3>
                  {% else %}
                  <h3 style="color:#FFD700">{{ driver.driver_category }}</h3>
                  {% endif %}
                  {% else %}
                  <h3>No category yet.</h3>
                  {% endif %}
                  <h3>{% if driver.is_corporate %}<span style="color: #00d95a">Corporate </span>
                      <a href="/sadmin/make_driver_corporate/make/{{ driver.id }}/" class="btn btn-success">Make Normal</a>
                      {% else %}<span style="color: #0b96e5">Normal </span>
                      <a href="/sadmin/make_driver_corporate/make/{{ driver.id }}/" class="btn btn-success">Make Corporate</a>{% endif %}</h3>
              </div>
              <div class="col-sm-6">
                  <h1>Driver Detail</h1>
                  <p>Location: {{ driver.location }}</p>
                  <p>Verification: {{ driver.verification }}</p>
                  <p>Provided Service: {{ driver.driver_service_type }}</p>
                  <h2>Latest Order</h2>
                  <h3>Pickup Job</h3>

                  <p>Acceptance Rate: {{ acceptance_rate }} %</p>
                  <p>Cancellation Rate: {{ cancellation_rate }} %</p>
                  {% if pickup %}
                  <ul>
                      <li>Posted at: <b>{{ pickup.created_at|date:"d M,Y g:i A" }}</b></li>
                      <li>Status: {{ pickup.pickup_status }}</li>
                  </ul>
                  <a href="/sadmin/driver_pickup_orders/{{ driver.id }}">More</a><br/>
                  {% else %}
                  <p>No Pickup Jobs</p>
                  {% endif %}

                  <h3>Courier Job</h3>
                  {% if delivery %}
                  <ul>
                      <li>Posted at: <b>{{ delivery.created_at|date:"d M,Y g:i A" }}</b></li>
                      <li>Status: {{ delivery.delevery_status }}</li>
                  </ul>
                  <a href="/sadmin/driver_delivery_orders/{{ driver.id }}">More</a>
                  {% else %}
                  <p>No Courier Jobs</p>
                  {% endif %}
                  <br/>
                  <button type="button" class="btn btn-gray"  data-target="#editModal" data-toggle="modal">Edit Profile</button>
              </div>
          </div>
           <hr/>
          <div class="panel-body">
              <h1>Driver Earnings</h1>
               <button type="button" class="btn btn-gray" id="all">All</button>
                <button type="button" class="btn btn-gray" id="last_week">Last Week</button>
                <button type="button" class="btn btn-gray" id="last_month">Last Month</button>
                <button type="button" class="btn btn-gray" id="last_year">Last Year</button>
                <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Total Cost</th>
                    <th>Paid Amount</th>
                    <th>Admin Fee</th>
                    <th>Car Fee</th>
                    <th>Toll Fee</th>
                    <th>Online Fee</th>
                    <th>Payment Status</th>
                  </tr>
                </thead>
                <tbody id="remove">
                    {% if earnings %}
                    {% for obj in earnings %}
                    <tr>
                      {% if obj.payment %}
                        {% if obj.payment.payment_status == 'UNPAID' %}
                        <td><input type="checkbox" id="check_{{ obj.payment.id }}" value="{{ obj.payment.id }}">{{ obj.type }}#{{ obj.id }}</td>
                        {% else %}
                        <td><input type="checkbox" disabled>{{ obj.type }}#{{ obj.id }}</td>
                        {% endif %}
                      {% else %}
                        <td><input type="checkbox" disabled>{{ obj.type }}#{{ obj.id }}</td>
                      {% endif %}

                      <td>{{ obj.payment.total_cost }}</td>
                      <td>{{ obj.payment.paid_amount }}</td>
                      <td>{{ obj.payment.admin_fee }}</td>
                      <td>{{ obj.payment.car_fee }}</td>
                      <td>{{ obj.payment.toll_fee }}</td>
                      <td>{{ obj.payment.online_fee }}</td>
                      <td>{{ obj.payment.payment_status }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <button type="button" class="btn btn-success" id="pay">PAY THE BILLS</button>
          </div>
          <div class="panel-body">
            <h1>Reviews From Customers</h1>
            <hr/>
            {% if ratings.0 %}
            <div class="container">
            <div class="col-sm-2">
                <br/>
                {% if ratings.0.rated_by.picture %}
                <img src="{{ ratings.0.rated_by.picture.url }}" class="img-circle" width="100" height="100">
                {% else %}
                <img src="{% static 'base/images/user.jpg' %}" class="img-circle" width="100" height="100">
                {% endif %}
                <h3 style="color: #00a8c6"><a href="/sadmin/customer_profile_detail/{{ ratings.0.rated_by.id }}/">{{ ratings.0.rated_by.name }}</a></h3>
            </div>
            <div class="col-sm-10">
                <h3 style="color: #00a8c6">Review</h3>
                <hr />
                <h3 style="color: #00a8c6">Rated: {{ratings.0.rating|floatformat:1}}<input value="{{ ratings.0.rating }}" class="stars"></h3>
                <p style="color: #00a8c6">{{ ratings.0.comment }}</p>
            </div>
            </div>
            <hr/>
            {% else %}
            <div class="container">
                <div class="col-sm-12">
                    <h3>No Reviews Yet.</h3>
                </div>
            </div>
            {% endif %}

            {% if ratings.1 %}
            <div class="container">
            <div class="col-sm-2">
                <br/>
                {% if ratings.1.rated_by.picture %}
                <img src="{{ ratings.1.rated_by.picture.url }}" class="img-circle" width="100" height="100">
                {% else %}
                <img src="{% static 'base/images/user.jpg' %}" class="img-circle" width="100" height="100">
                {% endif %}
                <h3 style="color: #00a8c6"><a href="/sadmin/customer_profile_detail/{{ ratings.1.rated_by.id }}/">{{ ratings.1.rated_by.name }}</a></h3>
            </div>
            <div class="col-sm-10">
                <h3 style="color: #00a8c6">Review</h3>
                <hr />
                <h3 style="color: #00a8c6">Rated: {{ratings.1.rating|floatformat:1}}<input value="{{ ratings.1.rating }}" class="stars"></h3>
                <p style="color: #00a8c6">{{ ratings.1.comment }}</p>
            </div>
            </div>
            <hr/>
            {% endif %}
            {% if ratings.2 %}
            <div class="container">
            <div class="col-sm-2">
                <br/>
                {% if ratings.2.rated_by.picture %}
                <img src="{{ ratings.2.rated_by.picture.url }}" class="img-circle" width="100" height="100">
                {% else %}
                <img src="{% static 'base/images/user.jpg' %}" class="img-circle" width="100" height="100">
                {% endif %}
                <h3 style="color: #00a8c6"><a href="/sadmin/customer_profile_detail/{{ ratings.2.rated_by.id }}/">{{ ratings.2.rated_by.name }}</a></h3>
            </div>
            <div class="col-sm-10">
                <h3 style="color: #00a8c6">Review</h3>
                <hr />
                <h3 style="color: #00a8c6">Rated: {{ratings.2.rating|floatformat:1}}<input value="{{ ratings.2.rating }}" class="stars"></h3>
                <p style="color: #00a8c6">{{ ratings.2.comment }}</p>
            </div>
            </div>
            <hr/>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-cab-details" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="modal-header text-center">
            <h3 class="title fs-24 uppercase color-primary">Edit Driver's Information</h3>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero.</p>
          </div>
          <div class="modal-body">
            <h4 class="uppercase fs-15 mon-normal text-center mb-0 mt-0 ">Edit {{ driver.name }}'s information</h4>
            <input type="hidden" value="{{ driver.id }}" id="driver_id">
            <br/>
            <div class="text-center mb-20">
                <p>Driver Category</p>
                <select name="category" class="form-control huge" id="category">
                    {% if driver.driver_category %}
                    <option value="{{ driver.driver_category }}" selected>{{ driver.driver_category }} (OLD)</option>
                    {% endif %}
                    <option value="NORMAL">NORMAL</option>
                    <option value="BRONZE">BRONZE</option>
                    <option value="SILVER">SILVER</option>
                    <option value="GOLD">GOLD</option>
                </select>
                <p>Name</p>
                <input type="text" value="{{ driver.name }}" class="form-control huge" id="name">
            </div>
          </div>
          <div class="modal-footer text-right">
            <button type="submit" class="btn btn-secondary gotham normal uppercase fs-15 btn-afix" onclick="edit()">SUBMIT</button>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block extrajs %}
  <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">
  <script src="{% static 'dashboard/plugins/star-rating/js/star-rating.min.js' %}"></script>
  <script src="{% static 'dashboard/plugins/star-rating/themes/krajee-fa/theme.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">

  <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script>
    $(function() {
        $('#input-id').rating({
            displayOnly: true,
            theme: 'krajee-fa',
            filledStar: '<i class="fa fa-star"></i>',
            emptyStar: '<i class="fa fa-star-o"></i>',
        })
      });

     $(function() {
        $('.stars').rating({
            displayOnly: true,
            theme: 'krajee-fa',
            filledStar: '<i class="fa fa-star"></i>',
            emptyStar: '<i class="fa fa-star-o"></i>',
        })
      });
    </script>

    <script>
    $(function () {
      var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
              {
                  bSortable: false,
                  aTargets: [-1],
              }
          ]
      });
    });
</script>

  <script type="text/javascript">
        var edit = function edit(){
            var id = $('#driver_id').val();
            var category = $('#category').val();
            var name = $('#name').val();
            $.ajax({
              url:'/sadmin/driver_profile_edit/',
              type:'POST',
              data: {id:id, category:category, name:name},
              dataType:'json',
              success:function(data){
                  console.log(data);
                  $('#editModal').modal('hide');
                   window.location = '/sadmin/driver_profile_detail/'+id+'/';
              },
              error:function(){
                  console.log('Error in submission.');
              }
            });
//            console.log(id);
//            console.log(category);
//            console.log(name);
//            $('#editModal').modal('hide');
        }


    </script>
<script type="text/javascript">
    $('#all').on('click', function(){
        console.log('success');
        location.reload(true);
    });
    $('#last_week').on('click', function(){
        $.ajax({
            url: '/sadmin/driver_earnings/last_week/{{ driver.id }}/',
            type: 'get',
//              data: {from_date:from, to_date:to},
            dataType: 'html',
            success: function (data) {
//                console.log(data);
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_month').on('click', function(){
        $.ajax({
            url: '/sadmin/driver_earnings/last_month/{{ driver.id }}/',
            type: 'get',
//              data: {from_date:from, to_date:to},
            dataType: 'html',
            success: function (data) {
//                console.log(data);
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_year').on('click', function(){
        $.ajax({
            url: '/sadmin/driver_earnings/last_year/{{ driver.id }}/',
            type: 'get',
//              data: {from_date:from, to_date:to},
            dataType: 'html',
            success: function (data) {
//                console.log(data);
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });

    $("#pay").click(function(e) {
        var myArray = [];
        $(":checkbox:checked").each(function() {
            myArray.push(this.value);
        });

        $.ajax({
            url: '/sadmin/pay_driver/',
            type: 'post',
            data: {pay_id:myArray},
            dataType: 'html',
            success: function (data) {
                console.log('success');
                location.reload(true);
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
</script>

{% endblock %}