{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->

        <h1 class="pages-heading">Express Window Timing Edit</h1>
      <div class="panel">
        <div class="panel-body">
        {% if express %}
            <div class="table-responsive">
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Window Name</th>
                <th>Price</th>
                <th>Corporate Price</th>
                <th>Multiple</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in express %}
                <tr>
                  <td>{{ obj.window_name }}</td>
                  <td>{{ obj.price }}</td>
                    <td>{{ obj.corp_price }}</td>
                  <td>{{ obj.multiple }}</td>
                  <td>
                  <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/express_pricing/update/{{ obj.id }}/" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/express_pricing/delete/{{ obj.id }}/" class="btn btn-sm btn-warning unstroke">Delete</a>
                  </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}
            Window Name
            <bd>
            {{ form.window_name }}
            <br/>
            Additional Charges (default 0)
            <bd>
            {{ form.price }}
            <br/>
            Additional Corporate Charges (default 0)
            <bd>
            {{ form.corp_price }}
            <br/>
            Will additional charge multiple with main charge ?
            <br>
            {{ form.multiple }}
            <br>
            <br>
            <label>Max Number of Open Jobs</label>
            {{ form.max_number_of_active_job }}
            <br>

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
<script src="{% static 'dashboard/plugins/bs-dateTime/moment.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
$( function() {
  $('.time-pick').datetimepicker({ 'format': 'h:m a' });
});
</script>
{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'dashboard/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}