{% extends "dashboard/super_layout.html" %}
{% load humanize %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

{% endblock %}
  {% block content %}
  <div class="page animsition">
    <div class="page-content">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Welcome to your Dashboard!</h1>
        </div>
      </div>


      <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-12">
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4>Lifetime Sales</h4>
          <div class="table-responsive">
          <table class="table table-hover dataTable table-striped width-full">
            <thead>
            </thead>
            {% if sum.paid_amount__sum %}
            <tbody>
              <tr>
              <td>${{ sum.paid_amount__sum }}</td>
              </tr>

            </tbody>
            {% endif %}
           </table>
          </div>
          <h4>Average Sales</h4>
          <div class="table-responsive">
          <table class="table table-hover dataTable table-striped width-full">
            <thead>
            </thead>
            {% if avg %}
            <tbody>
              <tr>
                <td>${{ avg|floatformat:2 }}</td>
              </tr>
            </tbody>
            {% endif %}
           </table>
          </div>
          <h4>Last Five Deliveries</h4>
          <div class="table-responsive">
          <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
            <thead>
            <tr>
<!--             <th>ID</th> -->
            <th>Order ID</th>
            <th>Status</th>
            </tr>
            </thead>
            {% if delivery %}
            <tbody>
            {% for obj in delivery %}
            <tr>
<!--             <td>{{ obj.id }}</td> -->
            <td>{{ obj.order_no }}</td>
            <td><span class="text-warning">{{ obj.delevery_status }}</span></td>
            </tr>
            {% endfor %}
            </tbody>
            {% endif %}

           </table>
            </div>
                </div>
               <div class="panel-body">
                <div class="col-sm-7">
                  <canvas id="jobRatioChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-6">
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h4 class="panel-title">Pickup Activites</h4>
            </div>
            <div class="panel-body">
              <div class="chart-canvas-wrap">
                <canvas id="pickupChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h4 class="panel-title">Delivery Activites</h4>
            </div>
            <div class="panel-body">
              <div class="chart-canvas-wrap">
                <canvas id="deliveryChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Panel -->
      <div ng-app='myApp' class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-12">
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h4 class="panel-title">Active Drivers</h4>
            </div>
            <div ng-controller='myCtrl' class="panel-body">
              <div class="chart-canvas-wrap">
                <div id="map-canvas" style="height: 800px; width: 100%"></div>
                <hr/>
                <div class="text-center">
                  <ul class="list-inline">
                    <li><img src="{% static 'dashboard/assets/images/blue_car.png' %}"> - Courier Driver</li>
                    <li><img src="{% static 'dashboard/assets/images/red_car.png' %}"> - Passenger Driver</li>
                    <li><img src="{% static 'dashboard/assets/images/green_car.png' %}"> - Both Service Driver</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Map -->

  	</div>
  </div>
 </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
<script>
  $(function(){
      var ctx = document.getElementById("jobRatioChart");
      var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: ["Delivery Orders", "Pickup Orders"],
              datasets: [{
                  data: [{{ per_del }}, {{ per_pick }}],
                  backgroundColor: [
                      '#ffa500',
                      '#0000ff'
                  ]
              }]
          }
      });
    });

  $(function(){
      var ctx = document.getElementById("pickupChart");
      var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: ["Pending", "Assigned", "Taken", "Completed", "Cancelled"],
              datasets: [{
                  data: [{{ percent_pending_pick }}, {{ percent_assigned_pick }},{{ percent_taken_pick }},
                        {{ percent_completed_pick }}, {{ percent_cancelled_pick }}],
                  backgroundColor: [
                      '#ffa500',
                      '#2EBAB3',
                      '#00cc00',
                      '#c01b28',
                      '#000000',
                  ]
              }]
          }
      });
    });

    $(function(){
      var ctx = document.getElementById("deliveryChart");
      var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: ["Pending", "Assigned", "Taken", "Completed", "Cancelled"],
              datasets: [{
                  data: [{{ percent_pending_del }}, {{ percent_assigned_del }},{{ percent_taken_del }},
                        {{ percent_completed_del }}, {{ percent_cancelled_del }}],
                  backgroundColor: [
                      '#ffa500',
                      '#0000ff',
                      '#2EBAB3',
                      '#00cc00',
                      '#c01b28',
                      '#000000'
                  ]
              }]
          }
      });
    });
</script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places"></script>

<script type="text/javascript" src="{% static 'dashboard/assets/js/ngAutocomplete.js' %}"></script>
  <script type="text/javascript">
  var app = angular.module('myApp', ['ngAutocomplete']);
  app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
  })
.controller('myCtrl', function($scope,  $http, $timeout) {
  angular.element(document).ready(function () {

    //settings for auto complete

  
      // Inicializing google map
      var map;
      var markers = [];
      function initialize() {        
      var mapOptions = {
          zoom: 13,
          center: new google.maps.LatLng(1.3772034, 103.8419299)
//          center: new google.maps.LatLng(23.7938808, 90.4016019)
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        
      }initialize();
      
      //clear marker
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      // Set markers
      $scope.makeMarkers =function makeMarkers(data){
        console.log("marcer function called");
        setMapOnAll(null);
        for(var i in data){
          console.log("marcer function has data");
          if(data[i].is_active){
            var marker_icon = "{% static 'dashboard/assets/images/blue_car.png' %}";
            if(data[i].driver_type == 'courier'){
              var marker_icon = "{% static 'dashboard/assets/images/blue_car.png' %}";
            } else if(data[i].driver_type == 'pickup'){
              var marker_icon = "{% static 'dashboard/assets/images/red_car.png' %}";
            } else if (data[i].driver_type == 'both'){
              var marker_icon = "{% static 'dashboard/assets/images/green_car.png' %}";
            }
            var marker = new google.maps.Marker({
                map:map,
                position: new google.maps.LatLng(data[i].lat, data[i].lng),
                icon : marker_icon
              });
             markers.push(marker);
          }
        }
      }

      // get drivers lication form server
      // Function to get the data
      $scope.getData = function(){
        $http.get('/apis/get_driver_location/')
          .success(function(data, status, headers, config) {

          // Your code here
          $scope.makeMarkers(data);
        });
      }
    // Function to replicate setInterval using $timeout service.
    $scope.intervalFunction = function(){
      $timeout(function() {
        $scope.getData();
        $scope.intervalFunction();
        console.log("test");
    }, 10000)
    };

    // Initial call for the driver location
    $scope.getData();
    // Kick off the interval
    $scope.intervalFunction();
    
  //get pricing details for the car

});
});

  </script>
{% endblock %}
