{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}


<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <h1 class="pages-heading">Passenger Pickup Sales Report</h1>
      <div class="panel">
        <div class="panel-body">
            <td class="row">
                <div class="col-sm-12 mb-20">
                <button type="button" class="btn btn-gray mb-10" id="all">All</button>
                <button type="button" class="btn btn-gray mb-10" id="last_week">Last Week</button>
                <button type="button" class="btn btn-gray mb-10" id="last_month">Last Month</button>
                <button type="button" class="btn btn-gray mb-10" id="last_year">Last Year</button>
                </div>
                <div class="col-sm-12">

                    <div class="row">
                        <div class="col-sm-6">
                             <h5 class="fs-15 brand-primary uppercase">FROM</h5>
                              <div class="field-has-icon">
                                <input id="from" required="true" name='from' type="text" class="form-control" data-plugin="bs-date">
                                <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                              </div>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="fs-15 brand-primary uppercase">TO</h5>
                              <div class="field-has-icon">
                                <input id="to" required="true" name='to' type="text" class="form-control" data-plugin="bs-date">
                                <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                              </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="button" onclick="find_from_date()"
                            class="btn btn-black medium mon-normal uppercase mt-15">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                    <div class="table-responsive mb-20">
                        <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap table-arrow-align">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Total Cost</th>
                            <th>Driver ID</th>
                            <th>Posting Time</th>
                            <th>Paid Amount</th>
                            <th>Admin Fee</th>
                            <th>Car Fee</th>
                            <th>Toll Fee</th>
                            <th>Online Fee</th>
                            <th>Order Status</th>
                            <th>Job Complete Time</th>
                            <th>Transaction ID</th>
                            <th>Payment Status</th>
            <!--                 <th>Action</th> -->
                          </tr>
                        </thead>
                        <tbody id="remove">
                            {% if earnings %}
                    {% for obj in earnings %}
                    <tr>
                      {% if obj.pickup_service %}
                        {% if obj.payment_status == 'UNPAID' %}
                        <td>
                            <div class="nowrap checkbox-vmiddle">
                                <div class="checkbox-custom inline">
                                  <input type="checkbox" id="check_{{ obj.id }}" value="{{ obj.id }}">
                                  <label><a href="/sadmin/pickup_summary/{{ obj.pickup_service.id }}/">PICKUP#{{ obj.pickup_service.id }}</a></label>
                                </div>


                            </div>
                        </td>
                        {% else %}
                        <td>
                            <div class="nowrap checkbox-vmiddle">
                                <div class="checkbox-custom inline">
                                  <input type="checkbox" disabled>
                                  <label><a href="/sadmin/pickup_summary/{{ obj.pickup_service.id }}/">PICKUP#{{ obj.pickup_service.id }}</a></label>
                                </div>

                            </div>
                        </td>

                        {% endif %}
                      {% else %}
                        <td>
                            <div class="nowrap checkbox-vmiddle">
                                <div class="checkbox-custom inline">
                                  <input type="checkbox" disabled>
                                  <label>Order may be removed</label>
                                </div>
                            </div>
                        </td>
                      {% endif %}

                      <td>{{ obj.total_cost }}</td>
                      {% if obj.pickup_service.pickedup_by %}
                      <td>Driver# {{ obj.pickup_service.pickedup_by.id }}</td>
                      {% else %}
                      <td>Job not taken yet.</td>
                      {% endif %}
                      <td>{{ obj.pickup_service.created_at }}</td>
                      <td>{{ obj.paid_amount }}</td>
                      <td>{{ obj.admin_fee }}</td>
                      <td>{{ obj.car_fee }}</td>
                      <td>{{ obj.toll_fee }}</td>
                      <td>{{ obj.online_fee }}</td>
                      <td>{{ obj.pickup_service.pickup_status }}</td>
                      <td>{{ obj.pickup_service.job_complete_time }}</td>
                      <td>Transaction# {{ obj.id }}</td>
                      <td>{{ obj.payment_status }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                        </tbody>
                    </table>
                    </div>
                    <button type="button" class="btn btn-success unstroke mb-10" id="pay">PAY THE BILLS</button>
                    <a href="/sadmin/download_courier_report_csv/" class="btn btn-success unstroke mb-10">Download in CSV</a>
                      <a href="/sadmin/courier_report_pdf/" class="btn btn-success unstroke mb-10">Download in PDF</a>
                </div>
            </div>
  	 </div>
    </div>
  </div>
</div>


{% endblock %}
{% block extrajs %}
<script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
    <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">

  <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
<script>
    $(document).ready(function() {
        $('[data-plugin="bs-date"]').datetimepicker({
            format: 'DD MMM YYYY',
        });
    });

    $(function () {
      var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
              {
                  bSortable: false,
                  aTargets: [-1],
              }
          ]
      });
    });
</script>
<script type="text/javascript">
    $('#all').on('click', function(){
        console.log('success');
        location.reload(true);
    });
    $('#last_week').on('click', function(){
        $.ajax({
            url: '/sadmin/earnings/pickup_last_week/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_month').on('click', function(){
        $.ajax({
            url: '/sadmin/earnings/pickup_last_month/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_year').on('click', function(){
        $.ajax({
            url: '/sadmin/earnings/pickup_last_year/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });

    $("#pay").click(function(e) {
        var myArray = [];
        $(":checkbox:checked").each(function() {
            myArray.push(this.value);
        });

        $.ajax({
            url: '/sadmin/pay_driver/',
            type: 'post',
            data: {pay_id:myArray},
            dataType: 'html',
            success: function (data) {
                console.log('success');
                location.reload(true);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>
<script>
var find_from_date = function find_from_date(){
        from = $('#from').val();
        to = $('#to').val();
        $.ajax({
              url:'/sadmin/earnings/pickup_from_date/',
              type:'post',
              data: {from_date:from, to_date:to},
              dataType: 'html',
              success: function (data) {
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err);
            }
        });
      }
    </script>


{% endblock %}
