{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Pickup Time Charge</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

        <div class="table-responsive">
        {% if timecharge %}
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full">
            <thead>
              <tr>
                <th>Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in timecharge %}
                <tr>
                  <td>{{ obj.postal_code }}</td>
                  <td>{{ obj.start_time }}</td>
                  <td>{{ obj.end_time }}</td>
                  <td>{{ obj.price }}</td>
                  <td>
                    <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/pickup_time_charge/update/{{ obj.id }}/" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/pickup_time_charge/delete/{{ obj.id }}/" class="btn btn-sm btn-warning unstroke">Delete</a>
                    </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </div>
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}
            Postal Code
            <bd>
            {{ form.postal_code }}
            <br/>
            Start Time
            <bd>
            {{ form.start_time }}
            <br/>
            End Time
            <bd>
            {{ form.end_time }}
            <br/>
            Additional Charges (default 0)
            <bd>
            {{ form.price }}
            <br/>

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
<script src="{% static 'dashboard/plugins/bs-dateTime/moment.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
$( function() {
  $('.time-pick').datetimepicker({ 'format': 'h:m a' });
});
</script>
{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'dashboard/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}