{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <h1 class="pages-heading">Pickup GST</h1>
      <div class="panel">
        <div class="panel-body">
        <div class="table-responsive">
        {% if timecharge %}
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Window Name</th>
                <th>Percentage</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in timecharge %}
                <tr>
                  <td>{{ obj.name }}</td>
                  <td>{{ obj.percentage}}</td>
                  <td>{{ obj.price }}</td>
                  <td>
                    <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/pickup_gst/update/{{ obj.id }}/" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/pickup_gst/delete/{{ obj.id }}/" class="btn btn-sm btn-warning unstroke">Delete</a>
                    </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </div>
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}
            Name
            <bd>
            {{ form.name }}
            <br/>
            Percentage
            <br>
            {{ form.percentage }}
            <br>
            Price
            <br>
            {{ form.price}}
            <br>
  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
<script src="{% static 'dashboard/plugins/bs-dateTime/moment.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
$( function() {
  $('.time-pick').datetimepicker({ 'format': 'h:m a' });
});
</script>
{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'dashboard/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}