{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Courier Pricing Edit</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

        {% if instance %}
        <div class="table-responsive">
          <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
              <thead>
                <tr>
                  <th class="col_search">Package Size</th>
                  <th>Schedule Type</th>
                  <th>Quantity Range</th>
                  <th class="col_search">Standard Rate</th>
                  <th class="col_search">Corporate Rate</th>
                  <th>Modify</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in instance %}
                  <tr>
                    <td>{{ obj.package_size.name }}</td>
                    <td>{{ obj.schedule_type }}</td>
                    <td>{{ obj.start_qty }} to {{obj.end_qty}}</td>
                    <td>{{ obj.range_rate }}</td>
                    <td>{{ obj.corp_range_rate }}</td>
                    <td>
                      <div class="actions-orders btn-color-white nowrap">
                      <a href="/sadmin/pricing_form/update/{{ obj.id }}" class="btn btn-sm btn-primary unstroke">Update</a>
                      <a href="/sadmin/pricing_form/delete/{{ obj.id }}" class="btn btn-sm btn-warning unstroke">Delete</a>
                      </div>
                    </td>
                  </tr>
               {% endfor %}
              </tbody>
          </table>
        </div>
          {% endif %}
  	    <form method='POST' action='' enctype='multipart/form-data' class="form-group">
  	      {% csrf_token %}
  	      {{ form.as_p }}
  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>      	
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script>
    $(function () {
      $('.col_search').each(function () {
          var title = $(this).text();
          $(this).html('<input type="text" style="width: 120px" placeholder="' + title + '" />');
      });
      var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
              {
                  bSortable: false,
                  aTargets: [-1],
              }
          ]
      });
      tableCourier.columns().every(function () {
          var that = this;

          $('input', this.header()).on('keyup change', function () {
              if (that.search() !== this.value) {
                  that
                          .search(this.value)
                          .draw();
              }
          });
      });
    });
    </script>
{% endblock %}