{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Rotating Banner Edit</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

        <div class="table-responsive">
        {% if rotating %}
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in rotating %}
                <tr>
                  <td><img src="{% if obj.image %}{{ obj.image.url }}{% endif %}" width="100px" height="100px"/></td>
                    <!--<td>{{ obj.image.url }}</td>-->
                  <td>{{ obj.title }}</td>
                  <td>
                    <div class="actions-orders nowrap btn-color-white">
                    <a href="/sadmin/rotating_banner/update/{{ obj.id }}/" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/rotating_banner/delete/{{ obj.id }}/" class="btn btn-sm btn-warning unstroke">Delete</a>
                    </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </div>
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      {{ form.as_p }}

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}