{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Collection Time Edit</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

            <div class="table-responsive">
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Window Name</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>
            {% if del_time %}
            <tbody>
                <tr>
                  <td>{{ del_time.window_name }}</td>
                  <td>{{ del_time.start_time|time:"g:i A" }}</td>
                  <td>{{ del_time.end_time|time:"g:i A" }}</td>
                </tr>
            </tbody>
            {% endif %}
        </table>
        </div>

  	    <form method='POST' class="form-group" action='' enctype='multipart/form-data'>
  	      {% csrf_token %}
            <label>Delivery Window</label>
            <input type="text" placeholder="Delivery Window" value="{{ del_time.window_name }}" required name="delivery_window" class="form-control huge mb-10">
            <label>Start Time</label>
            <select name="start" class="form-control huge mb-10" required>
                <option selected value="{{ del_time.start_time|time:'g' }}">{{ del_time.start_time|time:"g" }} (Old)</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="1">1</option>
                <!--<option value="1">1</option>-->
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <select name="start-ap" class="form-control huge mb-10" required>
                <option selected value="{{ del_time.start_time|time:'A' }}">{{ del_time.end_time|time:"A" }}</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
            <br/>
            <label>End Time</label>
            <select name="end" class="form-control huge mb-10" required>
                <option selected value="{{ del_time.end_time|time:'g' }}">{{ del_time.end_time|time:"g" }} (Old)</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="1">1</option>
                <!--<option value="1">1</option>-->
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <select name="end-ap" class="form-control huge mb-10" required>
                <option selected value="{{ del_time.end_time|time:'A' }}">{{ del_time.end_time|time:"A" }}</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
            <br>
            <label>Max Number of Open Jobs</label>
             <input type="number" class="form-control huge" name="max_number_of_active_job" value="{{ del_time.max_number_of_active_job }}" min="1">
             <br>
  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
{% endblock %}