{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Vehicle Edit</h1>
      <!-- Panel -->
      <div class="panel">
      <div class="panel-body">

          <div class="table-responsive">
              <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Image</th>
                          <th>image Active</th>
                        </tr>
        </thead>
        <tbody>
            {% for obj in instance %}
                    <div>
                      <td>{{ obj.caption }}</td>
                      <td>{{ obj.description }}</td>
                      <td><img src="{% if obj.pic %}{{ obj.pic.url }}{% endif %}" width="70px"/></td>
                      <td><img src="{% if obj.pic_active %}{{ obj.pic_active.url }}{% endif %}" width="70px"/></td>
                      <td>
                          <div class="actions-orders btn-color-white nowrap">
                              <a href="/sadmin/vehicle_edit/update/{{ obj.id }}" class="btn btn-primary btn-sm unstroke">Update</a>
                              <a href="/sadmin/vehicle_edit/delete/{{ obj.id }}" class="btn btn-warning btn-sm unstroke">Delete</a>
                          </div>
                      </td>

                    </tr>
           {% endfor %}
        </tbody>
        </table>
          </div>
	    <form method='POST' action='' enctype='multipart/form-data'>
	      {% csrf_token %}

	      {{ form.as_p }}

	      <input type="submit" class="btn btn-primary unstroke mt-20" value="Update"/>
	    </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}