{% load staticfiles %}
<footer class="footer">
        <div class="container">
            <div class="footer-topbar">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="foo-col">
                            <h4 class="foo-title">
                        {% if home.footer1_text %}
                            {{ home.footer1_text }}
                        {% else %}
                            About uncle Frank
                        {% endif %}
                            </h4>
                        {% if home.footer1_desc %}
                            {{ home.footer1_desc|safe }}
                        {% else %}
                         <p>
                            Uncle Frank is a platform to coordinate all of your deliveries - a single touch point for getting your new sofa, receiving a parcel or connecting your utilities. Used to seeing your cab en-route? Or your pizza being made and delivered? Get the same level of visibility for your major purchases. Now that you can see where your delivery is, Uncle Frank lets you use that information to free up your life. Set an alarm to let you know when you should leave to make it home in time.
                            </p>
                        {% endif %}
                           
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="foo-col">
                            <h4 class="foo-title">Find us online</h4>
                            <div class="foo-socials">
                                <a href="https://facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://instagram.com" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://youtube.com" class="youtube"><i class="fa fa-youtube-play"></i></a>
                                <a href="https://plus.google.com" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="foo-col">
                            <h4 class="foo-title">Navigate</h4>
                            <ul class="list-unstyled foo-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/page/about">About Uncle Frank</a></li>
                                <li><a href="/page/service">Services</a></li>
                                <li><a href="/page/join_us">Join Us</a></li>
                                <li><a href="/page/contact_us">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-foobar">
                <div class="row">
                    <div class="col-sm-7">
                        <ul class="list-inline nav-meta-foo">
                            <li><a href="/page/tnc">Terms and Conditions</a></li>
                            <li><a href="/page/faq">FAQ</a></li>
                            <li><a href="/page/privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-5 text-right-sml">
                        <span class="copy-info">
                    {% if home.footer4 %}
                        {{ home.footer4 }}
                    {% else %}
                        &copy; 2016 Uncle Frank. All Rights Reserved.
                    {% endif %}


                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>