<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Uncle Frank</title>
    <!-- for feve icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'base/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'base/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'base/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'base/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'base/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'base/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'base/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'base/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'base/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'base/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'base/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'base/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- end of fev icon -->
    <link href="{% static 'base/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
     <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-86820633-1', 'auto');  ga('send', 'pageview');
      </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>                                    
    {% block nav_top %}                                    
        {% include "base/nave_top.html" %}
    {% endblock %}


    <section class="brick brick-teaser-hero" style="background-image: url('{% if home.banner %}{{ home.banner.url }}{% else %}{% static 'base/images/banner/1.jpg' %}{% endif %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="teaser-content">
                        <h2 class="teaser-title uppercase">
                    {% if home.banner_text %}
                        {{ home.banner_text }}
                    {% else %}
                        Delivery just got simpler
                    {% endif %}

                        </h2>
                        <p>
                    {% if home.banner_desc %}
                        {{ home.banner_desc }}
                    {% else %}
                        On demand, door to door delivery and transportation services.
                    {% endif %}
                    </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="teaser-form-holder">
                        <ul class="nav nav-teaser-form nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#courier" aria-controls="courier" role="tab" data-toggle="tab">
                                    <img src="{% static 'base/images/courier-sm.png' %}" data-active-img="{% static 'base/images/courier-sm-wh.png' %}" data-inactive-img="{% static 'base/images/courier-sm.png' %}" alt="courier"> Courier
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#pickup" aria-controls="pickup" role="tab" data-toggle="tab">
                                    <img src="{% static 'base/images/pickup-sm.png' %}" data-active-img="{% static 'base/images/pickup-sm-wh.png' %}" data-inactive-img="{% static 'base/images/pickup-sm.png' %}" alt="pickup"> Pickup
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="courier">
                                <form id="courier-form" onsubmit="return false" method="POST" action="" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="">From</label>
                                            <div class="inicon">
                                                <input name="currier_form" id="currier-form" type="text" class="form-control">
                                                <img src="{% static 'base/images/map-marker.png' %}" alt="Form">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="">To</label>
                                            <div class="inicon">
                                                <input name="currier_to" name="" id="currier-to" type="text" class="form-control">
                                                <img src="{% static 'base/images/map-marker.png' %}" alt="Form">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="">Parcel Type</label>
                                            <select name="package" id="package" class="form-control select-styled">
                                                {% for obj in package %}
                                                <option value="{{ obj.id }}">{{ obj.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="">Quantity</label>
                                            <input name="quantity" name="quantity" id="quantity" type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 mt-30">
                                        <div class="col-sm-12"><button id='btn-courier' class="btn btn-secondary fs-13 gotham bold large uppercase unstroke btn-block">request for A QUOTE</button></div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="pickup">
                                <form id='pickup-form' action="" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="">From</label>
                                            <div class="inicon">
                                                <input name="pickup_form" id="pickup-from" type="text" class="form-control" placeholder="Enter a location">
                                                <img src="{% static 'base/images/map-marker.png' %}" alt="Form">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="">To</label>
                                            <div class="inicon">
                                                <input name="pickup_to" id="pickup-to" type="text" class="form-control">
                                                <img src="{% static 'base/images/map-marker.png' %}" alt="Form">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="">Parcel Type</label>
                                            <select name="vehicle" id="vehicle" class="form-control select-styled">
                                                {% for obj in vehicle %}
                                                <option value="{{ obj.id }}">{{ obj.caption }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0  mt-30">
                                        <div class="col-sm-12"><button id='btn-pickup' class="btn btn-secondary fs-13 gotham bold large uppercase unstroke btn-block">request for A QUOTE</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-apps">
        <div class="container text-center">
            <div class="dwn-app">
                {% if home.under_banner_text %}
                        {{ home.under_banner_text }}
                {% else %}
                        Get us on the go! Download the Uncle Frank app
                {% endif %} 

            <a href="https://itunes.apple.com/" class="app-btn"><img src="{% static 'base/images/btn-app-sm.png' %}" alt="download"></a></div>
        </div>
    </section>

    <div class="brick brick-service">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="service-case text-center">
                        <div class="sc-icon">
                            <img src="{% if home.service1_image %}{{ home.service1_image.url }}{% else %}{% static 'base/images/icon-courier.png' %}{% endif %}" alt="Courier service" title="Courier service">
                        </div>
                        <h3 class="sc-title">
                    {% if home.service1_title %}
                        {{ home.service1_title }}
                    {% else %}
                        Courier Service
                    {% endif %}

                        </h3>
                        <p>
                    {% if home.service1_desc %}
                        {{ home.service1_desc|safe }}
                    {% else %}
                            See available Drivers in real time, set pickup and drop-off locations, and easily choose from your favorite locations.
                    {% endif %}
                        </p>
                        <a href="/page/service" class="linked">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-case text-center">
                        <div class="sc-icon">
                            <img src="{% if home.service2_image %}{{ home.service2_image.url }}{% else %}{% static 'base/images/icon-pickup.png' %}{% endif %}" alt="Passenger Pickup" title="Passenger Pickup">
                        </div>
                        <h3 class="sc-title">
                    {% if home.service2_title %}
                        {{ home.service2_title }}
                    {% else %}
                        Passenger Pickup
                    {% endif %}
                        </h3>
                        <p>
                    {% if home.service2_desc %}
                        {{ home.service2_desc|safe }}
                    {% else %}
                            Book within seconds and get instant confirmations. Easy online payments. Booking car rentals will never be a headache again!
                    {% endif %}
                        </p>
                        <a href="/page/service" class="linked">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brick brick-featured">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading text-center">
                    <h2 class="bh-title">
                {% if home.features %}
                    {{ home.features }}
                {% else %}
                    Features
                {% endif %}

                    </h2>
                    <p class="bh-sub-title">
                {% if home.features_desc %}
                    {{ home.features_desc|safe }}
                {% else %}
                    All your transportation needs in one place
                {% endif %} 

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="sc-icon">
                            <img src="{% if home.feature1_image %}{{ home.feature1_image.url }}{% else %}{% static 'base/images/ficons/1.png' %}{% endif %}" alt="EFFICIENT" title="EFFICIENT">
                        </div>
                        <h4 class="fc-title">
                    {% if home.feature1_title %}
                            {{ home.feature1_title }}
                    {% else %}
                        Easy to Use
                    {% endif %}

                        </h4>
                        <p>
                    {% if home.feature1_desc %}
                            {{ home.feature1_desc|safe }}
                    {% endif %} 
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img src="{% if home.feature2_image %}{{ home.feature2_image.url }}{% else %}{% static 'base/images/ficons/2.png' %}{% endif %}" alt="INNOVATIVE" title="INNOVATIVE">
                        </div>
                        <h4 class="fc-title">
                    {% if home.feature2_title %}
                            {{ home.feature2_title }}
                    {% else %}
                        Transparent Pricing
                    {% endif %}

                        </h4>
                        <p>
                    {% if home.feature2_desc %}
                            {{ home.feature2_desc|safe }}
                    {% endif %}    
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img src="{% if home.feature3_image %}{{ home.feature3_image.url }}{% else %}{% static 'base/images/ficons/3.png' %}{% endif %}" alt="PRECISE" title="PRECISE">
                        </div>
                        <h4 class="fc-title">
                    {% if home.feature3_title %}
                            {{ home.feature3_title }}
                    {% else %}
                        Cashless Transactions
                    {% endif %}

                        </h4>
                        <p>
                    {% if home.feature3_desc %}
                            {{ home.feature3_desc|safe }}
                    {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img src="{% if home.feature4_image %}{{ home.feature4_image.url }}{% else %}{% static 'base/images/ficons/4.png' %}{% endif %}" alt="SECURE" title="SECURE">
                        </div>
                        <h4 class="fc-title">
                    {% if home.feature4_title %}
                            {{ home.feature4_title }}
                    {% else %}
                        Automatic Updates
                    {% endif %}

                        </h4>
                        <p>
                    {% if home.feature4_desc %}
                            {{ home.feature4_desc|safe }}
                    {% endif %}  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "base/footer.html" %}

    <div class="modal fade modal-request-quote modal-mid" id="myModal" tabindex="-1" role="dialog" aria-labelledby="reQuoteLabel">
    <div class="modal-dialog modal-center" role="document">
      <div class="modal-content"  id="modal-body">

      </div>
    </div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/plugins/browserclass.js' %}"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzyZntqyyPWvWF5bTwyngLloKhJ7RVM_Y&libraries=places&callback=initMap"
    async defer></script>
    <script>
        // $(document).ready(function(){

           
                    
        // });
    </script>
    <script type="text/javascript">
        var map;
      function initMap() {
        var input_to = document.getElementById('currier-to');
        var input_form = document.getElementById('currier-form');
        var pickup_form = document.getElementById('pickup-from');
        var pickup_to = document.getElementById('pickup-to');
        var options = {
            types: ['establishment'],
            componentRestrictions: {country: 'SG'}
        };

        autocomplete1 = new google.maps.places.Autocomplete(input_to, options);
        autocomplete = new google.maps.places.Autocomplete(input_form, options);
        autocomplete = new google.maps.places.Autocomplete(pickup_form, options);
        autocomplete = new google.maps.places.Autocomplete(pickup_to, options);
        
      }

    </script>
    <script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/framework/bootstrap.js' %}"></script>
    <script type="text/javascript">
            $(document).ready(function() {
                //home page image
                function stateAcInactive() {
                    $('.nav-teaser-form li').each(function() {
                    var dataActImg = $(this).find('img').attr('data-active-img');
                    var dataInactImg = $(this).find('img').attr('data-inactive-img');

                    if ($(this).hasClass('active')) {
                    $(this).find('img').attr('src', dataActImg);
                    } else {
                    $(this).find('img').attr('src', dataInactImg);
                    }
                    });
                    }
                    stateAcInactive();
                    $(document).on('click', '.nav-teaser-form li', function() {
                    stateAcInactive();
                    });
            
                $('#courier-form').formValidation({
                    message: 'This value is not valid',
                    icon: {
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        currier_form: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Collection address is required'
                                }
                            }
                        },
                        currier_to: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Delivery address is required'
                                }
                            }
                        },                       
                    }
                }).on('success.form.fv', function(e) {
                    // Prevent form submission
                    e.preventDefault();
                    var value1 = $('#currier-form').val();
                    var value2 = $('#currier-to').val();
                    var value3 = $('#package').val();
                    var value4 = $('#quantity').val();

                    $.ajax({
                        url: '/customer/courier/',
                        type:'POST',
                        data:{
                            'courier-from': value1,
                            'courier-to': value2,
                            'package': value3,
                            'quantity': value4,
                        },
                        success:function(msg){
                            //alert(msg);

                            $("#modal-body").html(
                            '<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><i class=\"fa fa-times\" aria-hidden=\"true\"></i></button>'+
                            '<div class=\"modal-header text-center\">'+
                              '<h3 class=\"title fs-24 uppercase color-primary\">Approximate Cost For Courier</h3>'+
                              '<h5 class=\"sub-title\">Below is an estimate for your pickup request:</h5>'+
                            '</div>'+
                            '<div class=\"modal-body no-padd\">'+
                              '<table class="table table-striped table-cab-details mb-0">'+
                                '<tbody>'+
                            '<tr>'+
                              '<td>'+'<span class=\"title\">'+'Same Day delivery charge:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.same_day +'</span></td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td>'+'<span class=\"title\">'+'Next Day delivery charge:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.next_day +'</span></td>'+
                            '</tr>'+'<tr>'+
                              '<td>'+'<span class=\"title\">'+'Two days delivery charge:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.two_day +'</span></td>'+
                            '</tr>'+
                            '</tbody>'+
                              '</table>'+
                            '</div>'+
                            '<div class=\"modal-footer mod-foo-text-center\">'+
                              '<button type=\"submit\" data-dismiss=\"modal\" class=\"btn btn-secondary unstroke big gotham normal uppercase fs-15 mt-10 btn-afix\">Close</button>'+
                            '</div>');

                            $("#myModal").modal("show");
                            //console.log(msg);
                        }
                    });

                    //alert("your form has submited");
                    // The form will submit with ajax call and, and the modal
                    //data will loded on the model on the callback function
                    //<!--$("#myModal").modal("show"); -->
                });
                // Submit the Pickup form

                $('#pickup-form').formValidation({
                    message: 'This value is not valid',
                    icon: {
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        pickup_from: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Pickup address is required'
                                }
                            }
                        },
                        pickup_to: {
                            row: '.col-sm-12',
                            validators: {
                                notEmpty: {
                                    message: 'Dropoff address is required'
                                }
                            }
                        },                       
                    }
                }).on('success.form.fv', function(e) {
                    // Prevent form submission
                    e.preventDefault();
                    var type_id = $('#vehicle').val();
                    $.ajax({
                        url: '/apis/get_pickup_price/'+type_id+'/',
                        type:'GET',
                        success:function(msg){
                            $("#modal-body").html(
                            '<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><i class=\"fa fa-times\" aria-hidden=\"true\"></i></button>'+
                            '<div class=\"modal-header text-center\">'+
                              '<h3 class=\"title fs-24 uppercase color-primary\">Approximate Cost for Passenger Pickup</h3>'+
                              '<h5 class=\"sub-title\">For '+ msg.vehicle_name + ' Type vehicle:</h5>'+
                            '</div>'+
                            '<div class=\"modal-body no-padd\">'+
                              '<table class="table table-striped table-cab-details mb-0">'+
                                '<tbody>'+
                            '<tr>'+
                              '<td>'+'<span class=\"title\">'+'Base Fare'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.base_fare +'</span></td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td>'+'<span class=\"title\">'+'Rate:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.rate +'</span></td>'+
                            '</tr>'+'<tr>'+
                              '<td>'+'<span class=\"title\">'+'Waiting charge:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.waiting_charge +'</span></td>'+
                            '</tr>'+
                            '</tbody>'+
                              '</table>'+
                            '</div>'+
                            '<div class=\"modal-footer mod-foo-text-center\">'+
                              '<button type=\"submit\" data-dismiss=\"modal\" class=\"btn btn-secondary unstroke big gotham normal uppercase fs-15 mt-10 btn-afix\">Close</button>'+
                            '</div>');
                            $("#myModal").modal("show");
                            //console.log(msg);
                        }
                    });


                });

            });
        </script>

</body>

</html>
