<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        {% block extrameta %}{% endblock %}

        <title>{% block title %}Uncle Frank{% endblock %}</title>

        <link href="{% static 'base/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'base/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'base/css/formValidation.min.css' %}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block extracss %}{% endblock %}

        <script src="{% static 'base/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>

    {% block nav %}
        {% include "base/nave_top.html" %}
    {% endblock %}


    {% block content %}{% endblock %}
         
          
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'base/js/formValidation.min.js' %}"></script>
    <script src="{% static 'base/js/framework/bootstrap.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/plugins/browserclass.js' %}"></script>
    
    {% block extrajs %}{% endblock %}
    

    </body>
</html>