{% load staticfiles %}
<nav class="navbar navbar-default navbar-base">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% if home.logo %}{{ home.logo.url }}{% else %}{% static 'base/images/logo.png' %}{% endif %}" alt="Uncle Frank">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-main">
                    <li class="{% if about %} active {% endif %}"><a href="/page/about">About Uncle Frank <span class="sr-only">(current)</span></a></li>
                    <li class="{% if service %} active {% endif %}"><a href="/page/service">Services</a></li>
                    <li class="{% if join_us %} active {% endif %}"><a href="/page/join_us">Join Us</a></li>
                    <li class="{% if corporate %} active {% endif %}"><a href="/page/corporate">Corporate</a></li>
                    <li class="{% if contact_us %} active {% endif %}"><a href="/page/contact_us">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-logs">
                    <li><a href="/customer/accounts/login"><i class="fa fa-lock"></i> Login</a></li>
                    <li class="register"><a href="/customer/register"><i class="fa fa-pencil"></i> Register Here</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>