<html>


{% block body %}
{% block content %}
{% if user %}

<form method="get" action="accounts/logout">
    <button type="submit">Logout</button>
</form>


<h1>Welcome, {{user.first_name}}</h1>
{% for account in user.socialaccount_set.all %}
<p><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>
{% endfor %}
{% endif %}
{% endblock content %}
{% endblock body %}
</html>
