{% extends "base/layout.html" %}

{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="user-dashpage image-cover" style="background-image: url('{% static 'base/images/bgDash/1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="log-card">
                        <div class="text-center">
                            <a class="dashpage-brand" herf="/">
                                <img src="{% static 'base/images/logo.png' %}" alt="Uncle Frank">
                            </a>
                        </div>
                        <div class="text-center">
                            <h1 class="ud-title montserret normal uppercase">create an account</h1>
                        </div>
                        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                          {% csrf_token %}
                          {{ form.as_p }}
                          {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                          {% endif %}
                          <button type="submit" class="btn btn-primary btn-block btn-afix huge fs-15 gotham semi unstroke uppercase btn-block">{% trans "Sign Up" %} &raquo;</button>
                        </form>

                    </div>
                    <div class="mt-20">
                        <a href="/" class="fs-15 gotham semi white uppercase"><i class="fa fa-home"></i> Go to Home</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
